
html {
	padding: 0px;
	margin: 0px;
}
/*
 * General settings
 */
body, table, div, p, dl, button {
	font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
table {
	border-collapse: collapse; /* Do not show table borders*/
}


.small {
	font-size: small;
}
/* @group Heading Levels */

h1 {
	font-size: 140%;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 0px;
	line-height: 55px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	color: #FFFFFF;
	background-color: #32739d;
	background-image: linear-gradient(90deg,#32739d 30%, white 80%);
	height: 55px;
}

h2 {
	border-bottom: solid 1px #32739d;
	border-radius: 0px;
    padding: 2px 10px 2px 10px;
    background-color: #E8F0FF;
    margin-top: 1em;
	font-size: 120%;
	color: #32739d;
	font-style: italic;
	font-weight: bold;
    padding: 2px;
	box-shadow: 2px 2px 3px #32739d;;
}

h3 {
	font-size: 100%;
	border-bottom: solid 2px #32739d;
  margin: 2px;
  padding-bottom: 0px;
}
/* @group Link Styling */

a {
	color: #3D578C;
	font-weight: normal;
	text-decoration: none;
}

.contents a:visited {
	color: #4665A2;
}

a:hover {
	text-decoration: underline;
}


body {
  background-color: #32739d;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: black;
}

div.center {
		text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
div.navigate {
	background-image: url(/media/navigation-background.jpg);
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    padding-right: 0px;
    padding-left: 0px;
    padding-top:0px;
    margin: 0px 0px 0px 0px;
    width: 189px;
    height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

div.navigate li {
	list-style: none;
	width: 100%;
}

/* Fixing bootstrap body line-height */
body > xml > div.navigate > ul{
	line-height: 16px;
	margin-top: 15px;
}

div.navigate a {
	color: white;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
}
div.navigate a:hover {
	background-color: white;
	color: #32739d;
	border-radius: 2px;
}
div.content {
	background-color: white;
	color: black;
	position: absolute;
	left: 190px;
	right: 0;
	top:55px;
	bottom:0;
	overflow:auto;

}

.error {
    background-color: red;
    color: white;
    font-family: monospace;
    font-weight: bold;
    white-space: pre;
    border-radius: 5px;
}

.success {
	background-color: green;
	color: white;
	font-family: monospace;
	font-weight: bold;
	white-space: pre;
	border-radius: 5px;
}
.code {
		background-color: white;
    font-family: monospace;
    white-space: pre;
    border: solid 1px black;
    box-shadow: 5px 5px 5px #888;
    padding: 1em;
}
.warning {
		background-color: gold;
		color: black;
		border: solid 1px orangered;
		border-radius: 5px;
		box-shadow: 5px 5px 8px darkred;
}
.box {
	background-color: #E8F0FF;
	border: solid 1px #32739d;
	border-radius: 10px;
    padding: 2px;
	box-shadow: 2px 2px 8px #888;
}
span.box {
	padding: 0px;
	background-color: #FFF;
	margin-right: 10px;
 	box-shadow: 5px 5px 8px #888;
}
span.box a{
	padding: 0px 2px;
 	cursor: pointer;
}
span.box a:hover {
	background-color:#32739D;
	color:#FFF;
	border-radius: 10px;
	text-decoration: none;
	cursor: hand;
}
.tooltip span {
	color: #111;
}

.toggle {
	margin: -2px 1px 1px 1px;
	display: none;
	padding: 10px;
	border: solid 1px #888;
	box-shadow: 8px 8px 8px #888;
}
.expand-open {
	display: list-item;
	list-style-type: none;
}
.expand-open:before {
	content: "\25BC";
	color: #3D578C;
}
.expand-closed {
	display: list-item;
	list-style-type: none;
}
.expand-closed:before {
	content: "\25BA";
	color: #3D578C;
}

#Inhalt {
    float: right;
    width: 20em;
    border: dotted 1px #32739d;
    border-radius: 0px;
    color: #32739d;
    background-color: #E8F0FF;
    font-size: 90%;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em;
    background: white;
}
ul#Inhalt li{
    list-style: none;
}
div.rightpane {
	margin-right: 21em;
}
tr.underline {border-bottom: 1px solid #32739d;}
td.right {text-align: right;}
td.top {vertical-align: top;}
td.highlight
{
    background-color: #E8F0FF;
    font-weight: bold;
}

li.plus {
	list-style-image: url(/media/plus-small.png);
	font-style: italic;
}
li.minus {
	list-style-image: url(/media/minus-small.png);
	font-style: italic;
}

hr {
    background-color: #32739d;
}

textarea {
	font-family: sans-serif;
	font-size: small;
}
.topimage {    text-align: center;
		  padding: 0px 0px 0px 0px;
		  margin: 0px 0px 0px 0px;
}
.topimage img { width: 32%;
		   padding: 0px 0px 0px 0px;
		   margin: 0px 0px 0px 0px;
}
input[type=text][readonly] {
	color: #888888;
	border: none;
}

a.filelink {
	background-image: url(/media/shimmer/document_16.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}

 .tooltip {outline:none; }
 .tooltip strong {line-height:30px;}
 .tooltip:hover {text-decoration:none;}
 .tooltip span {
 		z-index:10;
 		display:none;
 		padding:5px 5px;
 		margin-top:-5px;
 		margin-left:5px;
 		/*width:240px;
 		line-height:16px; */}
 .tooltip span a {
 		color:#3D578C;
 }
 .tooltip:hover span{
 		display:inline;
 		position:absolute;
 		/*color:#111;*/
 		border:1px solid #DCA;
 		background:#fffAF0;
 		z-index: 100;
 	}
 .callout {
 		z-index:20;
 		position:absolute;
 		top:30px;
 		border:0;
 		left:-12px;
 		}
 	/*CSS3 extras*/
 .tooltip span {
 	border-radius:4px;
 	box-shadow: 5px 5px 8px #888;
 	}
 	textarea.markdown {

 	}
