<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="http://www.w3.org/1999/xhtml">
    <py:block name="scripts">
        <!-- insert additional scripts -->
        <script type="text/javascript" src="${conf.root_url}/media/js/site-filter.js"/>
        <script>
            // <![CDATA[
            $(() => {
                function makePages(data) {
                    let pages = Math.ceil(data.count / data.limit)
                    let options = ''
                    for (let i = 1; i <= pages; i++) {
                        options += '<option value="' + i + '">' + i + ' / ' + pages + '</option>'
                    }
                    $('#page').html(options).val(data.page)

                }
                function applyFilter(item) {

                    var filter = new SiteFilter(item).populate_form()

                    if ($('#limit').val()) {
                        filter.limit = +$('#limit').val()
                        filter.page = $('#page').val()
                    }

                    filter.apply((data) => {
                        let html = ''

                        $.each(data.sites, (index, site) => {
                            html += '<a class="list-group-item list-group-item-action w-100" href="${conf.root_url}/site/' + site.id + '">' +
                                '<img src="${conf.root_url}/media/mapicons/' + site.icon + '"><span class="ms-4 me-4">#' + site.id + '</span>' + site.name + '</a>'
                        })
                        $('#site-list').html(html)
                        $('#site-list-count').html(((data.page - 1) * data.limit) + ' - ' + (data.page * data.limit) + ' of ' + data.count + ' sites');
                        makePages(data)

                    })
                }
                function pageChange(e) {
                    let dir = $(e.target).data('dir');
                    let page = $('#page').val()
                    if (dir === '-' && page > 1) {
                        page--;
                    } else if (dir === '+' && page < parseInt($('#page option:last').val())) {
                        page++;
                    }
                    $('#page').val(page).trigger('change')
                }

                applyFilter('site-filter')
                $('.filter').on('change', applyFilter)
                $('.page').on('click', pageChange)
                $('#limit').on('change', applyFilter)
                $('#page').on('change', applyFilter)
                $('.export').on('click', event=>{
                    let filter = new SiteFilter();
                    filter.format=$(event.currentTarget).data('format')
                    window.location = 'export?' + $.param(filter)
                })
                $('#gotosite-btn').on('click', () =>  {
                    window.location.href=odmf_ref('/site/') + $('#goto').val();
                });


            })
            // ]]>
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid">
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <button class="btn btn-secondary" id="gotosite-btn"
                    >
                        <i class="fas fa-map-location-dot" />
                    </button>
                </div>
                <input class="form-control" type="number" id="goto" tabindex="1" placeholder="site-id"
                       title="Go directly to a site by entering the id" data-bs-toggle="tooltip"/>
            </div>
            <div>
                <a href="./new#edit" class="btn btn-primary w-100 mb-1"><i class="fas fa-plus me-2"/>new site</a>
                <a href="#import" id="toggleimport"  data-bs-toggle="collapse"
                   class="btn btn-secondary w-100 mb-1"
                   aria-haspopup="true" aria-expanded="false"
                >
                    <i class="fas fa-file-import"/> import
                </a>

            </div>
            <div class="dropdown w-100">
                <button id="toggleexport"  data-bs-toggle="dropdown"
                        class="btn btn-secondary dropdown-toggle w-100"
                        aria-haspopup="true" aria-expanded="false"
                >
                    <i class="fas fa-file-export"/> export
                </button>
                <div class="dropdown-menu" id="exportdiv" aria-labelledby="toggleexport">
                    <a class="dropdown-item export" data-format="xlsx">
                        <i class="fas fa-file-excel me-4"/> Excel
                    </a>
                    <a class="dropdown-item export" data-format="csv">
                        <i class="fas fa-file-csv me-4" /> CSV
                    </a>
                    <a class="dropdown-item export" data-format="tsv">
                        <i class="fas fa-file me-4" /> TSV
                    </a>
                    <a data-format="json" class="dropdown-item export">
                        <i class="fas fa-file-code me-4"/> JSON
                    </a>
                </div>
            </div>


        </div>
        <div class="mt-3 h3 alert alert-secondary">

            <i class="fas fa-filter me-2"/>Filter

        </div>
        <div id="filter" class="card card-body" >
            <py:include href="site/site-filter.html"/>
        </div>

    </py:block>
    <py:block name="content">
        <!-- insert main content -->

        <div class="container">
            <ul class="nav bg-light p-1 border mb-1">
                <li id="site-list-count" class="nav-item my-auto mx-3 h4">0 sites</li>
                <li class="nav-item my-auto mx-3">
                    <div class="input-group">
                        <span class="input-group-text">sites/p:</span>
                        <input class="form-control" type="number" id="limit" value="50" title="sites per page" />
                        <span class="input-group-text">page:</span>
                        <button class="btn btn-secondary page" data-dir="-" title="previous page">&lt;</button>
                        <select class="form-control form-select page" type="number" id="page" title="Datasets per page" >
                            <option value="1">1 / 1</option>
                        </select>
                        <button class="btn btn-secondary page" data-dir="+" title="next page">&gt;</button>

                    </div>
                </li>
            </ul>
            <div class="container collapse border rounded bg-light p-2 mb-4" id="import">
                <h3>Import sites</h3>
                <hr/>
                <h4>Import tabular data</h4>
                <div>
                    When you import sites, note that the tabular data <strong>must</strong> have the columns
                    <code>name, lat, lon</code>. Lat and lon are the geographic coordinates on a WGS84 reference ellipsoid.
                    Optionally the column names <code>height, icon, comment</code>
                    are used.
                </div>
                <h4>Import geojson data</h4>
                <div>
                    If you are importing geospatial data in geojson form, the projection
                    of the data <strong>must</strong> be given and translatable in WGS84 (EPSG:4326). Each feature
                    <strong>must</strong> have a <code>name</code> property. You should provide an <code>icon</code> property giving a name of an icon file.
                    If no icon is fitting, please create new ones and ask a site administrator to install them.
                    Optionally property names <code>height, comment</code>
                    are used to describe the site. <code>strokewidth, strokecolor, strokeopacity, fillcolor, fillopacity</code>
                    can be given for the appearance of the geometry. GeoJSON files can be created with QGIS from most geospatial data, tutorials are simple to find with
                    common search machines, like this one: <a href="https://support.tygron.com/wiki/How_to_create_a_GeoJSON_in_QGIS">How_to_create_a_GeoJSON_in_QGIS</a>
                </div>
                <div py:if="not is_member(Level.supervisor)" class="alert alert-warning">
                    For bulk import of sites you need to have have ${Level.supervisor.name} level.
                </div>
                <form method="post" action="${conf.url('bulkimport')}" enctype="multipart/form-data"  py:if="is_member(Level.supervisor)">
                    <div class="row mt-3">
                        <label for="file" class="col-sm-3 col-form-label" >Site file:</label>
                        <div class="col-sm-8">
                            <input type="file" class="custom-file-input form-control"
                                   name="file" id="file" accept=".xlsx,.geojson,.csv,.parquet"/>
                        </div>
                        <div class="col-sm-1 d-flex">
                            <button type="submit" class="btn btn-success" name="table" value="site"><i class="fas fa-check"/></button>
                        </div>
                    </div>
                    <div class="alert alert-warning mt-2">
                        <strong>If something went wrong:</strong> <a href="${conf.url('bulkimport')}" class="ms-1 btn btn-warning" data-bs-toggle="tooltip" title="undo imports"><i class="fas fa-arrow-rotate-left"></i> undo bulk import</a>
                    </div>

                </form>
            </div>

            <div class="list-group" id="site-list">
            </div>

        </div>
    </py:block>
</py:extends>
