*.egg-info
**/webpage/datafiles/**
**/webpage/sessions/**
**/webpage/preferences/**
*.pyc
venv*
**/.pytest_cache/**
.idea
.coverage
*.log
instances
dist
build
/*instance*/
node_modules
bower_components