language: python
python:
  - "3.6"
cache: pip

os:
  - linux

install:
  - pip install -r requirements.txt

script:
  - cp tests/conf-test-local.py odmf/conf.py
  # make os environment ready
  - (cd odmf; ./install.sh)
  - (cd odmf; python start.py &)
  # Timouts to let the server start up
  - sleep 7
  # Run acceptance tests
  - cd tests; ./run_tests

# TODO: also include postgres-scripts
