# may be outdated

bcrypt
chardet
cherrypy==14.1.0
configparser==3.5
genshi==0.7
markdown==2.3.1
matplotlib
pandas==0.13.1
psycopg2==2.7.4
pytz==2016.10
sqlalchemy==1.2.2
xlrd==1.0.0
bleach==2.1.2

# woftester only
lxml

# tests only
requests
