setuptools>=39.0
wheel>=0.30
python-dateutil

charset_normalizer
PyYAML>=5.1
Pillow>=9.2.0
cherrypy>=18.0.0
kajiki
markdown
matplotlib

# scientific python
pandas
scipy
xlrd==2.0.1
numba>=0.50.0
openpyxl>=3.0.7
asteval>=0.9.25
pyarrow
# database
pytz

sqlalchemy>=2.0.0
bcrypt
bleach>=3.1.0

click>=7.0
humanize
# using plotly backend
plotly
kaleido

# file handlers
mammoth   # converts docx files to html

# Interactive
ipython>=8.0.1

requests
# Tests
pytest
coverage

# woftester only
lxml
coloredlogs

geopandas
