<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />-->
    <link rel="stylesheet" href="/media/css/css/bootstrap.css" type="text/css"/>

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ImportToDB</title>
	<link href="/media/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
  <script src="/media/jquery-1.7.1.min.js" type="text/javascript" ></script>
  <script src="/media/jquery-ui-1.8.18.custom.min.js" type="text/javascript" ></script>

	<script>
	//<![CDATA[

	var gg_site;
	// Variable holds the actual site selection, this is important
	// for the #siteselect change event listener

	$(function() {
		gg_site = $('#siteselect').val();

		/*
		 * Event listener for Site selection
		 */
		$('#siteselect').change( function () {

			if(gg_site != $('#siteselect').val()) {
				 // If site is not the chosen one ... disable import and reset
				 // the periods
				$('#importdb').prop('disabled', true);
				$('#periodes').html('Click "Load statistics" for new periods');
				gg_site = -1;
			} else {
				 // If otherwise enable import
                $('#importdb').prop('disabled', false);
            }

			// Reload datasets
			onsiteselect();
		});
	});


	  function toggle(id) {
      	$('#'+id).slideToggle('fast');
      }

			function get_sites() {
				var instrument = $('#instrument').val();
				var site = $('#siteselect').val();
				html = '<option value=""><i>Please select...</i></option>';

				console.log("Instrument: " + instrument);

				if (instrument) {
					$.getJSON('/site/with_instrument/' + instrument, {}, function(data){
						$.each(data,function(index,item){
							html+='<option value="'+item.id+'">#'+item.id+' ('+item.name+')</option>';
						});
						//$('.error').html(html);
						$('#siteselect').html(html);
						$("#siteselect").val(site);
					});
				}
											
			}
			function showconfig(href) {
				$('#configtext').load(href).slideToggle();
			}
			function submitform() {
				document.forms[0].submit();
				/*var instrument = $('#instrument').val();
				var site = $('#siteselect').val();
				var url='.?filename=' + $('#filename').val();
				if (instrument) url+='&instrument=' + instrument;
				if (site) url+='&site=' + site;
				window.location.href=url;
				*/
			}
			function onsiteselect() {
				var instrument = $('#instrument').val();
				var site = $('#siteselect').val();
				if (site) {
					$.getJSON('/dataset/json',{site:site,instrument:instrument},function(data){
						var html='';
						$.each(data,function(index,item){
								html+='<li><a href="/dataset/'+item.id+'">'+item.label+'</a></li>';
						});
						$('#datasets').html(html);
						// $('#coverage').html('<img src="/dataset/plot_coverage/' + site + '"/>');
						$('#loadstat').prop('disabled',false);
					});
				} else {
					$('#loadstat').prop('disabled',false);
				}
				$('#startdate').val('');
				$('#enddate').val('');
			}
			function setdates(start,end) {
				$('#startdate').val(start);
				$('#enddate').val(end);
      	$('#importdb').prop('disabled',false);
      	$('.startend').slideDown();
			}

      $(function() {
        	$(".datepicker").datepicker({
        		maxDate:"0", dateFormat: 'dd.mm.yy' 
        	});
        	get_sites();
        	onsiteselect();
        });
			//]]>
	</script>
	<style>
		select {width: 100%;}
		.datepicker {width: 100%;}
		td,th {padding: 5px; border-bottom: solid 1px #888; font-size: small;}
		th {background-color: #E8F0FF;}
		.startend {
			display: none;
		}
	</style>
</head>
<body>
	<!--
		Variables:
		di module dataimport
		error
		filename
		instrumentid
		siteid
		gaps - time gaps between datasets in the form [(startdate,enddate)] 
		stats
		 -->
	${navigation('Import to database')}
	<div class="content">
        <div>
            <a href="javascript:toggle('errors')">&#x25BE; Errors<span id="errorcount"></span></a>
        </div>
        <div class="error" id="errors" py:content="error" />

    <a href="/download?dir=${dirlink}">back to download...</a>
    <h2>Import specifications</h2>
   	<form action="/download/to_db/" method="post">
	   <table>
	    	<tr>
	    		<td>
	    			File for upload:
	    		</td>
	    		<td>
	    			<input type="text" id="filename" name="filename" value="${filename}" size="50" />
	    		</td>
	    	</tr>
	    	<tr>
	    		<td>
				    Adapter:		
	    		</td>
	    		<td>
				    <select py:if="not config"
				    				id="instrument" name="instrument" onchange="get_sites();">
							<option value=""><i>Please select...</i></option>
							<option py:for="adapter in di.available_adapters()"
												py:attrs="markoption(adapter.id == instrumentid)"
												py:content="adapter"
												value="${adapter.id}" />
						</select>
						<div py:if="config">
							<input type="hidden" id="instrument" name="instrument" value="${config.instrument}" />
							<a href="javascript:showconfig('${config.href}')" py:content="config.href" />
							<div class="small">
								Please check the configuration. Copy the fitting .conf file to the directory of the file!
							</div> 
							<div class="toggle small code" id="configtext" />							
						</div>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td>
	    			Site:
	    		</td>
	    		<td>
						<select id="siteselect" name="site">
								<option value=""><i>Please select...</i></option>
								<option py:if="siteid" value="${siteid}" selected="selected">#${siteid}</option>
						</select>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td>
	    			Periodes:
	    		</td>
	    		<td>
	    			<div py:for="g in (gaps or [])" class="small" id="periodes">
	    				<input type="radio" name="gap" value="${formatdate(g[0])} - ${formatdate(g[1])}"
	    							 onclick="setdates('${formatdatetime(g[0])}','${formatdatetime(g[1])}')" />
	    				${formatdate(g[0])} - ${formatdate(g[1])}
	    			</div>
	    		</td>
	    	</tr>
	    	<tr class="startend">
	    		<td>
	    			Start date:
	    		</td>
	    		<td>
	    			<input name="startdate" id="startdate" type="text" class="datepicker" 
	    						 value="${formatdatetime(gaps[0][0]) if gaps else ''}"/>
	    		</td>
	    	</tr>
	    	<tr class="startend">
	    		<td>
	    			End date:
	    		</td>
	    		<td>
	    			<input name="enddate" id="enddate" type="text" class="datepicker" 
	    						 value="${formatdatetime(gaps[0][1]) if gaps else ''}"/>
	    		</td>
	    	</tr>
	    </table>
	    <input type="submit" name="loadstat" id="loadstat" value="load statistics" disabled="disabled"/>
	    <h3><a href="javascript:toggle('datasets')">&#x25BE; Similar datasets</a></h3>
	    <ul id="datasets" class="toggle small" >
	    	<li>No datasets loaded</li>
	    </ul>
	    <div py:if="stats">
		    <h2>Statistics for ${filename}</h2>
		    <table id="statistics">
					<tr>
						<th>item</th><th>Mean</th><th>Min</th><th>Max</th><th>n</th><th>start</th><th>end</th>
					</tr>
					<tr py:for="k,item in stats.items()">
						<tr>
							<td py:content="k" />
							<td py:content="('%g' % item.mean) if item.n else 'N/A'" />
							<td py:content="'%g' % item.min" />
							<td py:content="'%g' % item.max" />
							<td py:content="'%i' % item.n" />
							<td py:content="formatdatetime(item.start)" />
							<td py:content="formatdatetime(item.end)" />
						</tr>
					</tr>    
				</table>
		  </div>
			<input id="importdb" type="submit" name="importdb" value="start import" disabled="disabled"/>
		  <div py:if="datasets">
		  	<h2>
		  		New datasets
		  	</h2>
		  	<ul>
					<li py:for="k,dsid in datasets.items()">${k}:
						<a href="/dataset/${dsid}">ds${dsid}</a>
					</li>

		  	</ul>
		  	
		  </div>
	  </form>
	</div>
</body>
</html>
