<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>${title}</title>
	<!--more for the head-->
	<style>
	input { width: 100%;}
	select { width: 100%;}
	</style>
</head>
<body>
	${navigation(title)}
	<div class="content">
    <div class="error" py:content="error" />
    <div id="content">
    	<!--content goes here-->
    </div>
  </div>
</body>
</html>