<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/media/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
  <script src="/media/jquery-1.7.1.min.js" type="text/javascript" />
  <script src="/media/jquery-ui-1.8.18.custom.min.js" type="text/javascript" />
  <script>
	$(function() {
		$(".datepicker").datepicker({maxDate:"0", dateFormat: 'dd.mm.yy' });
	});
	function setmsg(text,label) {
		$('#message').text(text);
		$('#msghint').html(label);
	}
  </script>


	<title>Log</title>
	<style type="text/css">
  	   .msghint {
  	   	font-weight: bold;
  	   	color: red;
  	   }

	</style>	
</head>
<body onload="initialize()">
	${navigation()}
	<h1>Logbook</h1>

	<form action="/log/saveitem" method="post">
		<div py:if="actuallog">
			<h2 py:content="'%s, %s' % (formatdate(actuallog.time),actuallog.user)" />

			<table style="width: 100%">
				<tr>
					<td>Id</td>
					<td><input name="id" value="${actuallog.id}" readonly="readonly" class="readonly"/></td>
				</tr>
				<tr>
					<td><a href="/user/${actuallog.user}">Who?</a></td>
					<td>
						<select name="user">
							<option py:for="p in session.query(db.Person)"
									py:attrs="markoption(p is actuallog.user)"
									py:content="p"
									value="${p.username}" />
						</select>
					</td>
				</tr>
				<tr>
					<td>When?</td>
					<td>
						<input name="date" class="datepicker" value="${formatdate(actuallog.time)}"/>
					</td>
				</tr>
				<tr>
					<td><a href="${'/site/%s' % (actuallog.site.id if actuallog.site else '')}">Where?</a></td>
					<td>
						<select name="site">
							<option value=""><i> &lt;Bitte wählen&gt;</i></option>
							<option py:for="s in session.query(db.Site).order_by(db.Site.name)"
									py:attrs="markoption(s is actuallog.site)"
									py:content="s"
									value="${s.id}" />
						</select>
					</td>
				</tr>
				<tr>
					<td />
					<td py:content="actuallog.site.comment if actuallog.site else ''" />
				</tr>
				<tr>
					<td>Note!</td>
					<td>
						<div class="msghint" id="msghint" /> 
					</td>
				</tr>
				<tr>
					<td>What?</td>
					<td>
						<input type="button" name="msgbutton1" value="sample taken"
							 onclick="setmsg('sample taken','Report time and water level/discharge (if applicable) to your message');" />
						<input type="button" name="msgbutton2" value="logger exchange"
							onclick="setmsg('logger exchange','Report time and water level/discharge (if applicable) to your message');" />
						<br />
						<textarea name="message" id="message"
								  style="width: 100%;"
								  rows="10" py:content="actuallog.message" />
					</td>
				</tr>
				<tr>
					<td />
					<td>

					</td>
				</tr>
			</table>
		</div>
		<input type="submit" name="save" value="Speichern" style="width: 10em;"/>						
	</form>
</body>
</html>
