<html xmlns="http://www.w3.org/1999/xhtml">
<!--
TODO: Include filter for dataset.valuetype and dataset.measured_by. Move page home to /map/kml and use html-get
-->
<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Map</title>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	
	<script type="text/javascript" src="/media/jquery-1.7.1.min.js"></script> 
	
	<script type="text/javascript">
		function initalize() {
			$('#navigation').load('/navigation');
	    var latlng = new google.maps.LatLng(50.49, 8.55);
	    var myOptions = {
	      zoom: 15,
	      center: latlng,
	      mapTypeId: google.maps.MapTypeId.HYBRID
	    };
	    
	    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	    $.getJSON('/map/sites',[],function(data) {
	    	$.each(data,function(index,item){
				//if (item.icon==null || item.icon=='') {
				if (!item.icon) {
					icon='unknown.png';
				} else {
					icon = item.icon;
				}
				
	    		var image = new google.maps.MarkerImage('/media/mapicons/' + icon,
					      new google.maps.Size(24, 24),
					      new google.maps.Point(0,0),
					      new google.maps.Point(0, 24));
		    	var marker = new google.maps.Marker({
					      position: new google.maps.LatLng(item.lat,item.lon),
	      				title:item.name,
	      				map:map,
	      				icon:image,
	  			});
	  			google.maps.event.addListener(marker,'click',function() {
							//alert(item.name)
						  $('#infotext').load('/map/sitedescription',{siteid:item.id});												
	  			});
	    	});
	    });
	    
	   
		}
	</script>

	<style type="text/css">
	  #map_canvas { height: 100%; width: 100%; }
	</style>	
	
</head>
<body onload="initalize()">
	<div id="navigation" >Navigation</div>
	<h1>Site map</h1>
	<table style="height: 90%; width: 100%;">
		<tr>
			<td width="25%" id="infotext" valign="top">
				<h3>No site selected</h3>
			</td>
			<td>
				<div id="map_canvas" style="width:100%; height:100%;" >Map</div>	
			</td>
		</tr>
	</table>
</body>
</html>
