<xml xmlns:py="http://genshi.edgewall.org/" >
	<div class="navigate" >
		<img src="/media/schwingbachlogo.png"/>
		<ul>
			<li>login: <a href="javascript:window.location='/login?frompage='+window.location.pathname;">${users.current}</a></li> 
			<li><a href="/map">map</a></li>
			<li><a href="/log">log</a></li>
			<li><a href="/site">sites</a></li>
			<li><a href="/dataset">data sets</a> </li>
			<li><a href="/valuetype">value types</a></li> 
			<li><a href="/instrument">instruments</a></li>
			<li><a href="/download">download</a></li>
			<li py:if="is_member('editor')"><a href="/user">users</a></li>
			<li py:if="is_member('editor')"><a href="/job">jobs</a></li>
		</ul>
		<a href="http://www.uni-giessen.de/cms/fbz/fb09/institute/ilr/ilr-frede" >
			<img src="http://www.uni-giessen.de/cms/fbz/fb09/institute/ilr/sidepanels/instlogo.jpg/image_preview" />
		</a>

  </div>
  

</xml>