<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Schwingbach Pictures</title>
</head>
<body>
		${navigation()}
		<div class="content">
			<h1>${image.name if image else 'Picture'}</h1>
		  <div class="error" py:content="error" />
		  <div py:if="image">
				<div>
					${formatdatetime(image.time)} by <a href="/person/${image.by.username}">${image.by}</a>
				</div>
				<div>
					Location: <a href="/site/${image.site.id}">${image.site}</a>
				</div>
				<img src="/picture/image/${image.id}" />
			</div>
			<div py:if="images and not image">
				<div py:for="image in images" style="display: inline-table;">
					<div style="display: table-cell; width:100px; height:100px;" >
						<a href="/picture?id=${image.id}">
							<img src="data:${image.mime};base64,${image.thumbnail64()}" 
										title="${image}"/>
						</a>					
					</div>
					<div style="display: table-cell; width:100px; height:100px; overflow:scroll; vertical-align: top; font-size: 75%;" >
						${formatdatetime(image.time)} <br/>
						<a href="/person/${image.by.username}" title="${image.by}">author</a>
						<br/>
						<a href="/site/${image.site.id}">${image.site}</a>
					</div>
				</div>
			</div>
		</div>

</body>
</html>