<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
<!--
TODO: Include filter for dataset.valuetype and dataset.measured_by. Move page home to /map/kml and use html-get
-->
<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<link href="/media/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>schwingbach plot</title>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>	
	<script type="text/javascript" src="/media/jquery-1.7.1.min.js"></script> 
  <script src="/media/jquery-1.7.1.min.js" type="text/javascript" ></script>
  <script src="/media/jquery-ui-1.8.18.custom.min.js" type="text/javascript" ></script>
  <script src="/media/jquery.json-2.3.min.js" type="text/javascript"></script>

	<script type="text/javascript" src="/html/plot.js">
	</script>
	<script type="text/javascript">
    $(function() {
			$(".datepicker").datepicker({maxDate:"0", dateFormat: 'dd.mm.yy' });
			$(".timepicker").autocomplete({source: timerange(15)});
	    popSelect();
    });
	</script>
	<style type="text/css">
	  .wide {width: 100%;}
	  .filter {width: 10em;}
	  .firstoption {font-style: italic;color: grey;}
	  .small {font-size: small; font-style: italic;}
  	.ui-autocomplete {
			max-height: 100px;
			overflow-y: auto;
			/* prevent horizontal scrollbar */
			overflow-x: hidden;
			/* add padding to account for vertical scrollbar */
			padding-right: 20px;
			font-size: small;
		}
		li.sp {
	    background-color: #E8F0FF;
			border-radius: 5px;
			border-top: 1px solid #000;
		}
		li.line {
			background-color: #FFF;
		}
		.spinner {
			size: 3;
		}
	</style>
		
</head>
<body>
	<datalist id="numbers"><option py:for="i in xrange(10)" value="${i}"/></datalist>
	${navigation()}
	<div class="content">
		<h1>Plot</h1>
		<div class="error" id="error"></div>
		<h2><a href="javascript:toggle('properties')">&#x25BE; Properties</a></h2>
		<div id="properties">
			<table class="small">
				<tr>
					<td></td><td>date</td><td>time</td><td/><td>width</td><td>height</td><td>subplots:</td>
				</tr>
				<tr>
					<td>start:</td>
					<td><input class="datepicker" id="startdate" size="10" value="${formatdate(plot.startdate)}"/></td>
					<td><input class="timepicker" id="starttime" size="5" value="00:00" /></td>
					<td>size:</td>
					<td><input type="text" id="plotwidth" size="5" value="${'%g' % (plot.size[0]*100)}"/></td>
					<td><input type="text" id="plotheight" size="5" value="${'%g' % (plot.size[1]*100)}"/></td>
					<td>
						<input list="numbers" value="${plot.rows}" id="plotrows" size="2"/>rows</td>
					<td>
						<button onclick="changeprops()" style="width: 8em;">
							&#x2714;
							submit...
						</button>
					</td>
				</tr>
				<tr>
					<td>end:</td>
					<td><input class="datepicker" id="enddate" size="10" value="${formatdate(plot.enddate)}"/></td>
					<td><input class="timepicker" id="endtime" size="5" value="00:00" /> </td>					
					<td/><td/><td/>
					<td><input list="numbers" value="${plot.columns}" id="plotcolumns" size="2"/>columns</td>					
					<td>
						<button onclick="$.post('clf',{},seterror);changeprops()"
										style="width: 8em;">
							<img src="/media/minus-small.png"/>
							clear plot
						</button>
					</td>
				</tr>
			</table>
			<!--
				Subplots
			-->
			<ul style="list-style-image: url(/media/shimmer/box_24.png)">
				<li py:for="sp in plot.subplots" class="sp">
					subplot ${sp.position} 
					<a href="javascript:removesubplot(${sp.position})" class="small" style="padding-left: 2em;">
						<img src="/media/minus-small.png"/>
						remove...
					</a>
					<ul style="list-style-image: url(/media/shimmer/brush_16.png)">
						<li py:for="i,l in enumerate(sp.lines)" class="small line">
							${l}
							<a href="javascript:removeline(${sp.position},${i})" class="small" style="padding-left: 2em;">
								<img src="/media/minus-small.png"/>
								remove...
							</a>
							<a href="/plot/export.csv?${'subplot=%i&amp;line=%i' % (sp.position,i)}" class="small" style="padding-left: 2em;">
								export as csv...
							</a>
						</li>
						<li class="small line">
							<button onclick="addline(${sp.position})" title="add a line">
								<img src="/media/plus-small.png"/>
							</button>
								value:
								<select id="vtselect" onchange="popSelect();" class="filter">
									<option value="" class="firstoption">Please select...</option>
								</select>
								site:
								<select id="siteselect" onchange="popSelect();" class="filter">
									<option value="" class="firstoption">Please select...</option>
								</select>
								instrument:
								<select id="instrumentselect" onchange="popSelect();" class="filter">
									<option value="" class="firstoption">Please select...</option>
								</select>
								marker:
								<select id="markerpicker">
									<option value="">none</option>
									<option value="x">x</option>
									<option value="o">o</option>
									<option value=".">.</option>
									<option value="|">x</option>
									<option value="+">+</option>
									<option value="*">*</option>
								</select>
								line:
								<select id="linepicker">
									<option value="-">-</option>
									<option value="">none</option>
									<option value=":">:</option>
									<option value="--">--</option>
									<option value="-.">-.</option>
								</select>
								color:
								<select id="colorpicker">
									<option value="k" style="background-color: #000;">k</option>
									<option value="b" style="background-color: #00F;">b</option>
									<option value="g" style="background-color: #0F0;">g</option>
									<option value="r" style="background-color: #F00;">r</option>
									<option value="y" style="background-color: #FF0;">y</option>
									<option value="c" style="background-color: #0FF;">c</option>
									<option value="m" style="background-color: #F0F;">m</option>
								</select>
						</li>
					</ul>

				</li>
				<li class="sp">
					<button onclick="javascript:addsubplot()">
						<img src="/media/plus-small.png"/>
						add subplot
					</button>
				</li>
			</ul>
		</div>
		<a href="/plot/image.pdf?create=${plot.createtime}">Plot as pdf...</a>
		<h2><a href="javascript:renderplot('plot','${plot.createtime}')">&#x25BE; Load plot</a></h2>
		<div id="plot">
			
		</div>
	</div>

</body>
</html>