<xml version="1.0" encoding="UTF-8" xmlns:py="http://genshi.edgewall.org/" >
	<!--Variables to set: actionname='action',action='/path/to/action?datasetid=1&recordid=1&frompage='/path/to/currentpage' and records. -->
	<style>
		tr.record {	border-bottom: solid 1px black;}
		td.record { border: thin dotted #32739D;
								padding-left: 0.5em; 
								padding-right: 0.5em; 
								text-align: right;
							}
	</style>
	<script>
		function action(dsid,rid) {
			$.post('${action}',{datasetid:dsid,recordid:rid}, function(data) {
				if (data) {
					alert(data);
				}
				location.reload();
			});
		}
		function commit_errors() {
			var res=''
			$(".errorcheck:checked").each(function(){
				res +=$(this).val() + ' '
			});
			$.post('/dataset/updaterecorderrors',{dataset:${dataset.id},records:res},function(data){
				$('.error').html(data);
			});
			
		}
	</script>
	<div class="small">
		<table>
			<thead class="box">
				<tr class="record box" >
					<th>ID</th>
					<th>time</th>
					<th>value</th>
					<th> </th>
					<th>comment</th>
					<th>error?</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr py:for="rec in records">
					<td class="record" py:content="rec.id" />
					<td class="record" py:content="formatdatetime(rec.time)" />
					<td class="record" py:content="'%g' % rec.value if rec.value else 'N/A'" />
					<td class="record" py:content="rec.dataset.valuetype.unit" />
					<td class="record" py:content="rec.comment" />
					<td class="record">
						<input type="checkbox" 
									 py:attrs="attrcheck('checked',rec.is_error)"
									 class="errorcheck" 
									 value="${rec.id}" />
					</td>
					<td class="record">
						<button onclick="action(${rec.dataset.id},${rec.id});"
										py:content="actionname" py:if="actionname"/> 
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td /><td /><td /><td /><td />
					<td>
						<button onclick="commit_errors()">commit</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</xml>