<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/media/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
	<script src="/media/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/media/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
  <script>
      function popSelect() {
      	$.getJSON('/site/json',[],function(data){
		  		var html='';
		  		$.each(data,function(index,item){
		  			if (item.id != ${actualsite.id}) { 
		  				html += '<option value="/site/' + item.id + '">' +'#' + item.id + ' ('+ item.name + ')' + '</option>';
		  			} else {
		  				html += '<option value="/site/' + item.id + '" selected="selected">' +'#' + item.id + ' ('+ item.name + ')' + '</option>';
		  			}
		  		});
		  		$('#siteselect').html(html);
	  	});
      }
      function popInstruments() {
      	$.getJSON('/site/getinstruments',[],function(data){
	      	var html='<option value="">Please select...</option>';
  	    	$.each(data, function(index,item){
  	    		html += '<option value="' + item.id + '">' + item.name + '</option>';
  	    	});
	      	$('#instruments').html(html);
      	});
      }
      function addinstrument() {
      	data = {instrumentid:$('#instruments').val(),
      					date:escape($('#installationdate').val()),
      					siteid:${actualsite.id}
      				};
      		if (data.instrumentid=='') {
      			location.href='/instrument/new'
      		}
      		$.post('/site/addinstrument',data,function (data,textStatus,jqHXR){
      			if (data=='') {
	      			location.reload();
	      		} else {
	      			$('.error').html(data);
	      		}          			
      		});
      }
      function removeinstrument(installationid,instrumentid) {
      	data = {instrumentid:instrumentid,
      					date:escape($('#installationdate').val()),
      					siteid:${actualsite.id},
      					installationid:installationid
      				};
      	$.post('/site/removeinstrument',data, function(data,textStatus,jqHXR) {
      			if (data=='') {
	      			location.reload();
	      		} else {
	      			$('.error').html(data);
	      		}          			
      	});    	
      }
      function startedit(id) {
      	if ($('#editarea').html()=='') {
      		$('#editarea').load('/site/edit',{siteid : id});
      	} else {
      		$('#editarea').html('');
      	}
      }
      $(function() {
		$('.datepicker').datepicker({maxDate:"0", dateFormat:'dd.mm.yy'});
		popSelect();   	
		popInstruments();
      });
  </script>

	<title>Sites</title>
	<style type="text/css">
  	   input { /*width: 100%;*/}
  	   .msghint {
  	   	font-weight: bold;
  	   	color: red;
  	   }
  	   a.highlightonhover {
  	   	background-color: #fff;
  	   	height: 36px;
  	   }
  	   a.highlightonhover:hover {
  	   	background-color: #f00;
  	   	height: 36px;
  	   }
	  select { width: 20em;}
	  .removed {
	  	color: grey;
	  }
	  .imgbutton {
	  	width: 32px;
	  	height: 24px;
	  }


	</style>	
</head>
<body onload="initialize()">
	${navigation()}
  <div class="content"> 
		<div class="error" id="errordiv" />
		<h1 py:if="actualsite"><img src="/media/mapicons/${actualsite.icon}" /> Actual site #${actualsite.id}</h1>
		<h1 py:if="not actualsite">New site</h1>
		<div class="box" style="padding:5px; margin:5px;">
			<form>Select a site:
				<select onchange="location.href=this.options[this.selectedIndex].value"
						id="siteselect"
						style="width: 20em;">
				</select>
			</form>
		</div>
		<div py:if="actualsite">
			<p py:content="actualsite" />
			<p py:content="actualsite.comment" />
			<p py:content="actualsite.as_coordinatetext() + ', UTM(%s) x=%0.1f/y=%0.1f' % actualsite.as_UTM()"/>
			<p py:if="is_member('editor')">
				<input type="button" onclick="startedit(${actualsite.id})" value="Edit..." />
				<input type="button" onclick="startedit('new')" value="New..." />
	
			</p>
			<div id="editarea" />
			<h2>Messages for this site</h2>
			<p>
				Please report briefly any actions you have performed on this site, or if you observed something unusual.
			</p>
			<ul>
				<li py:if="is_member('logger')">
					<a href="/log/new?siteid=${actualsite.id}" style="font-style: italic;">New message...</a>
				</li>
				<li py:for="log in actualsite.logs">
					<a href="/log/${log.id}" py:content="'%s, %s: %s' % (formatdate(log.time),log.user,log.message)" />
				</li>
			</ul>
			<h2>Installed instruments</h2>
			<ul>
				<li py:if="is_member('editor')" >
						<button onclick="addinstrument()" class="imgbutton">
							<img src="/media/plus-small.png" alt="Add"/>
						</button>
						<input class="datepicker" id="installationdate" value="${formatdate()}" /> 
						<select id="instruments" >
							<option value="">Please select...</option>
						</select>
				</li>
				<li py:for="inst in actualsite.instruments" >
					<span py:if="inst.active" 
								py:content="'since %s: %s (%s)' % (formatdate(inst.installdate),inst.instrument.name,inst.instrument.sourcetype)" />
					<span py:if="not inst.active" class="removed"
								py:content="'until %s: %s (%s)' % (formatdate(inst.removedate),inst.instrument.name,inst.instrument.sourcetype)" />
					<a href="javascript:removeinstrument(${inst.id},${inst.site.id})" 
						 py:if="is_member('editor')" 
						 style="font-size: small;font-style: italic;">(remove...)</a>
				</li>
			</ul>
			<h2>Available datasets</h2>
			<ul>
				<li py:if="is_member('editor')" class="plus">
					<a href="/dataset/new?site_id=${actualsite.id}"
							style="font-style: italic;" >
						 
						 Add new dataset...
					</a>
				</li>
				<li py:for="ds in actualsite.datasets">
					<a href="/dataset/${ds.id}?site_id=${actualsite.id}" 
					py:content="'%s (%s-%s)' % (ds,formatdate(ds.start),formatdate(ds.end))" />
				</li>
			</ul>
		</div>
		<a href="sites.csv" style="float:left;">
			<img src="/media/excel-icon.gif" />
		</a>
		<div class="box">
			You can <a href="sites.csv">download</a> all sites as a csv-file for import to Excel <a href="sites.csv">here</a>.<br/>
			Note: This works only if you are using English language settings in Windows. 
		</div>
</div>
	
</body>
</html>
