<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Sites</title>
	<style type="text/css">
  	  input { width: 100%;}
	  select { width: 100%;}

	</style>	
</head>
<body onload="initialize()">
	${navigation()}
	<h1>Sites</h1>

	<ul id="Inhalt" >
		<li>
			<a href="/site/new"><b>Neu...</b></a>			
		</li>
		<li py:for="s in sites">
			<a href="${'/site/%s' % s.id}" py:content="'#%03i %s' % (s.id,s.name)"/>

		</li>
	</ul>
    <div class="rightpane" > 
		<form action="/site/saveitem" method="post">
			<div py:if="actualsite">
				<h2 py:content="'%s' % actualsite" />

				<table style="width: 100%">
					<tr>
						<td style="width: 7em">ID:</td>
						<td><input type="text" name="id" value="${actualsite.id}" /></td>
					</tr>
					<tr>
						<td style="width: 7em">L&auml;nge:</td>
						<td><input type="text" name="lon" value="${actualsite.lon}" /></td>
					</tr>
					<tr>
						<td>Breite:</td>
						<td><input type="text" name="lat" value="${actualsite.lat}" /></td>
					</tr>
					<tr>
						<td>H&ouml;he:</td>
						<td><input type="text" name="height" value="${actualsite.height}" /></td>
					</tr>
					<tr>
						<td>Name:</td>
						<td><input type="text" name="name" value="${actualsite.name}" /></td>
					</tr>
					<tr>
						<td>Sonstiges</td>
						<td>
						<textarea name="comment" 
								  style="width: 100%;"
								  rows="10" >
								  ${actualsite.comment}</textarea>
						</td>
					</tr>
				</table>
			</div>
			<input type="submit" name="save" value="Speichern" style="width: 10em;"/>						
		</form>
		<div py:if="actualsite">
			<h2>Log-Einträge</h2>
			<ul>
				<li py:for="log in actualsite.logs">
					<a href="/log/${log.id}" py:content="'%s, %s: %s' % (formatdate(log.time),log.user,log.message)" />
				</li>
				<li>
					<form method="POST" action="/site/addmsg">
						<table>
							<tr>
								<td>
									Neuer Eintrag:					
								</td>
								<td style="width: 30em;">
									<input name="message" />
								</td>
								<td>
									<input type="submit" />
								</td>
								<td style="visibility: collapse">
									<input name="site" value="${actualsite.id}" />
								</td>
							</tr>
						</table>
					</form>
				</li>
			</ul>
			<h2>Datensätze</h2>
			<ul>
				<li py:for="ds in actualsite.datasets">
					<a href="/dataset/${ds.id}" 
					py:content="'%s (%s-%s)' % (ds,formatdate(ds.start),formatdate(ds.end))" />
				</li>
				<li>
					<a href="/dataset/new?site_id=${actualsite.id}"
					py:content="'Neuen Datensatz hinzufügen...'" style="font-style: italic;" />
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
