<xml xmlns:py="http://genshi.edgewall.org/" >
<h2>
	<a href="/site/${site.id}">
		<img src="/media/mapicons/${site.icon if site.icon else 'unknown.png'}" /> 
		#${site.id} (${site.name})
	</a>
</h2>
<div py:content="markdown(site.comment)" />
<div py:if="site.height" py:content="'%0.1f m NN' % site.height" />
<div>
	<a href="/site/${site.id}">edit...</a>
</div>
<div>
	<a py:for="img in site.images" href="/picture?id=${img.id}"><img src="data:${img.mime};base64,${img.thumbnail64()}" /></a>
</div>
<div>
	<h3><a href="javascript:toggle('instruments')">Instruments:</a><small> [${site.instruments.count()} installations]</small></h3>
	<ul id="instruments" class="toggle">
		<li py:for="inst in site.instruments" py:if="inst.active">
			since ${formatdate(inst.installdate)}: 
			<a href="/instrument/${inst.instrument.id}" class="tooltip">
				${inst.instrument.name}
				<span py:content="markdown(inst.instrument.comment)"/>
			</a>
			<a py:if="inst.instrument.manuallink" href="${inst.instrument.manuallink}" class="small tooltip">
				<img src="/media/shimmer/document_16.png" alt="documentation"/>
				<span>
					Show manual for ${inst.instrument.name}
				</span>
			</a>							
		</li>

	</ul>
</div>
<div>
	<h3><a href="javascript:toggle('logbook')">Logbook:</a><small> [${site.logs.count()} entries]</small></h3>
	<ul id="logbook" class="toggle">
		<li py:if="is_member('logger')">
			<a href="/log/new?siteid=${site.id}" style="font-style: italic;">New message...</a>
		</li>
		<li py:for="log in site.logs">
			<a href="/log/${log.id}">${formatdate(log.time)}, ${log.user}: ${log.message}</a>
		</li>
	</ul>
</div>

<div>
	<h3><a href="javascript:toggle('datasets')">Datasets:</a><small> [${site.datasets.count()} datasets]</small></h3>
	<ul id="datasets" class="toggle">
		<li py:if="is_member('editor')">
			<a href="/dataset/new?site_id=${site.id}"
					style="font-style: italic;" >Add new dataset...</a>
		</li>
		<li py:for="ds in site.datasets">
			<a href="/dataset/${ds.id}">${ds}</a><span class="small"> ${ds.size()} records</span>
		</li>
	</ul>
</div>

</xml>