<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ValueTypes</title>
  <link href="/media/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
	<script src="/media/jquery-1.7.1.min.js" type="text/javascript"></script>

	<script>
			//<![CDATA[
      function toggle(id) {
      	$('#'+id).slideToggle('fast');
      }		
      //]]>
	</script>
</head>
<body>
	${navigation('Value types')}
	<div class="content">
	  <div class="error" py:content="error" />
	
			<ul id="Inhalt" >
			<li py:if="is_member('supervisor')">
				<a href="/valuetype/new"><b>New value type...</b></a>			
			</li>
			<li py:for="v in valuetypes">
				<a href="${'/valuetype/%s' % v.id}" py:content="v"/>
			</li>
		</ul>
    <div class="rightpane">
			<div py:if="actualvaluetype">
				<h2 py:content="str(actualvaluetype)" />
				<table style="width: 100%">
					<tr>
						<td style="width: 7em">ID:</td>
						<td py:content="actualvaluetype.id" />
					</tr>
					<tr>
						<td>Name:</td>
						<td py:content="actualvaluetype.name" />
					</tr>
					<tr>
						<td>Unit:</td>
						<td py:content="actualvaluetype.unit" />
					</tr>
					<tr>
						<td>
							Allowed value range:
						</td>
						<td>
							${u'%(min)s%(u)s - %(max)s%(u)s' % dict(min=formatfloat(actualvaluetype.minvalue),
								max=formatfloat(actualvaluetype.maxvalue),u=actualvaluetype.unit)}  
						</td>
					</tr>
					<tr>
						<td>Comment:</td>
						<td py:content="actualvaluetype.comment" />
					</tr>
				</table>
			</div>
			<h3><a href="javascript:toggle('edit')">&#x25BE; Edit properties</a></h3>
			<div py:if="actualvaluetype" id="edit" class="toggle">
				<form action="/valuetype/saveitem" method="post" py:if="is_member('supervisor')">
					<table style="width: 100%">
						<tr>
							<td style="width: 7em">ID:</td>
							<td><input type="text" name="id" value="${actualvaluetype.id}" readonly="readonly"/></td>
						</tr>
						<tr>
							<td>Name:</td>
							<td><input type="text" name="name" value="${actualvaluetype.name}" /></td>
						</tr>
						<tr>
							<td>Unit:</td>
							<td><input type="text" name="unit" value="${actualvaluetype.unit}" /></td>
						</tr>
						<tr>
							<td>Lowest value:</td>
							<td><input type="number" name="minvalue" value="${actualvaluetype.minvalue}"/></td>
						</tr>
						<tr>
							<td>Highest value:</td>
							<td><input type="number" name="maxvalue" value="${actualvaluetype.maxvalue}"/></td>
						</tr>
						<tr>
							<td>Comment:<a href="/wiki/help" class="tooltip"><img src="/media/help.png" /><span>Get help for using links and formats</span></a></td>
							<td>
								<textarea name="comment" 
										  rows="2" style="width: 100%;"
										  py:content="actualvaluetype.comment"/>
							</td>
						</tr>
					</table>
					<input type="submit" name="save" value="save changes" style="width: 10em;"/>						
				</form>
			</div>

			<div py:if="actualvaluetype">
				<h2>Datasets</h2>
				<ul>
					<li py:for="ds in actualvaluetype.datasets">
						<a href="/dataset/${ds.id}" 
						py:content="'%s #%i(%s-%s)' % (str(ds),ds.id,formatdate(ds.start),formatdate(ds.end))" />
					</li>
					<li>
						<a href="/dataset/new?vt_id=${actualvaluetype.id}"
						py:content="'Neuen Datensatz hinzufügen...'" style="font-style: italic;" />
					</li>
				</ul>
			</div>		
		</div>
	</div>
</body>
</html>
