<html xmlns:py="">
<!--
Template for webpage.plot.PlotPage.exportdialog()

To be included as AJAH into modal dialog in plot.html
GET /plot/exportdialog

-->
<script>
    $(()=>{
        $('#export-method').append(
            get_all_lines().map(
                (line, index) => $(`<option value="${index}">Timesteps from ${line.name}</option>`)
            )
        )
        $('#export-plot').val(JSON.stringify(window.plot))
        $('#export-method').change(e => {
            if ($(e.currentTarget).val() === 'regular') {
                $('#export-grid').parents('.row').show(200)
            } else {
                $('#export-grid').parents('.row').hide(200)
            }
        })
        $('#export-interpolation-method').change(e => {
            if ($(e.currentTarget).val()) {
                $('#export-interpolation-limit').parents('.row').show(200)
            } else {
                $('#export-interpolation-limit').parents('.row').hide(200)
            }
        })
    })
</script>
<form action="export" method="post">
<div class="modal-content">
    <div class="modal-header bg-primary text-light">
        <h5 class="modal-title"><i class="fas fa-file-export mr-2"/>Export data</h5>
    </div>

    <div class="modal-body">
        <input id="export-plot" name="plot" class="d-none" />
        <div class="form-group row">
            <label class="col-sm-3" for="export-format">File format</label>
            <div class="col-sm-9">
                <select name="fileformat" class="form-control">
                    <option value="xlsx">Excel</option>
                    <option value="csv">CSV (comma separated variable)</option>
                    <option value="tsv">TSV (tab separated variable)</option>
                    <option value="pickle">Python pickled dataframe</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" for="export-method">Time step:</label>
            <div class="col-sm-9">
                <select id="export-method" name="timeindex" class="form-control">
                    <option value="union">union: Use all timesteps from all time series</option>
                    <option value="intersection">intersection: Use only timesteps where all series have data (within tolerance)</option>
                    <option value="regular">Use regular time steps</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" for="export-tolerance">Time step tolerance</label>
            <div class="col-sm-9">
                <input id="export-tolerance" name="tolerance"
                       pattern="[0-9]*[Y,M,W,D,h,s,m]" placeholder="5 days = 5D, 2 minutes = 2m, a week = 1W"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" for="export-grid">Regular time spacing</label>
            <div class="col-sm-9">
                <input id="export-grid" name="grid" pattern="[0-9]*[Y,M,W,D,h,s,m]"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" for="export-interpolation-method">Interpolation method</label>
            <div class="col-sm-9">
                <select id="export-interpolation-method" name="interpolation_method" class="form-control">
                    <option value="">no interpolation</option>
                    <option value="nearest">nearest neighbor</option>
                    <option value="slinear">linear</option>
                    <option value="quadratic">quadratic</option>
                    <option value="cubic">cubic</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" for="export-interpolation-limit">Length of gaps to be filled via interpolation</label>
            <div class="col-sm-9">
                <input type="number" name="interpolation_limit" id="export-interpolation-limit" min="0" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="export-start-button" type="submit" class="btn btn-primary" data-dismiss="modal">Export</button>
    </div>

</div>
</form>
</html>