<html xmlns:py="">

    <!--
    Template for webpage.plot.PlotPage.filedialog()

    To be included as AJAH into modal dialog in plot.html
    POST /plot/filedialog {path: download/$USER}

    Variables:

    path: Current path (default download/$USER)
    directories: mapping of subdirectories
    files: mapping of files in current path

    -->
    <script>
        function reload(path) {
            $.get(odmf_ref('/plot/filedialog/'), {path: path}, html => {
                $('#file-dialog-content').html(html)
            })

        }
        function hide_me() {
            $('#file-dialog').modal('hide')
        }

        $(() => {
            $('#plotname').val(window.plot.name)
            $('#save-button-text').html(window.plot.name)
            $('#plotname').on('change', event => {
                window.plot.name = $(event.currentTarget).val()
                $('#save-button-text').html(window.plot.name)
            })
            $('.load-file').on('click', event =>{
                let path = $(event.currentTarget).data('href')
                let href = odmf_ref('/datafiles/' + path)
                console.log('click@.load-file: path:' + path + ' href:' + href + '$path: ${path}')
                $.getJSON(href, {}, data =>{
                    data.path = '${path}'
                    window.plot.update(data)
                    hide_me()
                })
            })
            $('.change-dir').on('click', event =>{
                let href = $(event.currentTarget).data('path')
                reload(href)
            })
            $('#save-button').on('click', event => {
                window.plot.path = '${path}'
                $.post(odmf_ref('/plot/filedialog/save/'), {
                    plot: JSON.stringify(window.plot, null, 4),
                    path: '${path}/' + window.plot.name + '.plot'
                })
                    .done(() => {window.plot.apply()})
                    .fail(seterror)
            })
            $('.delete-button').on('click', event => {
                let href = $(event.currentTarget).data('path');
                $.post(odmf_ref('/plot/filedialog/delete/'), {path: href}).done(reload).fail(seterror);
            })
        })
    </script>
    <div class="modal-content">
        <div class="modal-header bg-primary text-light">
            <h5 class="modal-title">/${path}/</h5>
        </div>
        <div class="modal-body">
            <div id="load-plot-container" class="container border p-3 mt-1">
                <div class=""><i class="fas fa-folder-open"/> load</div>
                <div class="file-list d-flex border-bottom mt-1" py:if="path.absolute != path.datapath">
                    <button class="btn change-dir me-auto" data-path="${path.parent()}">
                        <i class="fas fa-folder fa-lg me-2"/>..
                    </button>
                </div>
                <div class="file-list d-flex border-bottom mt-1" py:for="fn in directories">
                    <button class="btn change-dir me-auto" data-path="${fn}">
                        <i class="fas fa-folder fa-lg me-2"/>
                            ${fn.basename}
                    </button>
                </div>
                <div class="file-list d-flex border-bottom mt-1" py:for="fn in files" >
                    <button class="btn load-file me-auto" data-href="${fn}">
                        <i class="fas fa-file-alt fa-lg me-2"/>
                            ${fn.basename}
                    </button>
                    <button class="btn btn-danger btn-sm delete-button" data-path="${fn}">
                        <i class="fas fa-times-circle"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div><i class="fas fa-floppy-disk"/> save to /${path}/</div>
            <div id="save-plot-container" class="flexbox border p-3">
                <label class="me-2" for="plotname">name:</label>
                <input type="text" class="form-control" value="" id="plotname"/>
                <button id="save-button" type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-check"/></button>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</html>