<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Calibrate ${target}</title>
	<style>
		th.record { background-color: #32739D;
								color: white;
								padding-left: 0.5em; 
								padding-right: 0.5em; 
							}
		tr.record {	border-bottom: solid 1px black;}
		td.record { border: thin dotted #32739D;
								padding-left: 0.5em; 
								padding-right: 0.5em; 
								text-align: right;
							}
		td.value  { border: none;
								padding-left: 0.5em; 
								padding-right: 0.5em; 
								text-align: right;								
							}
	</style>
  <script src="/media/jquery-1.7.1.min.js" type="text/javascript" ></script>
	<script>
		//<![CDATA[]
    function toggle(id) {
    	$('#' + id).slideToggle('fast');
    }

		//]]>
	</script>
</head>
<body>
	${navigation()}
	<div class="content">
    <h1>Calibrate ${target}</h1>
    <div class="error" py:content="error" />
  	<form method="get" action="/dataset/calibration">
	    <h2>
	    	Calibrate from:
		    	<input type="hidden" value="${target.id}" name="targetid"/>
		    	<select name="sourceid">
		    		<option value="" style="font-style: italic;">&lt;Please select...&gt;</option>
		    		<option py:for="ds in sources" value="${ds.id}" 
		    						py:content="ds" 
		    						py:attrs="markoption(ds is source)"/>
		    	</select>
		    	<input type="submit" value="load source" />
	    </h2>
    	</form>
    <div py:if="source">
    	Source dataset: <a href="/dataset/${source.id}">${source}</a><br/>
    	Records in timeseries: ${sourcecount}<br/>
	    <form method="get" action="/dataset/calibration">
	    	<p>
		    	Limit time error to: <input type="text" name="limit" value="${limit}" />s    		
	    	</p>
	    	<input type="hidden" value="${target.id}" name="targetid"/>
	    	<input type="hidden" value="${source.id}" name="sourceid"/>
	    	<input type="submit" value="Calibrate" name="calibrate" />
	    </form>
    </div>
    <div py:if="result">
	    <h3><a href="javascript:toggle('result')">&#x25BE; Calibration results</a></h3>
	    <table py:with="unit=target.valuetype.unit" id="result">
	    	<tr class="record">
	    		<th class="record">index</th>
	    		<th class="record">value</th>
	    		<th class="record">unit</th>
	    	</tr>
	    	<tr>
	    		<td>number of matches</td>
	    		<td class="value">${len(result)}</td>
	    		<td></td>
	    	</tr>
	    	<tr>
	    		<td>x&#772; <sub>target</sub></td>
	    		<td class="value">${'%g' % result.target_mean}&plusmn;${'%0.4g' % result.target_std}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>x&#772; <sub>source</sub></td>
	    		<td class="value">${'%g' % result.source_mean}&plusmn;${'%0.4g' % result.source_std}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>r<sup>2</sup></td>
	    		<td class="value">${'%g' % result.r2}</td>
	    	</tr>
	    	<tr>
	    		<td>RMSE</td>
	    		<td class="value">${'%g' % result.rmse}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>slope (b)</td>
	    		<td class="value"><span id="slope" py:content="'%g' % result.slope"/></td>
	    	</tr>
	    	<tr>
	    		<td>offset (a)</td>
	    		<td class="value"><span id="offset" py:content="'%g' % result.offset"/></td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>x&#772; <sub>source</sub> - x&#773; (off)<sub>target</sub></td>
	    		<td class="value"><span id="meanoffset" py:content="'%g' % result.meanoffset"/></td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>RMSE(b x<sub>target</sub> + a)</td>
	    		<td class="value">${'%g' % result.rmse_lr}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>RMSE(x<sub>target</sub> + off)</td>
	    		<td class="value">${'%g' % result.rmse_off}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    </table>
	    <script>
	    	//<![CDATA[
	    	function applycalib(withslope) {
	    		var slope = withslope?${result.slope}:1.0;
	    		var offset = withslope?${result.offset}:${result.meanoffset};
	    		var params = {sourceid:${source.id},
	    									targetid:${target.id},
	    									slope:slope,offset:offset};
	    		$.post('/dataset/calibration/apply/',params,function(data){
	    			if (data) {
	    				$('.error').html(data);
	    			} else {
	    				window.location='/dataset/${target.id}'
	    			}
	    		});
	    	}
	    	//]]>
	    </script>
	    <button onclick="applycalib(true)">
	    	Use offset and slope
	    </button>
	    <button onclick="applycalib(false)">
	    	Use x&#772; <sub>source</sub> - x&#773; (off)<sub>target</sub>
	    </button>
   		<br/>
	    <h3><a href="javascript:toggle('resultlist')">&#x25BE; Matching records</a></h3>
	    <table py:with="unit=source.valuetype.unit if source else ''" class="toggle" id="resultlist">
	    	<tr class="record">
	    		<th class="record">time</th>
	    		<th class="record">source (${unit})</th>
	    		<th class="record">target (${unit})</th>
	    		<th class="record">time error (s)</th>
	    		<th class="record">error (lr)</th>
	    		<th class="record">error (off)</th>
	    		
	    	</tr>
	    	<tr py:for="r in result">
	    		<td class="record" py:content="formatdatetime(r['t'])" />
	    		<td class="record" py:content="'%g' % r['source']" />
	    		<td class="record" py:content="'%g' % r['target']" />
	    		<td class="record" py:content="'%g' % r['dt']" />
	    		<td class="record" py:content="'%g' % (r['lr']-r['source'])" />
	    		<td class="record" py:content="'%g' % (r['off']-r['source'])" />
	    	</tr>
	    </table>
	  </div>
    
 </div>
</body>
</html>