<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Instruments</title>
  <link href="/media/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
	<script src="/media/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/media/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>

	<script>
      function popSelect() {
      	$.getJSON('/site/json',[],function(data){
	      	var html='<option value=""><i>Please select...</i></option>';
		  		$.each(data,function(index,item){
		  				html += '<option value="' + item.id + '">#' + item.id + ' ('+ item.name + ')' + '</option>';
		  		});
		  		$('#siteselect').html(html);
		  	});
      }
      $(function() {
      	$('.datepicker').datepicker({maxDate:"0", dateFormat: 'dd.mm.yy' });
      	popSelect();   	
      });
      function addinstrument() {
	      	data = {siteid:$('#siteselect').val(),
	      					date:escape($('#installationdate').val()),
	      					instrumentid:${actualinstrument.id}
	      				};
      		$.post('/site/addinstrument',data,function (data,textStatus,jqHXR){
      			if (data=='') {
	      			location.reload();
	      		} else {
	      			$('.error').html(data);
	      		}          			
      		});
      }
      function removeinstrument(installationid,siteid) {
      	data = {instrumentid:${actualinstrument.id},
      					date:escape($('#installationdate').val()),
      					siteid:siteid,
      					installationid:installationid
      				};
      	$.post('/site/removeinstrument',data, function(data,textStatus,jqHXR) {
      			if (data=='') {
	      			location.reload();
	      		} else {
	      			$('.error').html(data);
	      		}          			
      	});    	
      }


	</script>
	<style>
	  .removed {
	  	color: grey;
	  }
	  .imgbutton {
	  	width: 32px;
	  	height: 24px;
	  }

	</style>
</head>
<body>
	${navigation('Data sources and instruments')}
	<div class="content">
	  <div class="error" py:content="error" />
			<ul id="Inhalt" >
			<li>
				<a href="/instrument/new"><b>New instrument...</b></a>			
			</li>
			<li py:for="inst in instruments">
				<a href="${'/instrument/%s' % inst.id}" py:content="inst"/>
				<a py:if="inst.manuallink" href="${actualinstrument.manuallink}" class="small tooltip">
					<img src="/media/shimmer/document_16.png" alt="documentation"/>
					<span>
						Show manual for ${inst.name}
					</span>
				</a>							
			</li>
		</ul>
	    <div class="rightpane"> 
	    	<div py:if="actualinstrument">
					<h2 py:content="actualinstrument" />
					<p>ID: ${actualinstrument.id}</p>
					<p>source type: ${actualinstrument.sourcetype}</p>
					<h3>comment:</h3> 
					<p py:content="markdown(actualinstrument.comment)" />
					<p>	
						<a py:if="actualinstrument.manuallink" href="${actualinstrument.manuallink}" class="small tooltip">
							<img src="/media/shimmer/document_16.png" alt="documentation"/>
							<span>
								Show manual for ${actualinstrument.name}
							</span>
						</a>							
					</p>
	    	</div>
			<form action="/instrument/saveitem" method="post" py:if="is_member('editor')">
				<div py:if="actualinstrument">
					<h2><a href="#" onclick="$('#edit').slideToggle('fast');">&#x25BE;edit</a></h2>
					<div id="edit" class="toggle">
						<table style="width: 100%">
							<tr>
								<td style="width: 7em">ID:</td>
								<td><input type="text" name="id" value="${actualinstrument.id}" readonly="readonly" class="readonly"/></td>
							</tr>
							<tr>
								<td>Name:</td>
								<td><input type="text" name="name" value="${actualinstrument.name}" /></td>
							</tr>
							<tr>
								<td>Sourcetype:</td>
								<td><input type="text" name="sourcetype" value="${actualinstrument.sourcetype}" /></td>
							</tr>
							<tr>
								<td>Comment:<a href="/wiki/help" class="tooltip"><img src="/media/help.png" /><span>Get help for using links and formats</span></a></td>
								<td>
									<textarea name="comment" 
											  rows="2" style="width: 98%;"
											  py:content="actualinstrument.comment"/>
								</td>
							</tr>
							<tr>
								<td>
									<a py:if="actualinstrument and actualinstrument.manuallink" href="${actualinstrument.manuallink}">Manual</a>
									<span py:if="not (actualinstrument and actualinstrument.manuallink)">Manual</span>			
								</td>
								<td>
									<input type="text" name="manuallink" value="${actualinstrument.manuallink}" />
								</td>
							</tr>
						</table>
						<input type="submit" name="save" style="width: 10em;"/>						
					</div>
				</div>
				
			</form>
			<div py:if="not is_member('editor')" class="rightpane">
				<table style="width: 100%">
					<tr>
						<td style="width: 7em">ID:</td>
						<td py:content="actualinstrument.id" />
					</tr>
					<tr>
						<td>Name:</td>
						<td py:content="actualinstrument.name" />
					</tr>
					<tr>
						<td>Sourcetype:</td>
						<td py:content="actualinstrument.sourcetype" />
					</tr>
					<tr>
						<td>Comment:</td>
						<td py:content="markdown(actualinstrument.comment)" />
	
					</tr>
				</table>
				
			</div>
			<h2><a href="#" onclick="$('#installations').slideToggle('fast')">&#x25BE;Installations</a></h2>
			<div id="installations" class="toggle">
				<div style="margin:0px;padding:0px;">
					<span style="margin-left:5.5em;">Installation date</span><span style="margin-left:2.5em;">Site</span>
				</div>
				<ul style="margin-top:0px;padding-top:0px;">
						<li py:if="is_member('editor')">
								<button py:if="is_member('editor')" onclick="addinstrument()" class="imgbutton">
									<img src="/media/plus-small.png" alt="Add"/>
								</button>
								<input class="datepicker" id="installationdate" value="${formatdate()}" /> 
								<select id="siteselect" >
									<option value="">Please select...</option>
								</select>
						</li>
						<li py:for="inst in actualinstrument.sites" >
							<a  href="/site/${inst.site.id}"
									py:if="inst.active" 
									py:content="'since %s: #%i (%s)' % (formatdate(inst.installdate),inst.site.id,inst.site.name)" />
							<span py:if="not inst.active" class="removed"
										py:content="'until %s: #%i (%s)' % (formatdate(inst.installdate),inst.site.id,inst.site.name)" /> 
							<a href="javascript:removeinstrument(${inst.id},${inst.site.id})" 
								 py:if="is_member('editor')" 
								 style="font-size: small;font-style: italic;">(remove...)</a>
						</li>
					</ul>
			</div>
			<h2><a href="#" onclick="$('#datasets').slideToggle('fast')">&#x25BE;Datasets</a></h2>
			<div id="datasets" class="toggle">
				<ul>
					<li py:for="ds in actualinstrument.datasets">
						<a href="/dataset/${ds.id}" 
						py:content="ds" />
					</li>
				</ul>
			</div>
	
		</div>
	</div>
</body>
</html>
