<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Import logs to DB</title>
  <script src="/media/jquery-1.7.1.min.js" type="text/javascript" ></script>
	<style>
		table {width: 100%;}
		.datepicker {width: 100%;}
		td,th {padding: 5px; border-bottom: solid 1px #888; font-size: small;}
		th {background-color: #E8F0FF;}
		tr.rowerror {
			background-color: red;
			color: white;
		}
	</style>
</head>
<body>
	<!--
		filename: the filename to import
		logs : the list of dictionaries as returned from importlog
		error: some error messages
		cancommit: If True, a commit is possible
	-->
	${navigation('Import logs to database')}
	<div class="content">
    <div class="error" py:content="error" />
    <h3>${filename}</h3>
    <div class="warning" py:if="not cancommit">
    	The log file has errors. Please remove the errors from the file and upload again.
    	If no errors are present, you can commit the file.
    </div>
		<form action="" method="post" >
			<input type="submit" name="commit" value="commit" py:attrs="attrcheck('disabled',not cancommit)"/>
		</form>

		<table>
			<tr>
				<th>Row</th>
				<th>Error?</th>
				<th>Action</th>
			</tr>
			<tr py:for="log in logs" class="small${' rowerror' if log['error'] else ''}">
				<td py:content="log['row']" />
				<td py:content="'yes' if log['error'] else 'no'" />
				<td>${log['log']}</td>
			</tr>
		</table>
	</div>
</body>
</html>