<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>
</head>
<body>
	${navigation()}
	<div class="content">
		<h1>Log in</h1>
		<div class="error" py:content="error" />
		<h3>Current user: ${users.current}</h3>
		<form method="post" action="/login">
			<div style="margin:auto;">
				<input type="hidden" name="frompage" id="frompage" value="${frompage}"/>
				<table>
					<tr>
						<td>User name:</td>
						<td>
							<datalist id="users">
								<option py:for="u in users" value="${u}" py:content="u" />					
							</datalist>			
							<input type="text" name="username" list="users" />
						</td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="password" /></td>
					</tr>
				</table>
				<div class="warning">
					The password will be transmitted without encryption and is stored as plain text on the server.
					Use a specific password for this website!
				</div>
				<input type="submit" value="Log in"/>
				<input type="submit" value="Log out" name="logout" />
			</div>
		</form>
	</div>
</body>
</html>