<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Log in</title>
</head>
<style>
	div.space {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	div.short {
		width: 40em;
	}
	input {
		width: 100%;
	}
</style>
<body>
	${navigation('Log in')}
	<div class="content">
		<div class="error" py:content="error" />
		<h3>Current user: ${users.current}</h3>
		<form method="post" action="/login">
			<div>
				<input type="hidden" name="frompage" id="frompage" value="${frompage}"/>
				<table class="short">
					<tr>
						<td style="width: 10em;">User name:</td>
						<td style="width: 25em;">
							<datalist id="users">
								<option py:for="u in users" value="${u}" py:content="u" />					
							</datalist>			
							<input type="text" name="username" list="users"/>
						</td>
						<td style="width: 5em;">
							<input type="submit" value="Log in"/>					
						</td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="password" /></td>
						<td>
							<input type="submit" value="Log out" name="logout" />					
						</td>
					</tr>
				</table>
				<div class="space">
					The password for the guest login is the name of the river, that gave the study area its name. With
					lower case letters!
				</div>
				<div class="space">
					<h1>About</h1>
					<img src="/media/schwingbachlogo.png" alt="logo"/>
					<a href="http://www.uni-giessen.de/cms/fbz/fb09/institute/ilr/ilr-frede" >
						<img src="/media/ilr-logo_4_klein_RGB.png" alt="ILR"/>
					</a>
					<a href="http://www.uni-giessen.de">
						<img src="/media/jlu-logo-150.png" alt="University Giessen"/>
					</a>

					<div class="space">
						This page is used as a database frontend for the "Studienlandschaft Schwingbach". <br/>
						All data presented is property of the
						<ul>
							<li><a href="http://www.uni-giessen.de/cms/ilr">Institute of Landscape Ecology and Ressourcemanagement (ILR)</a> </li>
							<li>at the <a href="http://www.uni-giessen.de/cms/fbz/zentren/ifz">Research Centre for BioSystems, Land Use and Nutrition (IFZ)</a></li> 
							<li>of the <a href="www.uni-giessen.de">Justus-Liebig University of Gie&szlig;en</a>.</li>
						</ul>
					</div>
					<h2>
						Data usage
					</h2>
					<div class="space">
						The database contains raw and unpublished data, 
						any usage beyond pure curiosity, especially the publication of data and derived products is not allowed without prior permission. 
					</div>
					<h2>
						References
					</h2>
					<div class="space">
						Most graphical elements and the user interface are own work. Some icons, especially for downloads etc. are creative commons. 
						The applying copyright notice can be found <a href="/media/shimmer/shimmer-icons-readme.html">here</a>.
					</div>
				</div>
			</div>
		</form>
	</div>

</body>
</html>
