<xml xmlns:py="http://genshi.edgewall.org/" >
<form action="/site/saveitem" method="post">
	<div>

		<table style="width: 100%">
			<tr>
				<td style="width: 7em">ID:</td>
				<td><input type="text" name="id" value="${actualsite.id}" readonly="readonly" class="readonly"/></td>
			</tr>
			<tr>
				<td style="width: 7em">Longitude:</td>
				<td><input type="text" name="lon" value="${actualsite.lon}" />°</td>
			</tr>
			<tr>
				<td>Latitude:</td>
				<td><input type="text" name="lat" value="${actualsite.lat}" />°</td>
			</tr>
			<tr>
				<td>Height:</td>
				<td><input type="text" name="height" value="${actualsite.height}" /> m NN</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="name" value="${actualsite.name}" /></td>
			</tr>
			<tr height="36px">
				<td>
					Icon: <img src="/media/mapicons/${actualsite.icon if actualsite.icon else 'unknown.png'}" id="currenticon" />
				</td>
				<td>
					<img py:for="icon in icons" 
							 class="highlightonhover" 
							 src="/media/mapicons/${icon}" 
							 onclick="$('#currenticon').attr('src','/media/mapicons/${icon}');$('#iconfile').val('${icon}');"/>
					<!--
					<a py:for="icon in icons" class="highlightonhover"
						 onclick="iconClick(${icon});" >
						 <img src="/media/mapicons/${icon}" />
					</a>-->
					<input name="icon" type="hidden" id="iconfile"/>						 
				</td>
			</tr>
			<tr>
				<td>Sonstiges</td>
				<td>
				<textarea name="comment" 
						  style="width: 100%;"
						  rows="10" >${actualsite.comment}</textarea>
				</td>
			</tr>
		</table>
	</div>
	<input type="submit" name="save" value="Speichern" style="width: 10em;"/>						
</form>
</xml>