<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Change password</title>
	<style>
	input { width: 100%;}
	select { width: 100%;}
	td.left { width: 7em;}
	</style>

</head>
<body>

    ${navigation('Users')}
	<div class="content">
	  <div class="error" py:content="error" />
	    <div class="rightpane"> 
            <form action="/user/savepassword" method="post">
				<h2>Change password for ${username}</h2>
				<table style="width: 100%">
					<tr >
						<td>Password:</td>
						<td><input type="password" id="_password" name="password" onkeyup="matchPasswords()"/></td>
					</tr>
					<tr>
						<td>Repeat password:</td>
                        <td><input type="password" id="_password_repeat" name="password_repeat" onkeyup="matchPasswords()"/></td>
					</tr>
				</table>
                <input type="hidden" name="username" value="${username}" />
				<input type="submit" style="width: 7em;"/>
			</form>
		</div>
	</div>

	<script type="text/javascript">
        var password = document.getElementById('_password');
        var password_repeat = document.getElementById('_password_repeat');
        var errorpane = document.getElementsByClassName('error')[0];

        var startMatching = false;

        function matchPasswords() {
            // Just for the user experience
            // Prove first if the the second password is set once
            // So the error message will be shown when both fields are filled
            if(!startMatching) {
                if(password_repeat.value.length > 0) {
                    startMatching = true;
                    matchPasswords()
                }
            } else {

                if(password.value == password_repeat.value) {
                    removeError();
                } else {
                    showError();
                }
            }

        }

        function showError() {
            errorpane.innerHTML = 'Error: Passwords don\'t match!';
        }

        function removeError() {
            if (errorpane.innerHTML != '')
                            errorpane.innerHTML = ''
        }
	</script>
</body>
</html>
