<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <!-- insert additional scripts -->
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <div class="container">
        </div>
    </py:block>
    <py:block name="content">
        <!--
            filename: the filename to import
            logs : the list of dictionaries as returned from importlog
            error: some error messages
            cancommit: If True, a commit is possible
        -->
        <div class="container">
            <h3 class="mt-4">${filename}</h3>
            <div class="alert alert-warning" py:if="not cancommit">
                The log file has errors. Please remove the errors from the file and upload again.
                If no errors are present, you can commit the file.
            </div>
            <form action="" method="post" class="mb-4">
                <button class="btn btn-success me-2"
                        type="submit" name="commit" value="commit" py:attrs="prop(disabled=not cancommit)">
                    <i class="fas fa-file-import"/>
                </button> import
                <a class="btn btn-warning me-2" data-bs-toggle="tooltip" title="back to folder" href="${filename.parent().href}">
                    <i class="fas fa-folder"/>
                </a> cancel
                <a class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="reload file" href="javascript:window.location.reload(true)">
                    <i class="fas fa-redo"/>
                </a> reload

            </form>
            <div class="error" py:content="error" />

            <ul class="list-group">
                <li class="list-group-item " py:for="log in logs">
                    <div class="row">
                        <div class="me-4 p-2 bg-secondary text-white text-center align-middle rounded col-1 fw-bold">
                            ${log['row']}
                        </div>
                        <div class="me-4 border rounded bg-${log['status']}-subtle text-${log['status']} p-2 col-2">
                            ${log['status']}
                        </div>
                        <div class="col">
                            ${markdown(log['log'])}
                        </div>

                    </div>

                </li>
            </ul>
        </div>
    </py:block>

</py:extends>
