<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Personen</title>
	<style>
			input { width: 100%;}
			select { width: 100%;}
			td.left { width: 7em;}
	</style>
	<script type="text/javascript">
		function redirect( url ) {
			window.location.replace( url );
			window.location.href = url;
		}
	</script>
</head>
<body>

	${navigation('Users')}
	<div class="content">
	  <div class="error" py:content="error" />
		<ul id="Inhalt">
			<li py:if="is_member('supervisor')">
				<a href="/user/new"><b>Neu...</b></a>			
			</li>
			<li py:for="pp in persons">
				<a href="${'/user/%s' % pp.username}" py:content="pp" style="font-weight: ${'bold' if pp is active_person else 'normal'}"/>
			</li>
		</ul>
	    <div class="rightpane"> 
	    	<h2 py:content="active_person"/>
	    	<div py:with="U=active_person">
	    		${markdown(U.email)}
	    		${markdown(U.comment)}
    		</div>
	    		
			<form action="/user/saveitem" method="post">
				<h2>Edit user</h2>
				<table style="width: 100%" py:if="active_person">
					<tr>
						<td class="left">User name:</td>
						<py:choose>
							<td py:when="act_user=='new'"> <input type="text" name="username" value="${active_person.username}"/>
						</td>
							<td py:otherwise=""><input readonly="true" type="text" name="username" value="${active_person.username}"/></td>
						</py:choose>

					</tr>
					<tr>
						<td class="left">First name:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username)">
								<input type="text" name="firstname" value="${active_person.firstname}" /></td>
							<td py:otherwise="">
								<input readonly="true" type="text" name="firstname" value="${active_person.firstname}" /></td>
						</py:choose>
						</tr>
					<tr>
						<td>Surname:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username)">
								<input type="text" name="surname" value="${active_person.surname}" /></td>
							<td py:otherwise="">
								<input readonly="true" type="text" name="surname" value="${active_person.surname}" /></td>
						</py:choose>
					</tr>
					<tr>
						<td>E-mail:</td>
						<py:choose>
							<td py:when="act_user == 'new' or is_self(active_person.username)">
								<input type="text" name="email" value="${active_person.email}" /></td>
							<td py:otherwise="">
								<input readonly="true" type="text" name="email" value="${active_person.email}" /></td>
						</py:choose>
						</tr>
					<tr py:if="is_member('admin') or is_self(active_person.username) or act_user=='new'">
						<td>Password:</td>
						<td py:if="act_user=='new'"><input type="password" name="password" /></td>
						<td py:if="act_user!='new'">
							<p><a href="${'/user/changepassword/%s' % active_person.username}">Change password</a></p>
						</td>
					</tr>
					<tr py:if="act_user=='new'">
						<td>Repeat password:</td>
						<td><input type="password" name="password_verify" /></td>
					</tr>
					<tr>
						<td>Car:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username)">
								<select name="car_available">
								<option py:for="i,s in enumerate('No car,Car available,Car sometimes available'.split(','))"
										py:attrs="markoption(i==active_person.car_available)"
										py:content="s"
										value="${i}" />
								</select>
							</td>
							<td py:otherwise="">
								${'No car,Car available,Car sometimes available'.split(',')[active_person.car_available]}
								<input type="hidden" name="car_available" value="${active_person.car_available}" />
							</td>
						</py:choose>

					</tr>
					<tr>
						<td>Phone:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username) or is_member('admin')">
								<input type="text" name="telephone" value="${active_person.telephone}" /></td>
							<td py:otherwise="">
								<input readonly="true" type="text" name="telephone" value="${active_person.telephone}" />
							</td>
						</py:choose>
						</tr>
					<tr>
						<td>Mobile:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username)">
								<input type="text" name="mobile" value="${active_person.mobile}" /></td>
							<td py:otherwise="">
								<input readonly="true" type="text" name="mobile" value="${active_person.mobile}" /></td>
						</py:choose>
					</tr>
					<tr>
						<td>Supervised by:</td>
						<py:choose>
							<td py:when="is_member('supervisor')">
								<select name="supervisor">
									<option value="NULL">No supervisor chosen</option>
									<option py:for="p in supervisors"
											py:attrs="markoption(p is active_person.supervisor)"
											py:content="p"
											value="${p.username}" />
								</select>
							</td>

							<td py:otherwise="">
								${active_person.supervisor}
								<input type="hidden" name="supervisor" value="${active_person.supervisor}"/>
							</td>
						</py:choose>

					</tr>
					<tr>
						<td>Access Level:</td>
						<td py:if="(act_user=='new' or is_member('supervisor') and not is_self(active_person.username)) and not active_person.access_level == '0'">
							<select name="access_level">
								<option py:for="value in levels(users.current.level)"
										py:content="value[0]"
										value="${value[1]}"
										py:attrs="markoption(str(value[1]) == str(active_person.access_level))"/>
							</select>
						</td>
						<td py:if="(act_user != 'new' and not is_member('supervisor') or is_self(active_person.username)) or active_person.access_level == '0'">
							${levels('all')[int(active_person.access_level)][0]}
							<input type="hidden" name="access_level" value="${active_person.access_level}"/>
						</td>
					</tr>
					<py:choose>
						<tr py:when="is_member('supervisor') and not is_self(active_person.username)">
							<td>Active<a href="/wiki/help" class="tooltip"><img src="/media/help.png" /><span>Caution, if it is not ticked, the user is disabled to login</span></a></td>
							<td><input style="width: 0%" name="status" type="checkbox" checked="${'on' if active_person.active else ''}"/></td>
						</tr>
						<tr py:otherwise="">
							<td><input type="hidden" name="status" value="${'on' if active_person.active else ''}"/></td>
						</tr>
					</py:choose>
					<tr>
						<td>Comments<a href="/wiki/help" class="tooltip"><img src="/media/help.png" /><span>Get help for using links and formats</span></a></td>
						<td py:if="is_member('supervisor')">
							<textarea name="comment" 
									  style="width: 100%;"
									  rows="10" 
									  py:content="active_person.comment"
									/>
						</td>
						<td py:if="not is_member('supervisor')">
							<textarea name="comment"
									  style="width: 100%;"
									  rows="10"
									  py:content="active_person.comment"
									readonly="true"/>
						</td>
					</tr>
				</table>
				<input py:if="is_member('supervisor') or is_self(active_person.username)" type="submit" name="save" value="Save" style="width: 7em;"/>
			</form>
		</div>
	</div>
</body>
</html>
