<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Delete Project</title>
</head>
<style>
    div.head {
        display: inline-block;
        border: 1px solid;
        border-radius: 0.3em;
        padding: 0.3em;
        font-size: 1.2em;
    }

    div.info-text {
        padding: 10px;
    }

	div.space {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	div.short {
		width: 40em;
	}
	input {
		width: 100%;
	}

    /*Fix Bootstrap overwride*/
    body {
        line-height: normal;
    }
</style>
<body>
	${navigation('Delete Project: ' + project.name)}
	<div class="content">
        <div class="error" py:content="error" />
        <a href="/project">Back to all project</a>

        <div class="info-text">
            <div class="head btn-danger"><strong>CAUTION:</strong> You want to delete <strong>${project.name}</strong>!</div>

        <div class="space">If you delete the project. All datasets affected by the project
            will be relieved from it and will stay in the database without a project.</div>
        </div>

        <form method="post" action="/project/delete">
            <button id="btn-delete" type="submit"
            class="btn btn-danger">Delete</button>
            <input type="hidden" id="project_id" name="project_id" value="${project.id}" />
            <input type="hidden" id="force" name="force" value="True" />
		</form>

		<h2>Data</h2>

			<div></div>
	</div>

</body>
</html>