<html>
<script>
    $(function() {
        $('#profile-create').on('click', event => {
            let tgt = $(event.target)
            tgt.parent().toggleClass("wait")
            let div = $('#profile-content')
            div.html('Loading profile...')
            div.load("${conf.url('download', 'profile-table', path=str(path))}")
        })
    })

</script>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" id="table-view" data-bs-toggle="tab" data-bs-target="#table-view-content" type="button" role="tab" aria-controls="table-view-content" aria-selected="true">
                <i class="fa fa-table me-2"></i> table
            </button> 
        </li>
        <li class="nav-item">
            <button class="nav-link" id="stat-view" data-bs-toggle="tab" data-bs-target="#stat-view-content" type="button" role="tab" aria-controls="stat-view-content" aria-selected="false">
                <i class="fa fa-square-poll-horizontal me-2"></i> statistics
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="profile-view" data-bs-toggle="tab" data-bs-target="#profile-view-content" type="button" role="tab" aria-controls="profile-view-content" aria-selected="false">
                <i class="fa fa-magnifying-glass-chart me-2"></i> profile
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="table-view-content" role="tabpanel" aria-labelledby="table-view">
            <div class="d-flex my-1">
                <a py:if="offset>0" class="btn btn-light me-2" title="previous" data-bs-toggle="tooltip" href=".?offset=${offset - nrows}">
                    <i class="fa fa-caret-left"></i>
                </a>
                <div class="pt-2">${offset} - ${offset + nrows} rows, total 
                    <span class="badge bg-primary">${totrows}</span> 
                </div>                
                <a class="btn btn-light ms-2" title="next" data-bs-toggle="tooltip" href=".?offset=${offset + nrows}">
                    <i class="fa fa-caret-right"/>
                </a>
            </div>
            <div py:content="literal(df_html)"></div>
        </div>
        <div class="tab-pane fade" id="stat-view-content" role="tabpanel" aria-labelledby="stat-view">
            <div py:content="literal(stat_html)"></div>
        </div>
        <div class="tab-pane fade" id="profile-view-content" role="tabpanel" aria-labelledby="profile-view">
            <button class="btn btn-light my-2" id="profile-create"><i class="fa fa-arrows-rotate me-2"/>build report...</button>
            <div class="" id="profile-content">profile not yet created</div>
        </div>
    </div>
    
</div>
</html>