<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <!-- insert additional scripts -->
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <!-- insert sidebar content -->
        <div class="container">
            <form method="GET" action=".">
                <div class="form-group">
                    <label for="topics">Topics:</label>
                    <select class="select2 form-control filter" name="topics[]" multiple="multiple">
                        <option py:for="t in topics" value="${t.id}" py:attrs="markoption(t.id in topics_selected)" >${t.name}</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Apply</button>
            </form>
        </div>
    </py:block>
    <py:block name="content">
        <!-- insert main content -->
        <div class="content w-100">
            <div class="container">
                <div id="title-area" class="container bg-dark text-white w-100 border rounded flexbox shadow mb-1">
                    <div>
                        <h2 class="display-4 mr-8 d-inline-block" >Messages</h2>
                    </div>
                    <div class="display-4 col-sm my-auto text-right">
                        <i class="fas fa-envelope mr-4"/>
                    </div>
                </div>
                <div class="container">

                    <div class="list-group">
                        <div
                             class="list-group-item list-group-item-action d-flex row"
                             py:for="msg in messages">
                            <div class="col" py:content="markdown(msg.date.strftime('%Y-%m-%d %H:%M') if msg.date else '')"/>
                            <a href="./${msg.id}" class="col" py:content="markdown(msg.subject)"/>
                            <div class="col" py:content="markdown(' **From:** ' + (msg.source or 'no source'))"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </py:block>
</py:extends>
