<!DOCTYPE html>
<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            //<![CDATA[

            var gg_site;
            // Variable holds the actual site selection, this is important
            // for the #siteselect change event listener

            $(function() {
                gg_site = $('#siteselect').val();

                /*
                 * Event listener for Site selection
                 */
                $('#siteselect').change( function () {

                    if(gg_site != $('#siteselect').val()) {
                        // If site is not the chosen one ... disable import and reset
                        // the periods
                        $('#importdb').prop('disabled', true);
                        $('#periodes').html('Click "Load statistics" for new periods');
                        gg_site = -1;
                    } else {
                        // If otherwise enable import
                        $('#importdb').prop('disabled', false);
                    }

                    // Reload datasets
                    onsiteselect();
                });
            });



            function get_sites() {
                var instrument = $('#instrument').val();
                var site = $('#siteselect').val();
                html = '<option value=""><i>Please select...</i></option>';

                console.log("Instrument: " + instrument);

                if (instrument) {
                    $.getJSON(odmf_ref('/site/with_instrument/') + instrument, {}, function(data){
                        $.each(data,function(index,item){
                            html+='<option value="'+item.id+'">#'+item.id+' ('+item.name+')</option>';
                        });
                        //$('.error').html(html);
                        $('#siteselect').html(html);
                        $("#siteselect").val(site);
                    });
                }

            }
            function showconfig(href) {
                $('#configtext').load(href).slideToggle();
            }
            function submitform() {
                document.forms[0].submit();
                /*var instrument = $('#instrument').val();
                var site = $('#siteselect').val();
                var url='.?filename=' + $('#filename').val();
                if (instrument) url+='&instrument=' + instrument;
                if (site) url+='&site=' + site;
                window.location.href=url;
                */
            }
            function onsiteselect() {
                var instrument = $('#instrument').val();
                var site = $('#siteselect').val();
                if (site) {
                    $.getJSON(odmf_ref('/dataset/json'),{site:site,instrument:instrument},function(data){
                        var html='';
                        $.each(data,function(index,item){
                            html+='<li><a href="${conf.root_url}/dataset/'+item.id+'">'+item.label+'</a></li>';
                        });
                        $('#datasets').html(html);
                        // $('#coverage').html('<img src="${conf.root_url}/dataset/plot_coverage/' + site + '"/>');
                        $('#loadstat').prop('disabled',false);
                    });
                } else {
                    $('#loadstat').prop('disabled',false);
                }
                $('#startdate').val('');
                $('#enddate').val('');
            }
            function setdates(start,end) {
                $('#startdate').val(start);
                $('#enddate').val(end);
                $('#importdb').prop('disabled',false);
                $('.startend').slideDown();
            }

            $(function() {
                get_sites();
                onsiteselect();
            });
            //]]>
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <a href="${conf.root_url}/download/${dirlink}">back to download...</a>
        <h3>Import specifications</h3>
    </py:block>
    <py:block name="content">
        <div class="container">
            <div class="">
                <div>
                    <a href="#errors" data-toggle="collapse" class="btn btn-danger dropdown-toggle">
                        Errors <span id="errorcount" class="badge badge-secondary"></span></a>
                </div>
                <div class="collapse" id="errors" py:content="error" />
            </div>
            <!--
    Variables:
    di module dataimport
    error
    filename
    instrumentid
    siteid
    gaps - time gaps between datasets in the form [(startdate,enddate)]
    stats
     -->

            <form action="${conf.root_url}/download/to_db/" method="post">
                <div>
                    <div class="form-group row">
                        <label for="filename" class="col-sm-2 col-form-label">
                            File for upload:
                        </label>

                        <input type="text" id="filename" name="filename" value="${filename}" size="50"  class="form-control col-sm-10" />

                    </div>
                    <div class="form-group row">
                        <label for="instrument" class="col-sm-2 col-form-label">
                            Adapter:
                        </label>

                        <select py:if="not config"
                                id="instrument" name="instrument" onchange="get_sites();">
                            <option value=""><i>Please select...</i></option>
                            <option py:for="adapter in di.available_adapters()"
                                    py:attrs="markoption(adapter.id == instrumentid)"
                                    py:content="adapter"
                                    value="${adapter.id}" />
                        </select>
                        <div py:if="config">
                            <input type="hidden" id="instrument" name="instrument" value="${config.instrument}"  class="form-control col-sm-10" />
                            <a href="javascript:showconfig('${config.href}')" py:content="config.href" />
                            <div class="small">
                                Please check the configuration. Copy the fitting .conf file to the directory of the file!
                            </div>
                            <div class="collapse code" id="configtext" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="siteselect" class="col-sm-2 col-form-label">
                            Site:
                        </label>

                        <select id="siteselect" name="site" class="form-control col-sm-10">
                            <option value=""><i>Please select...</i></option>
                            <option py:if="siteid" value="${siteid}" selected="selected">#${siteid}</option>
                        </select>

                    </div>
                    <div class="form-group row">
                        <label for="periodes" class="col-sm-2 col-form-label">
                            Periodes:
                        </label>

                        <div py:for="g in (gaps or [])" class="form-control col-sm-10" id="periodes">
                            <input type="radio" name="gap" value="${formatdate(g[0])} - ${formatdate(g[1])}"
                                   onclick="setdates('${formatdatetime(g[0], '%Y-%m-%d')}','${formatdatetime(g[1], '%Y-%m-%d')}')" />
                                ${formatdate(g[0])} - ${formatdate(g[1])}
                        </div>

                    </div>
                    <div class="form-group row startend">
                        <label for="" class="col-sm-2 col-form-label">
                            Start date:
                        </label>

                        <input name="startdate" id="startdate" type="date" class="form-control col-sm-10"
                               value="${formatdatetime(gaps[0][0], '%Y-%m-%d') if gaps else ''}"/>

                    </div>
                    <div class="form-group row startend">
                        <label for="enddate" class="col-sm-2 col-form-label">
                            End date:
                        </label>
                        <input name="enddate" id="enddate" type="date" class="form-control col-sm-10"
                               value="${formatdatetime(gaps[0][1], '%Y-%m-%d') if gaps else ''}"/>
                    </div>
                </div>
                <label for="loadstat col-form-label col-sm-2"></label>
                <input type="submit" name="loadstat" id="loadstat" value="load statistics" disabled="disabled"
                       class="form-control col-sm-2" />

                <h3><a href="javascript:toggle('datasets')">&#x25BE; Similar datasets</a></h3>
                <ul id="datasets" class="toggle small" >
                    <li>No datasets loaded</li>
                </ul>
                <div py:if="stats">
                    <h3>Statistics for ${filename}</h3>
                    <table id="statistics" class="table">
                        <tr >
                            <th>item</th><th>Mean</th><th>Min</th><th>Max</th><th>n</th><th>start</th><th>end</th>
                        </tr>
                        <tr py:for="k,item in stats.items()">
                            <td py:content="k" />
                            <td py:content="('%g' % item.mean) if item.n else 'N/A'" />
                            <td py:content="'%g' % item.min" />
                            <td py:content="'%g' % item.max" />
                            <td py:content="'%i' % item.n" />
                            <td py:content="formatdatetime(item.start)" />
                            <td py:content="formatdatetime(item.end)" />
                        </tr>
                    </table>
                </div>
                <input id="importdb" type="submit" name="importdb" value="start import" disabled="disabled"
                       class="form-control col-sm-2" />
                <div py:if="datasets">
                    <h2>
                        New datasets
                    </h2>
                    <ul>
                        <li py:for="k,dsid in datasets.items()">${k}:
                            <a href="${conf.root_url}/dataset/${dsid}">ds${dsid}</a>
                        </li>

                    </ul>

                </div>
            </form>

        </div>

    </py:block>

</py:extends>

