<!DOCTYPE html>
<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            //<![CDATA[


            $(function() {
                $('#siteselect').change( function () {
                    // Reload datasets
                    onsiteselect();
                });
            });



            function get_sites() {
                var instrument = ${config.instrument};
                var site = $('#siteselect').val();
                html = '<option value=""><i>Please select...</i></option>';
                $('#importdb').prop('disabled', true);
                console.log("Instrument: " + instrument);

                if (instrument) {
                    $.getJSON(odmf_ref('/site/with_instrument/') + instrument, {}, function(data){
                        $.each(data,function(index,item){
                            html+='<option value="'+item.id+'">#'+item.id+' ('+item.name+')</option>';
                        });
                        //$('.error').html(html);
                        $('#siteselect').html(html);
                    });
                }

            }
            function showconfig(href) {
                $('#configtext').load(href).slideToggle();
            }
            function submitform() {
                document.forms[0].submit();
            }
            function onsiteselect() {
                var instrument = $('#instrument').val();
                var site = $('#siteselect').val();
                if (site) {
                    $.getJSON(odmf_ref('/dataset/json'),{site:site,instrument:instrument},function(data){
                        var html='';
                        $.each(data, function(index,item){
                            html+='<li class="list-group-item"><a href="${conf.root_url}/dataset/'+item.id+'">'+item.label+'</a></li>';
                        });
                        $('#datasets').html(html);
                    });
                    $('#importdb').prop('disabled', false);
                }
            }

            $(function() {
                get_sites();
                onsiteselect();
            });
            //]]>
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <a href="${conf.root_url}/download/${dirlink}">back to download...</a>
        <h3>Import specifications</h3>
    </py:block>
    <py:block name="content">
        <div class="container">
            <div class="alert bg-danger text-white mt-3" role="alert" py:if="error">
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-exclamation-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="lead" py:content="markdown(error)"/>
                    </div>
                </div>
            </div>

            <div class="alert alert-success mt-3" role="alert" py:if="defined('message')" >
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-info-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="" py:content="markdown(message)"/>
                    </div>
                </div>
            </div>
            <!--
    Variables:
    error
    filename
    stats
     -->

            <form action="${conf.root_url}/download/to_db/do_import" method="post">
                <div>
                    <div class="form-group row">
                        <label for="filename" class="col-sm-2 col-form-label">
                            File for upload:
                        </label>

                        <input type="text" id="filename" name="filename"
                               value="${filename}" size="50"  class="form-control-plaintext h3 col-sm-10" />

                    </div>
                    <div class="form-group row">
                        <label for="instrument" class="col-sm-2 col-form-label">
                            Adapter:
                        </label>

                        <div py:if="config">
                            <a href="javascript:showconfig('${config.href}')" py:content="config.href" />
                            <div class="small">
                                Please check the configuration. Copy the fitting .conf file to the directory of the file!
                            </div>
                            <div class="collapse code" id="configtext" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="siteselect" class="col-sm-2 col-form-label">
                            Site:
                        </label>

                        <select id="siteselect" name="siteid" class="form-control col-sm-10"/>

                    </div>
                    <div class="form-group row startend">
                        <label for="" class="col-sm-2 col-form-label">
                            Start date:
                        </label>

                        <input name="startdate" id="startdate" type="date" class="form-control col-sm-10"
                               value="${formatdatetime(startdate, '%Y-%m-%d')}"/>

                    </div>
                    <div class="form-group row startend">
                        <label for="enddate" class="col-sm-2 col-form-label">
                            End date:
                        </label>
                        <input name="enddate" id="enddate" type="date" class="form-control col-sm-10"
                               value="${formatdatetime(enddate, '%Y-%m-%d')}"/>
                    </div>
                </div>

                <a href="#datasets" class="dropdown-toggle h3" data-toggle="collapse">Similar datasets</a>
                <ul id="datasets" class="collapse list-group" >
                    <li class="list-group-item">No datasets loaded</li>
                </ul>
                <div>
                    <h3>Statistics for ${filename}</h3>
                    <table id="statistics" class="table">
                        <tr >
                            <th>item</th><th>Mean</th><th>Min</th><th>Max</th><th>n</th><th>start</th><th>end</th>
                        </tr>
                        <tr py:for="k,item in stats.items()">
                            <td py:content="k" />
                            <td py:content="('%g' % item.mean) if item.n else 'N/A'" />
                            <td py:content="'%g' % item.min" />
                            <td py:content="'%g' % item.max" />
                            <td py:content="'%i' % item.n" />
                            <td py:content="formatdatetime(item.start)" />
                            <td py:content="formatdatetime(item.end)" />
                        </tr>
                    </table>
                </div>
                <input id="importdb" type="submit" value="start import" disabled="disabled"
                       class="form-control col-sm-2" />
            </form>

        </div>

    </py:block>

</py:extends>

