<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <script>

            //<![CDATA[

            function isFileSizeToBig( size ) {
                var MAX_SIZE = ${max_size};

                return size > MAX_SIZE;
            }

            $(function() {
                $('.remove-button').on('click', function() {
                    var name = $(this).data('name');
                    if (window.confirm("Do you really want to delete " + name + " file?")) {
                        $.post(odmf_ref('/download/removefile/'), {dir: '${curdir}',filename: name},
                            function(success_url) {
                                window.location = success_url;
                            }
                        );
                    }
                });
                $('.copy-button').on('click', function() {
                    let name = $(this).data('name');
                    let newfilename = window.prompt("New filename", 'copy_of_' + name)
                    if (newfilename) {
                        $.post(odmf_ref('/download/copyfile/'), {dir: '${curdir}',filename: name, newfilename: newfilename},
                            function(success_url) {
                                window.location = success_url;
                            }
                        );
                    }
                });
                $('.action-button').on('click', function() {
                    let actionid = $(this).data('actionid')
                    $.post(odmf_ref('/download/action/'), {path: '${curdir}', actionid: actionid}, function(success_url) {
                        window.location = success_url
                    })
                })

                $('#datafile').on('change',  function(evt) {
                    var path = evt.target.files[0];
                    if(isFileSizeToBig(path.size)) {
                        alert("Please split your file! " + path.name + " has more than ${max_size//1000000} mb. Has " + path.size / 1000000 + " MB");
                        return;
                    } else {
                        $('#upload-label').html(path.name);
                    }
                    $('.upload').prop('disabled', !$(this).val());
                });

                $('.help').on('click', function() {
                    $('#help-edit').collapse('show');
                });

                $('#help').load(odmf_ref('/download/getindex?dir=${curdir}'));

                $('#help-edit').on('show.bs.collapse', function () {
                    // Load current file in textarea
                    $.get({
                        url:'${curdir.raw_url}/index.html',
                        cache:false
                    }).then(function(text) {
                        $('#help-edit textarea').val(text);
                    });
                    $('#help-edit-save').prop('disabled', !${bool2js(is_member('editor'))});
                    // Save file on click
                });
                $('#help-edit-save').on('click', function() {
                    var text=$('#help-edit textarea').val();
                    $.post(
                        odmf_ref('/download/saveindex/'),
                        {dir:'${curdir}',s:text},
                        function(text) {
                            $('#help').load(odmf_ref('/download/getindex?dir=${curdir}'));
                            $('#help-edit').collapse('hide');
                        }
                    );

                });
                $('#help-edit-cancel').on('click', function() {
                    $('#help').load(odmf_ref('/download/getindex?dir=${curdir}'));
                    $('#help-edit').collapse('hide');
                });

                $('#hiddenFiles').on('change', () => {
                    $('.hiddenfile').toggleClass('d-none', ~this.checked)
                })
                $('.hiddenfile').toggleClass('d-none', ~$('#hiddenFiles').prop('checked'))


            });
            //]]>
        </script>
    </py:block>
    <py:block name="style">
        <style>
            a:hover {
                background-color: #4665A2;
                color: white;
                text-decoration: none;
            }

            #help textarea {
                width: 100%;
                font-family: monospace;
                cursor: auto;
            }
            #pdf-iframe {
                overflow: hidden;
                height: 800px;
                width: 100%;
            }

        </style>
    </py:block>
    <py:block name="sidebar">
        <div class="nav-item mr-4 p-2">
            <nav aria-label="breadcrumb" class="">
                <ol class="breadcrumb">
                    <li py:for="bc in curdir.breadcrumbs()" class="breadcrumb-item">
                        <a href="${bc.href}" py:content="bc.basename" />
                    </li>
                </ol>
            </nav>
            <h5>content</h5>
            <ul class="nav flex-column" id="directories">
                <li py:if="not curdir.isroot()" class="nav-item border-top">
                    <a class="nav-link" href="${curdir.parent().href}" ><i class="fas fa-folder-open mr-2" />..</a>

                </li>
                <li py:for="d in sorted(directories)" class="nav-item border-top " >
                    <a class="nav-link ${'' if modes[d] else 'disabled'}" href="${d.href}">
                        <i class="fas fa-folder mr-2" /> ${d.basename}
                    </a>

                </li>
            </ul>
            <div class="container m-1 p-1">
            </div>
        </div>

    </py:block>
    <py:block name="content">
        <div class="container-fluid p-3">
            <div class="alert bg-danger text-white" role="alert" py:if="error">
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-exclamation-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="lead" py:content="markdown(error)"/>
                    </div>
                </div>
            </div>
            <div class="alert alert-success" role="alert" py:if="message" >
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-info-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="" py:content="markdown(message)"/>
                    </div>
                </div>
            </div>
            <div class="row" py:if="curdir.isdir() and modes[curdir]">

                <div class="col-xl">
                    <div class="card p-3" >
                        <h5 class="card-title">
                            <i class="fas fa-folder-open mr-2"/>
                            <span py:for="bc in curdir.breadcrumbs()">/<a href="${bc.href}" py:content="bc.basename" /></span>
                            <span class="badge bg-warning ml-8 float-right" py:content="modes[curdir].name"/>
                        </h5>
                        <ul class="nav flex-column card-text mb-3" id="files">

                            <li class="nav-item flexbox mt-1 pt-1 border-top" py:if="not curdir.isroot()" >
                                <span >
                                    <a href="${curdir.parent().href}" class="nav-link">
                                        <i class="fas fa-folder-open" />
                                        <span >..</span>
                                    </a>
                                </span>
                            </li>
                            <li py:for="d in directories" class="nav-item flexbox mt-1 pt-1 border-top">
                                <span class="nav-link">
                                    <a href="${d.href}" class="${'' if modes[d] else 'disabled'}">
                                        <i class="fas fa-folder fa-lg" />
                                        <span py:content="d.basename" />
                                    </a>
                                    <span class="badge bg-warning text-bg-warning" py:content="modes[d].name"/>
                                </span>
                                <span>
                                    <button class="btn btn-danger remove-button" data-name="${d.basename}"
                                            py:if="modes[d]>=Mode.admin and d.isempty()"
                                            title="remove directory" data-toggle="tooltip">
                                        <i class="fas fa-times-circle" />
                                    </button>
                                </span>
                            </li>
                            <li py:for="f in files" class="nav-item flexbox mt-1 pt-1 border-top ${'hiddenfile' if f.ishidden() else ''}" >
                                <span >
                                    <a href="${f.href}" class="nav-link">
                                        <i class="fas fa-${handler[f].icon} fa-lg" />
                                        <span py:content="f.basename" class="mr-auto"/>
                                        <span class="ml-4 badge badge-secondary" py:content="f.formatsize()" />
                                    </a>
                                </span>
                                <span>
                                    <a class="btn btn-success" href="${conf.root_url}/download/to_db?filename=${f.name}"
                                       title="import in data base" data-toggle="tooltip"
                                       py:if="modes[curdir]>=Mode.write"
                                    >
                                        <i class="fas fa-file-import" />
                                    </a>
                                    <button class="btn btn-danger remove-button" data-name="${f.basename}" py:if="modes[curdir]>=Mode.admin"
                                            title="remove file" data-toggle="tooltip">
                                        <i class="fas fa-times-circle" />
                                    </button>
                                    <button class="btn btn-secondary copy-button" data-name="${f.basename}" py:if="modes[curdir]>=Mode.write"
                                            title="copy file" data-toggle="tooltip">
                                        <i class="fas fa-copy" />
                                    </button>
                                </span>

                            </li>
                        </ul>
                        <div class="nav">
                            <button class="btn btn-primary dropdown-toggle mr-3 nav-item" type="button"
                                    id="addFileDropdownButton" data-toggle="dropdown" py:attrs="prop(disabled=modes[curdir]==Mode.read)"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus-circle" />
                                Add files and folders
                            </button>
                            <form method="post" action="${conf.root_url}/download/create_access_file" class="nav-item">
                                <button class="btn btn-secondary mr-3" type="submit" name="uri" value="${curdir}"
                                   py:if="modes[curdir]>=Mode.admin"
                                >
                                    <i class="fas fa-cog" /> manage access
                                </button>

                            </form>
                            <div class="nav-item custom-control custom-checkbox" py:if="modes[curdir]>=Mode.admin">
                                <input type="checkbox" class="custom-control-input" id="hiddenFiles"/>
                                <label class="custom-control-label" for="hiddenFiles">show hidden files</label>
                            </div>


                            <div class="dropdown-menu" aria-labelledby="addFileDropdownButton">
                                <div class="dropdown-item" >

                                    <form method="post" action="${conf.root_url}/download/newfolder" class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="newfolder" class="form-control" placeholder="new folder name"/>
                                            <span class="input-group-append">
                                                    <button class="btn btn-secondary" type="submit"
                                                            title="Add new folder" data-toggle="tooltip" data-placement="right"
                                                    >
                                                        <i class="fa fa-folder-plus"></i>
                                                    </button>
                                                </span>
                                        </div>
                                        <input name="dir" type="hidden" value="${curdir}" />
                                    </form>
                                </div>
                                <div class="dropdown-item" >
                                    <form id="newfile-form" method="post" action="${conf.root_url}/download/newtextfile" class="form-group">
                                        <input name="dir" type="hidden" value="${curdir}" />
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" title="new text file" placeholder="new-text-file-name"
                                                   name="newfilename" id="newfilename"
                                            />
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-secondary">
                                                    <i class="fas fa-file-alt fa-lg" />
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="dropdown-item">
                                    <form id="upload-form" method="post" enctype="multipart/form-data" action="${conf.root_url}/download/upload" class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button type="submit" class="btn btn-secondary">
                                                    <i class="fas fa-file-upload fa-lg" />
                                                </button>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input form-control"
                                                       name="datafiles" id="datafile" multiple="multiple"
                                                />
                                                <label id="upload-label" class="custom-file-label" for="datafile">upload...</label>
                                            </div>
                                            <input name="dir" type="hidden" value="${curdir}" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <input id="overwrite" type="checkbox" value="overwrite" name="overwrite"
                                                           data-toggle="tooltip" title="Allow to overwrite existing file with the same name"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="info-box-right-side" class="col-lg">
                    <div class="card help">
                        <div class="card-header">
                            <h3 class="card-title flexbox" >
                                <span>
                                    <i class="fas fa-info-circle fa-lg" />
                                    ${curdir.basename.title()}
                                </span>
                                <a href="#help-edit" data-toggle="collapse" class="btn btn-secondary help">
                                    <i class="fas fa-edit" title="Click to edit..." data-toggle="tooltip"/>
                                </a>
                            </h3>
                            <div py:content="markdown('folder created by user:' + str(owner))"/>

                        </div>
                        <div id="help" class="card-body  card-text" />
                        <div id="help-edit" class="card-footer collapse">
                            <textarea rows="20" class="form-control"/>
                            <br/>
                            <button id="help-edit-save" class="btn btn-success mr-1">
                                <i class="fas fa-check mr-1" />
                                save
                            </button>
                            <button id="help-edit-cancel" class="btn btn-secondary mr-1">
                                <i class="fas fa-times-circle mr-1" />
                                cancel
                            </button>
                            <a href="${conf.root_url}/download/wiki/help.wiki" class="btn btn-info"
                               title="Help for formatting" data-toggle="tooltip">
                                <i class="fas fa-question-circle" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" py:if="content and modes[curdir]">
                <h5 class="col-lg-9">
                    <i class="fas fa-${handler[curdir].icon} fa-lg mr-2"/><span py:for="bc in curdir.breadcrumbs()">/<a href="${bc.href}" py:content="bc.basename" /></span>
                </h5>
                <div class="col-lg-3">
                    <a py:for="action_id, action in enumerate(handler[curdir].actions)"
                       py:if="modes[curdir]==Mode.admin"
                       class="btn btn-secondary action-button"
                       data-toggle="tooltip" title="${action.tooltip}"
                       data-actionid="${action_id}" data-path="${curdir}">
                        <i class="fas fa-${action.icon}" />${action.title}
                    </a>
                    <a class="btn btn-primary" href="./?serve=True"><i class="fas fa-file-download mr-4"/>download</a>
                    <a class="btn btn-outline-primary" href="${curdir.parent().href}"><i class="fas fa-folder-open mr-4"/>..</a>
                </div>
            </div>
            <div class="row" py:if="content and modes[curdir]">
                <div class="container mt-4 h100" py:content="literal(content)"/>
            </div>
        </div>
    </py:block>

</py:extends>
