<!DOCTYPE html>

<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <!-- insert additional scripts -->
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <!-- insert sidebar content -->
    </py:block>
    <py:block name="content">
        <div class="container m-0 p-0">
            <div id="error-row" class="row mt-2 w-100 d-none">
                <div class="container">
                    <div class="row bg-danger text-white border rounded p-4">
                        <h1 class="display-3 col-lg-2">Error</h1>
                        <div class="lead col-lg-10" id="error" py:content="markdown(error)"/>
                    </div>
                </div>
            </div>
            <div class="alert alert-success" role="alert" py:if="success">
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-info-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="" py:content="markdown(success)"/>
                    </div>
                </div>
            </div>
            <div>
                <div class="row"/>
            </div>

        </div>
    </py:block>
</py:extends>
