<!DOCTYPE html>
<html>

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <script>function odmf_ref(s) {return '${conf.head_base}' + s;}</script>

	<link href="${conf.head_base}/media/css/odmf.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>${title}</title>
	<!--more for the head-->
	<style>
	input { width: 100%;}
	select { width: 100%;}
	</style>
</head>
<body>
	${navigation(title)}
	<div class="content">
    <div class="error" py:content="error" />
    <div id="content">
    	<!--content goes here-->
    </div>
  </div>
</body>
</html>