<!DOCTYPE html>
<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            //<![CDATA[
            function popSelect() {
                $.getJSON(odmf_ref('/site/json'),[],function(data){
                    var html='<option value=""><i>Please select...</i></option>';
                    $.each(data[0],function(index,item){
                        html += '<option value="' + item.id + '">#' + item.id + ' ('+ item.name + ')' + '</option>';
                    });
                    $('#siteselect').html(html);
                });
            }
            $(function() {
                popSelect();
            });
            function addinstrument() {
                data = {siteid:$('#siteselect').val(),
                    date:escape($('#installationdate').val()),
                    instrumentid:${actualinstrument.id},
                    comment:$('#installation-comment').val()
                };
                $.post(odmf_ref('/site/addinstrument'),data,function (data,textStatus,jqHXR){
                    if (data=='') {
                        location.reload();
                    } else {
                        $('.error').html(data);
                    }
                });
            }
            function removeinstrument(installationid,siteid) {
                data = {instrumentid:${actualinstrument.id},
                    date:escape($('#installationdate').val()),
                    siteid:siteid,
                    installationid:installationid
                };
                $.post(odmf_ref('/site/removeinstrument'),data, function(data,textStatus,jqHXR) {
                    if (data=='') {
                        location.reload();
                    } else {
                        $('.error').html(data);
                    }
                });
            }

            //]]>
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid">
            <a class="btn btn-secondary w-100 mb-4" href="${conf.root_url}/instrument/new" py:if="is_member('editor')">
                <i class="fas fa-plus mr-2"/>
                new instrument
            </a>
            <div class="nav flex-column nav-pills" >
                <a py:for="inst in instruments"
                   class="nav-link ${['', 'active'][inst.id==actualinstrument.id]}"
                   href="${f'{conf.root_url}/instrument/{inst.id}'}"
                   py:content="inst"
                />
            </div>

        </div>
    </py:block>
    <py:block name="content">
        <div class="container">
            <div class="container" py:if="actualinstrument" py:with="inst_act=actualinstrument">
                <div id="description" py:if="inst_act">
                    <div class="row mt-2 w-100">
                        <div class="container">
                            <div id="title-area" class="container bg-dark text-white w-100 border rounded flexbox shadow mb-4" >
                                <h2 class="display-4 mr-8" py:content="f'{inst_act.name} [{inst_act.sourcetype}]'"/>
                                <div class="display-4 col-sm my-auto text-right" >
                                    <i class="fas fa-thermometer-half mr-4"/>${inst_act.id}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="container border-bottom" py:if="inst_act.manuallink">
                                        <a href="${f'{conf.root_url}/{inst_act.manuallink}'}">
                                            <i class="fas fa-book-open mr-2" />${inst_act.name}'s manual
                                        </a>
                                    </div>
                                    <div class="container" py:content="markdown(inst_act.comment)"/>
                                </div>
                                <div class="col-lg-2">
                                    <a class="btn btn-secondary dropdown-toggle" href="#edit" data-toggle="collapse">
                                        edit
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
                <div id="edit" class="container collapse border rounded px-4">
                    <form action="${conf.root_url}/instrument/saveitem"
                          method="post" py:if="is_member('supervisor')"
                    >
                        <div class="form-row mt-2">
                            <div class="form-group">
                                <label for="">ID:</label>
                                <input type="text" id="id" name="id" class="form-control" value="${inst_act.id}" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="">Name:</label>
                                <input type="text" id="name" name="name" class="form-control" value="${inst_act.name}" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="sourcetype">Type of instrument:</label>
                                <input type="text" id="sourcetype" name="sourcetype" class="form-control" value="${inst_act.sourcetype}" />
                            </div>
                            <div class="form-group">
                                <label for="">Link to manual</label>
                                <input type="text" id="manuallink" name="manuallink" class="form-control" value="${inst_act.manuallink}"/>
                            </div>
                        </div>
                        <div class="form-row mb-2">

                            <label for="">Comment:</label>
                            <textarea id="comment" name="comment" class="form-control"
                                      rows="4"
                                      py:content="inst_act.comment"/>
                        </div>
                        <button class="btn btn-success mb-2" type="submit" id="save" name="save" >
                            <i class="fas fa-save mr-2"/>
                            save changes
                        </button>
                    </form>
                </div>
                <h2 class="border-bottom">Installations</h2>
                <div id="installations" class="container">
                    <h4>Add installation</h4>
                    <div id="add-installation" class="input-group mb-2" py:if="is_member('editor')">
                        <div class="input-group-prepend">
                            <button py:if="is_member('editor')" onclick="addinstrument()" class="btn btn-outline-secondary">
                                <i class="fas fa-plus"/>
                            </button>
                        </div>
                        <input type="date" class="form-control" id="installationdate" value="${formatdate()}"
                               data-toggle="tooltip"
                               title="When has the instrument been installed"
                        />
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-map-marker-alt"/>
                            </span>
                        </div>
                        <select id="siteselect" class="form-control"
                                data-toggle="tooltip"
                                title="Where has the instrument been installed"
                        >
                            <option disabled="disabled">select site...</option>
                        </select>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-comment-lines"/></span>
                        </div>
                        <input class="form-control" placeholder="installation comment"/>
                    </div>
                    <div class="input-group mb-2">
                    </div>
                    <h4>Current installation</h4>
                    <ul style="margin-top:0px;padding-top:0px;">
                        <li py:for="inst in actualinstrument.sites" >
                            <div>
                                <a  href="${conf.root_url}/site/${inst.site.id}#instrumentlist"
                                    py:if="inst.active"
                                    py:content="'since %s: #%i (%s)' % (formatdate(inst.installdate),inst.site.id,inst.site.name)" />
                                <span py:if="not inst.active" class="removed"
                                      py:content="'until %s: #%i (%s)' % (formatdate(inst.installdate),inst.site.id,inst.site.name)" />
                                <a href="javascript:removeinstrument(${inst.id},${inst.site.id})"
                                   py:if="is_member('editor') and inst.active"
                                   class="btn btn-outline-danger btn-sm"
                                   title="remove installation" data-toggle="tooltip"
                                ><i class="fas fa-minus"/></a>

                            </div>
                            <div py:content="inst.comment"/>
                        </li>
                    </ul>
                </div>
                <h2 class="border-bottom">Datasets</h2>
                <div id="datasets" class="container">
                    <ul>
                        <li py:for="ds in actualinstrument.datasets">
                            <a href="${conf.root_url}/dataset/${ds.id}"
                               py:content="ds" />
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </py:block>
</py:extends>

