<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            //<![CDATA[
            function addtype() {
                var newtype = prompt('New type:');
                if (newtype) {
                    $('#edittype').prepend('<option value="' + newtype +
                            '">'+newtype+'</option>').val(newtype);
                }
            }

            function reload(jobid) {
                var params = {user:$('#filterresponsible').val(),
                    onlyactive:$('#filteractive').val(),
                };
                var loc=odmf_ref('/job/') + jobid + '?';
                var uri = loc + jQuery.param(params)
                window.location=uri;
            }
            function jobdone(jobid) {
                $.post(odmf_ref('/job/done/')+jobid,function(data) {
                    if (data) alert(data);
                    reload(jobid);
                });
            }
            //]]>
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <div class="container" >
            <div class="container">
                <a class="btn btn-secondary w-100 mb-1" href="javascript:reload('new')">
                    <i class="fas fa-plus-circle mr-3" />
                    new job
                </a>
            </div>
            <h4>
                <i class="fas fa-filter mr-3" />Filter
            </h4>
            <div class="container">
                <select id="filterresponsible"
                        class="form-control filter"
                        onchange="reload(${job.id if job else '\'\''});">
                    <option value="all" py:attrs="markoption(username=='all')">all users</option>
                    <option py:for="p in persons"
                            py:content="p"
                            py:if="p.jobs.count()"
                            py:attrs="markoption(p.username==username)"
                            value="${p.username}" />
                </select>
            </div>
            <div class="container">
                <select id="filteractive" class="filter form-control"
                        onchange="reload(${job.id if job else ''});">
                    <option value="" py:attrs="markoption(not onlyactive)">all jobs</option>
                    <option value="active" py:attrs="markoption(onlyactive)">only active</option>
                </select>

            </div>
        </div>
    </py:block>
    <py:block name="content">
        <div class="content">
            <div class="row">
                <div class="col-lg">
                    <table id="joblist" class="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>responsible</th>
                            <th class="small">author</th>
                            <th>name</th>
                            <th>due</th>
                            <th>type</th>
                            <th>repeat</th>
                            <th>done</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="joblist"
                            py:for="j in jobs"
                            style="background-color: ${j.color}">
                            <td >
                                <a href="javascript:reload(${j.id})"
                                   title="${markdown(j.description)}"
                                   class="link"
                                   data-toggle="tooltip"
                                   data-html="true"
                                >
                                    ${j.name}
                                </a>
                            </td>
                            <td py:content="j.id" />
                            <td py:content="j.responsible" />
                            <td py:content="j.author" class="small"/>
                            <td py:content="formatdate(j.due)" />
                            <td py:content="j.type" />
                            <td py:content="j.repeat" />
                            <td>
                                <button py:if="not j.done"
                                        onclick="jobdone(${j.id});"
                                        class="btn btn-secondary"
                                >
                                    <i class="fas fa-check" />
                                </button>
                                <span py:if="j.done" py:content="formatdate(j.donedate)" />
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg" py:if="job">
                    <div class="container">

                        <h2>${job.name}</h2>
                        <div py:content="markdown(job.description)"/>

                        <div style="background-color:${job.color}" class="row alert">
                            <h5 class="col-sm-4">Status:</h5>
                            <h5 class="col-sm-8"
                                py:content="'done at ' + formatdate(job.donedate) if job.done else 'due at ' + formatdate(job.due)"/>
                        </div>
                        <form method="post" action="${conf.root_url}/job/saveitem">
                            <div class="form-group row">
                                <label for="editid" class="col-form-label col-sm-4">ID:</label>
                                <input type="number"  id="editid" name="id" value="${job.id}" readonly="readonly" class="form-control col-sm-8"/>
                            </div>
                            <div class="form-group row">
                                <label for="editname" class="col-form-label col-sm-4">Name:</label>
                                <input type="text"  id="editname" name="name" value="${job.name}"  class="form-control col-sm-8" />
                            </div>
                            <div class="form-group row">
                                <label for="editdue" class="col-form-label col-sm-4">Due:</label>
                                <input type="date"  id="editdue" name="due" value="${formatdate(job.due, '%Y-%m-%d')}" class="form-control col-sm-8" />
                            </div>
                            <div class="form-group row">
                                <label for="editrepeat" class="col-form-label col-sm-4">Repeat in days</label>
                                <input  id="editrepeat" name="repeat" type="number" value="${job.repeat}"
                                        class="form-control col-sm-8" />
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Author:</div>
                                <div class="col-sm-8">${job.author}</div>
                            </div>
                            <div class="form-group row">
                                <label for="editresponsible" class="col-form-label col-sm-4">Responsible:</label>
                                <select  id="editresponsible" name="responsible" class="col-sm-8 form-control select2">
                                    <option value=""><i> &lt;Please select...&gt;</i></option>
                                    <option py:for="p in persons"
                                            py:attrs="markoption(p is job.responsible)"
                                            py:content="p"
                                            value="${p.username}" />
                                </select>
                            </div>
                            <div class="form-group row">
                                <textarea  id="editdescription" name="description" class="markdown form-control"
                                          rows="5">${job.description}</textarea>
                                <div class="small box">
                                    Use the description to perform actions, when the job is done. Use the button to append some template actions to the job.
                                    Remember to replace the x's in the template by meaningful days, site ids and users!
                                    <script>
                                        //<![CDATA[
                                        function addactiontemplate() {
                                            var oldtext=$('#editdescription').val();
                                            var newtext='\nwhen done:\ncreate job after x days:<follow up job>\ncreate log at site x:<log text>\ncreate mail to x philipp:<email text>\n'
                                            $('#editdescription').val(oldtext+newtext)
                                        }
                                        //]]>
                                    </script>
                                    <button class="btn btn-secondary" onclick="addactiontemplate();">
                                        create action template
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="edittype" class="col-form-label col-sm-4">type</label>
                                <select  id="edittype" name="type" class="col-sm-6 form-control">
                                    <option py:for="t in jobtypes"
                                            py:attrs="markoption(t[0]==job.type)"
                                            value="${t[0]}"
                                            py:content="t[0]">
                                    </option>
                                </select>
                                <div class="col-sm-2">
                                    <a class="btn btn-secondary" href="javascript:addtype(); " title="New type" data-toggle="tooltip">
                                        <i class="fas fa-plus-circle" />
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <button  id="editsave" name="save" value="save"
                                        class="btn btn-secondary mr-1"
                                        type="submit"
                                        title="Saves the changes to the database"
                                        data-toggle="tooltip"
                                >
                                    <i class="fas fa-check mr-1" />
                                    save changes
                                </button>
                                <button  id="editsaveandown" name="save" value="own"
                                        py:if="job.author.username!=user()"
                                        type="submit"
                                        class="btn btn-secondary mr-1"
                                        title="Saves the changes to the author and makes you to the author of the job"
                                        data-toggle="tooltip"
                                >
                                    become author
                                </button>

                                <button  id="editsavedone" name="save" value="done"
                                        type="submit"
                                        class="btn btn-secondary mr-1"
                                        title="Saves changes and marks job as done"
                                        data-toggle="tooltip"
                                >
                                    <i class="fas fa-check" />
                                </button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </py:block>

</py:extends>

