<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            //<![CDATA[

            function reload(jobid) {
                var params = {user:$('#filterresponsible').val(),
                    onlyactive:$('#filteractive').val(),
                };
                var loc=odmf_ref('/job/') + jobid + '?';
                var uri = loc + jQuery.param(params)
                window.location=uri;
            }
            //]]>
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid" >
            <a class="btn btn-secondary w-100 mb-4" href="..">
                <i class="fas fa-calendar me-3" />
                calendar
            </a>
            <a class="btn btn-primary w-100 mb-4" href="../new">
                <i class="fas fa-plus-circle me-3" />
                new job
            </a>
        </div>
        <div class="container-fluid">
            <h4>My assigned jobs</h4>
            <div class="list-group">
                <a py:for="j in my_jobs" href="../${j.id}" class="list-group-item list-group-item-action ${class_if(j.is_due(), 'list-group-item-danger')}">${j}</a>
            </div>
            <h4>My delegated jobs</h4>
            <div class="list-group">
                <a py:for="j in my_jobs_author" href="../${j.id}" class="list-group-item list-group-item-action ${class_if(j.is_due(), 'list-group-item-danger')}">${j}</a>
            </div>
        </div>
    </py:block>
    <py:block name="content">
        <div class="content w-100">
            <div class="container">
                <div id="title-area" class="container bg-dark text-white w-100 border rounded flexbox shadow mb-1">
                    <div class="display-4 d-inline-block me-4" py:if="job.due">
                        <div class="badge bg-danger" py:if="job.is_due()"><i class="fas fa-exclamation-circle"/></div>
                        <div class="badge bg-secondary" py:if="not job.is_due() and not job.done"><i class="fas fa-clock-rotate-left"></i></div>
                        <div class="badge bg-success" py:if="job.done"><i class="fas fa-check"></i></div>
                    </div>

                    <div>
                        <h2 class="display-4 me-8 d-inline-block" py:content="f'{job.name}'"/>

                    </div>
                    <div class="display-4 col-sm my-auto text-right">
                        <i class="fas fa-tasks me-4"/>${job.id}
                    </div>
                </div>
                <div class="alert py-0 ${class_if(job.done,'alert-success')} ${class_if(job.is_due(),'alert-danger')}${class_if(not(job.is_due() or job.done) ,'alert-primary')}">
                    <h5 class="col-sm-8"
                        py:content="'done at ' + formatdate(job.donedate) if job.done else 'due at ' + formatdate(job.due)"/>
                </div>
                <div class="container" py:content="markdown(job.description)"/>
                <div class="container" py:if="job.log and job.log.get('sites')">
                    <h5>Log on done to sites</h5>
                    <div class="small">sites:</div>
                    <div class="d-flex">
                        <a class="me-2 btn btn-light" py:for="s_id in job.log['sites']" href="${conf.url('site', s_id)}"><i class="fas fa-map-location me-2"/>${s_id}</a>
                    </div>
                    <div>${job.log.get('message') or '...'}</div>
                </div>
                <div class="container" py:if="job.mailer and job.mailer.get('topics')">
                    <h5>Mailer</h5>
                    <div class="small">topics:</div>
                    <div class="d-flex">
                        <a class="me-2 btn btn-light" py:for="t in (job.mailer.get('topics') or [])" href="${conf.url('topic', t)}"><i class="fas fa-inbox me-2"/>${t}</a>
                    </div>
                    <div class="small">when:</div>
                    <div class="d-flex mt-1">
                        <div py:for="d in (job.mailer.get('when') or [])" class="ms-1 px-1 bg-light border rounded">${d}<span class="ms-1 small" py:if="type(d) is int">days</span></div>

                    </div>


                </div>

                <form method="post" action=".">
                    <div class="accordion mt-4" id="accordion">
                        <div class="accordion-item">
                            <h4 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#edit-div" aria-expanded="true" aria-controls="edit-div">
                                    <i class="fas fa-edit me-2"></i> edit job
                                </button>
                            </h4>
                            <div class="accordion-collapse collapse" id="edit-div">
                                <div class="accordion-body">
                                    <div class="form-group row">
                                        <label for="edit-type" class="col-form-label col-sm-4">type</label>
                                        <select  id="edit-type" name="type" class="col-sm form-control select2-tags" py:attrs="prop(readonly=not can_edit)">
                                            <option py:for="t in jobtypes"
                                                    py:attrs="markoption(t[0]==job.type)"
                                                    value="${t[0]}"
                                                    py:content="t[0]">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="edit-name" class="col-form-label col-sm-4">Name:</label>
                                        <input type="text"  id="edit-name" name="name" value="${job.name}"
                                               class="form-control col-sm-8" py:attrs="prop(readonly=not can_edit)"/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="edit-due" class="col-form-label col-sm-4">Due:</label>
                                        <input type="date"  id="edit-due" name="due" value="${formatdate(job.due, '%Y-%m-%d')}"
                                               class="form-control col-sm-8" py:attrs="prop(readonly=not can_edit)" />
                                    </div>
                                    <div class="form-group row">
                                        <label for="edit-duration" class="col-form-label col-sm-4">Duration in days</label>
                                        <input  id="edit-duration" name="duration" type="number" value="${job.duration}"
                                                class="form-control col-sm-8" py:attrs="prop(readonly=not can_edit)"/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="edit-repeat" class="col-form-label col-sm-4">Repeat in days</label>
                                        <input  id="edit-repeat" name="repeat" type="number" value="${job.repeat}"
                                                class="form-control col-sm-8" py:attrs="prop(readonly=not can_edit)"/>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">Author:</div>
                                        <div class="col-sm-8">${job.author}</div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="edit-responsible" class="col-form-label col-sm-4">Responsible:</label>
                                        <select  id="edit-responsible" name="responsible"
                                                 class="col-sm-8 form-control select2" py:attrs="prop(disabled=not can_edit)">
                                            <option value=""><i> &lt;Please select...&gt;</i></option>
                                            <option py:for="p in persons"
                                                    py:attrs="markoption(p is job.responsible)"
                                                    py:content="p"
                                                    value="${p.username}" />
                                        </select>
                                    </div>
                                    <label for="edit-description" class="markdown">
                                        Description:
                                        <a title="Get help for using links and formats" data-bs-toggle="tooltip" data-bs-placement="top" class="ms-1 wiki-help" href="${conf.root_url}/help/odmf-markdown">
                                            <i class="fas fa-question-circle"/>
                                        </a>
                                    </label>
                                    <div class="form-group row">
                                    <textarea  id="edit-description" name="description"
                                               class="markdown form-control"
                                               py:attrs="prop(readonly=not can_edit)" rows="5"
                                    >${job.description}</textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#logs-div" aria-expanded="true" aria-controls="edit-div">
                                    <i class="fas fa-tags me-2"></i> create logs
                                </button>
                            </h4>
                            <div class="accordion-collapse collapse" id="logs-div">
                                <div class="accordion-body">
                                    <div class="form-group row">
                                        <label for="edit-logsites" class="col-form-label col-sm-4">for each site:</label>
                                        <select name="sites[]" id="edit-logsites" class="col-sm-8 form-control select2" multiple="multiple">
                                            <option py:for="site in sites" value="${site.id}" py:attrs="markoption(job.log and job.log.get('sites') and site.id in job.log['sites'])" title="${site.name}">${site}</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="edit-logmsg" class="col-form-label col-sm-4">message:</label>
                                        <input class="form-control col-sm-8" id="edit-logmsg" placeholder="${job.name}" name="logmsg" value="${job.log and job.log.get('message')}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mail-div" aria-expanded="true" aria-controls="edit-div">
                                    <i class="fas fa-envelope me-2"></i> send messages
                                </button>
                            </h4>
                            <div class="accordion-collapse collapse" id="mail-div">
                                <div class="accordion-body">
                                    <div class="form-group row">
                                        <label for="edit-msgtopics" class="col-form-label col-sm-4">topics:</label>
                                        <select name="topics[]" id="edit-msgtopics" class="col-sm-8 form-control select2" multiple="multiple">
                                            <optgroup label="Your subscribed topics">
                                                <option py:for="topic in topics" value="${topic.id}"
                                                        py:attrs="markoption(job.mailer and job.mailer.get('topics') and topic.id in job.mailer.get('topics'))"
                                                        py:if="me in topic.subscribers"
                                                        title="${topic}">${topic.id}</option>
                                            </optgroup>
                                            <optgroup label="Other topics">
                                                <option py:for="topic in topics" value="${topic.id}"
                                                        py:attrs="markoption(job.mailer and job.mailer.get('topics') and topic.id in job.mailer.get('topics'))"
                                                        py:if="me not in topic.subscribers" class=""
                                                        title="${topic}">${topic.id}</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group row" data-bs-toggle="tooltip" title="send message to topics when">
                                        <label for="edit-logsites" class="col-form-label col-sm-4" >when:</label>
                                        <select name="msgdates[]" id="edit-msgdates" class="col-sm-8 form-control select2" multiple="multiple">
                                            <option value="done" title="send to topics message when done"
                                                    py:attrs="markoption('done' in ((job.mailer or {}).get('when') or []))"
                                            >done</option>
                                            <option py:for="d in [0, 1, 3, 7, 14, 28]" value="${d}"
                                                    py:attrs="markoption(d in ((job.mailer or {}).get('when') or []))"
                                                    title="${d} day before due">${d} days</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <button  id="edit-save" name="save" value="save"
                                         py:if="can_edit"
                                         class="btn btn-secondary me-1"
                                         type="submit"
                                         title="Saves the changes to the database"
                                         data-bs-toggle="tooltip"
                                         py:attrs="prop(disabled=not can_edit)"
                                >
                                    <i class="fas fa-save me-1" />
                                    save
                                </button>
                                <button  id="edit-saveandown" name="save" value="own"
                                         py:if="job.author.username!=user() and can_edit"
                                         type="submit"
                                         class="btn btn-secondary me-1"
                                         title="Saves the changes to the author and makes you to the author of the job"
                                         data-bs-toggle="tooltip"
                                         py:attrs="prop(disabled=not can_edit)"
                                >
                                    become author
                                </button>
                                <button  id="edit-send-update" name="save" value="send"
                                         py:if="can_edit"
                                         type="submit"
                                         class="btn btn-warning me-1"
                                         data-bs-toggle="tooltip"
                                         title="Save the changes and sends a mail to everyone who subscribed to the topics of this job"
                                         py:attrs="prop(disabled=not can_edit)"
                                >
                                    <i class="fas fa-paper-plane"/> save &amp; update
                                </button>
                                <button  id="edit-savedone" name="save" value="done"
                                         type="submit"
                                         py:if="can_edit"
                                         class="btn btn-success me-1"
                                         title="Saves changes and marks job as done"
                                         data-bs-toggle="tooltip"
                                         py:attrs="prop(disabled=not can_edit)"
                                >
                                    <i class="fas fa-check" /> done
                                </button>
                                <a href="${conf.url('job','new', copy=job.id)}" class="btn btn-secondary me-1" id="btn-copy" role="button"><i class="fas fa-copy"/> copy</a>
                                <button class="btn btn-danger me-1" name="save" value="delete"
                                   id="btn-delete" role="button"
                                   py:if="job.author.username==user() or Level.my() >= Level.admin">
                                    <i class="fas fa-trash"/> delete
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </py:block>

</py:extends>

