<!DOCTYPE html>
<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <script type="text/javascript" src="${conf.root_url}/media/js/site-filter.js"/>
        <script type="text/javascript" src="${conf.root_url}/media/js/map.js"></script>
        <script type="text/javascript" async="async" defer="defer"
                src="${conf.google_maps_api('initMap')}">
        </script>
        <script>
            $(() =>{
                $('[data-toggle="tooltip"]').tooltip()
                // Do not put anything map related here but in initMap in map.js
                // The map is created async and takes a bit of time
            });
        </script>
    </py:block>
    <py:block name="style">
        <style>
            .mapCanvasShort {

            height: calc(100vh - 4.7em);
            width: 100%;
            margin: 0px;
            padding: 0px;
            }
        </style>
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid">
            <h3>Current location</h3>
            <div class="alert alert-dark">
                <span id="coordinates">Not in map</span>
            </div>
            <div class="container flexbox">
                <div class="custom-control custom-switch col-sm" title="Use double click to create a new site" data-toggle="tooltip">
                    <input type="checkbox" id="createsite" class="custom-control-input"/>
                    <label class="custom-control-label" for="createsite">new site</label>
                </div>
                <button title="Show all sites" data-toggle="tooltip" class="btn btn-outline-dark col-sm" id="zoom-home">
                    <i class="fas fa-home" />
                </button>
            </div>

        </div>
        <div class="mt-3" id="filter-collapse">
            <a href="#filter" id="filter-toggle" class="btn btn-secondary flexbox h1 dropdown-toggle"
               data-toggle="collapse">
                <span><i class="fas fa-filter mr-2"/>Filter</span><span class="ml-auto badge rounded-pill bg-primary" id="site-count">0</span>
            </a>
            <div id="filter" class="collapse card card-body" >
                <py:include href="site-filter.html"/>
            </div>

        </div>

        <hr />
        <div id="map-error" class="d-none alert alert-danger">

        </div>
        <div id="infotext">
            <div class="card card-body">
                <h5 class="card-title">No site selected</h5>
            </div>
        </div>
    </py:block>
    <py:block name="content">
        <div id="map_canvas" class="mapCanvasShort row" data-site="${site}">Map</div>

    </py:block>

</py:extends>
