<!DOCTYPE html>
<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script type="text/javascript" async="async" defer="defer"
                src="https://maps.googleapis.com/maps/api/js?key=${conf.google_maps_api_key}">
        </script>
        <script type="text/javascript" src="${conf.root_url}/media/js/map.js"></script>
        <script>
            $(function() {
                initMap(${site});
            });
        </script>
    </py:block>
    <py:block name="style">
        <style>
            .mapCanvasShort {

            height: 95vh;
            }
        </style>
    </py:block>
    <py:block name="sidebar">
    </py:block>
    <py:block name="content">
        <div class="row">
            <div id="map_canvas" class="mapCanvasShort col-9">Map</div>
            <div id="infopane" class="col-3">
                <div>
                    <h2>Current location</h2>
                    <div class="small">
                        <span id="coordinates">Not in map</span>
                        <span title="Use double click to create a new site" style="margin-left: 1em;font-size: 0.75em;">
                            <input type="checkbox" id="createsite"/>
                            new site
                        </span>

                    </div>
                </div>
                <div id="filter" >
                    <h2>Filter</h2>
                    <div class="row margin-0">
                        <label for="vtselect" class="col-4">value type:</label>
                        <select id="vtselect" onchange="popSelect();" class="filter col-6">
                            <option class="firstoption" value=""><i>Please select...</i></option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="userselect" class="col-4">user:</label>
                        <select id="userselect" onchange="popSelect();" class="filter col-6">
                            <option value=""><i>Please select...</i></option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="instrumentselect" class="col-4">instrument:</label>
                        <select id="instrumentselect" onchange="popSelect();" class="filter col-6">
                            <option value=""><i>Please select...</i></option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="dateselect" class="col-4">date:</label>
                        <input id="dateselect" type="text" class="datepicker filter col-6" value=""
                                    onchange="popSelect();" title="Show only sites with a dataset for this date"/>
                    </div>
                    <div class="row">
                        <p class="col-4">apply:</p>
                        <div class="col-6">
                            <button onclick="popSelect();" title="Apply the filter"><img src="${conf.root_url}/media/ui-icons/filter_16.png" alt="set filter"/></button>
                            <button onclick="clearFilter();" title="Clear filter and show all sites"><img src="${conf.root_url}/media/ui-icons/clearfilter_16.png" alt="clear filter"/></button>
                            <button onclick="zoomToMarkers();" title="Show all sites"><img src="${conf.root_url}/media/ui-icons/shimmer/world_16.png"  alt="zoom to markers"/></button>
                        </div>
                    </div>
                    <div class="row">
                        <label for="datasetsonly" class="col-4">only datasets</label>
                        <div class="col-6">
                            <input id="datasetsonly" type="checkbox" onchange="popSelect();" class=""/>
                        </div>
                    </div>


                </div>
                <hr />
                <div id="infotext">No site selected</div>

            </div>
        </div>

    </py:block>

</py:extends>
