<!DOCTYPE html>
<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script type="text/javascript" async="async" defer="defer"
                src="https://maps.googleapis.com/maps/api/js?key=${conf.google_maps_api_key}">
        </script>
        <script type="text/javascript" src="${conf.root_url}/media/js/map.js"></script>
        <script>
            $(function() {
                initMap(${site});
            });
        </script>
    </py:block>
    <py:block name="style">
        <style>
            .mapCanvasShort {

            height: calc(100vh - 82px);
            width: 100%;
            margin: 0px;
            padding: 0px;
            }
        </style>
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid">
            <h3>Current location</h3>
            <div class="small">
                <span id="coordinates">Not in map</span>
                <span title="Use double click to create a new site" style="margin-left: 1em;font-size: 0.75em;">
                            <input type="checkbox" id="createsite"/>
                            new site
                        </span>

            </div>
        </div>
        <div id="filter" class="container-fluid" >
            <h3>Filter</h3>
            <div class="form-group row">
                <label for="vtselect" class="col-xl-5 col-form-label">value type:</label>
                <select id="vtselect" onchange="popSelect();" class="col-xl-7 form-control">
                    <option class="firstoption" value=""><i>value type...</i></option>
                </select>
            </div>
            <div class="form-group row">
                <label for="userselect" class="col-xl-5 col-form-label">user:</label>
                <select id="userselect" onchange="popSelect();" class="col-xl-7 form-control">
                    <option value=""><i>Please select...</i></option>
                </select>
            </div>
            <div class="form-group row">
                <label for="instrumentselect" class="col-xl-5 col-form-label">instrument:</label>
                <select id="instrumentselect" onchange="popSelect();" class="col-xl-7 form-control">
                    <option value=""><i>Please select...</i></option>
                </select>
            </div>
            <div class="form-group row">
                <label for="dateselect" class="col-xl-5 col-form-label">date:</label>
                <input id="dateselect" type="date" class="col-xl-7 form-control" value=""
                       onchange="popSelect();" title="Show only sites with a dataset for this date"/>
            </div>
            <div class="form-group row">
                <label class="col-xl-5 col-form-label" for="filter-buttons">apply:</label>
                <div id="filter-buttons" class="col-xl-7 form-control">
                    <button onclick="popSelect();" title="Apply the filter"><img src="${conf.root_url}/media/ui-icons/filter_16.png" alt="set filter"/></button>
                    <button onclick="clearFilter();" title="Clear filter and show all sites"><img src="${conf.root_url}/media/ui-icons/clearfilter_16.png" alt="clear filter"/></button>
                    <button onclick="zoomToMarkers();" title="Show all sites"><img src="${conf.root_url}/media/ui-icons/shimmer/world_16.png"  alt="zoom to markers"/></button>
                </div>
            </div>
            <div class="form-group row">
                <label for="datasetsonly" class="col-xl-5 col-form-label">only datasets</label>
                <div class="">
                    <input id="datasetsonly" type="checkbox" onchange="popSelect();" class="col-xl-7 form-control"/>
                </div>
            </div>


        </div>
        <hr />
        <div id="infotext">No site selected</div>
    </py:block>
    <py:block name="content">
        <div id="map_canvas" class="mapCanvasShort row">Map</div>

    </py:block>

</py:extends>
