<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            $(document).ready(function(){
                $("#listSearch").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#userList a").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
                $('.level-radio').on('change', event => {
                    $('#level-btn').html('as ' + $(event.currentTarget).data('label'))
                })
                $('#level-guest').prop('checked', true)
            });
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <div class="container">
            <a class="btn btn-secondary w-100 mb-1"
               href="${conf.root_url}/user/new"
               py:if="is_member('supervisor')">
                <i class="fas fa-user-plus me-3" />
                new user...

            </a>
            <hr/>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class=" fas fa-search" />
                    </span>

                </div>
                <input class="form-control" id="listSearch" type="text" placeholder="search user..."/>
            </div>
            <div class="list-group" id="userList">
                <a class="list-group-item list-group-item-action flexbox ${class_if(not pp.active,'list-group-item-light')} ${class_if(pp == active_person, 'active')}"
                   py:for="pp in persons" py:if="is_member(Level.supervisor) or is_self(pp.username) or pp.access_level >= Level.supervisor"
                   href="${conf.root_url+ '/user/' + pp.username}">
                    <span>${pp}</span>
                    <span class="badge bg-warning">${Level(pp.access_level).name[0]}</span>
                </a>
            </div>
        </div>
    </py:block>
    <py:block name="content">
        <div class="container">
            <div class="mt-3">
                <h1 py:content="active_person"/>
                <p py:with="U=active_person">
                    ${markdown(U.email)}
                    ${markdown(U.comment)}
                </p>

            </div>
            <form   class="card card-body needs-validation"
                    action="" method="post"
                    py:with="U=active_person; can_edit=is_member(Level.supervisor) or is_self(active_person.username)">
                <div class="form-group row">
                    <label for="username" class="col-lg-2 col-form-label">username</label>
                    <div class="col-lg-4">
                        <input type="text" id="username" name="newname"
                               py:attrs="prop(readonly=act_user!='new')"
                               class="form-control"
                               value="${U.username}" required="required"
                        />
                    </div>
                    <label for="email" class="col-lg-2 col-form-label">email</label>
                    <div class="col-lg-4">
                        <input type="text" id="email" name="email"
                               py:attrs="prop(disabled=not (can_edit))"
                               class="form-control"
                               value="${U.email}" required="required"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="firstname" class="col-lg-2 col-form-label">firstname</label>
                    <div class="col-lg-4">
                        <input type="text" id="firstname" name="firstname"
                               py:attrs="prop(disabled=not (can_edit))"
                               class="form-control"
                               value="${U.firstname}" required="required"
                        />
                    </div>
                    <label for="surname" class="col-lg-2 col-form-label">surname</label>
                    <div class="col-lg-4">
                        <input type="text" id="surname" name="surname"
                               py:attrs="prop(disabled=not (can_edit))"
                               class="form-control"
                               value="${U.surname}" required="required"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="orcid" class="col-lg-2 col-form-label">ORCID</label>
                    <div class="col-lg-4">
                        <input type="text" id="orcid" name="orcid"
                               py:attrs="prop(disabled=not can_edit)"
                               class="form-control"
                               value="${U.orcid}"
                        />
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4" py:if="U.orcid">
                        <a href="https://orcid.org/${U.orcid}" class="btn btn-secondary w-100"><i class="fa-brands fa-orcid me-2" /> goto ORCID profile</a>
                    </div>
                </div>
                <div class="form-group row" py:if="is_member(Level.admin) or is_self(U.username) or act_user=='new'">
                    <label for="password" class="col-lg-2 col-form-label">password</label>
                    <div class="col-lg-4">
                        <input type="password" id="password" name="password"
                               py:attrs="prop(disabled=not (can_edit))"
                               class="form-control"
                               placeholder="password"
                        />
                    </div>
                    <label for="password_verify" class="col-lg-2 col-form-label">repeat</label>
                    <div class="col-lg-4">
                        <input type="password" id="password_verify" name="password_verify"
                               py:attrs="prop(disabled=not (can_edit))"
                               class="form-control"
                               placeholder="password"
                        />
                    </div>

                </div>
                <div class="form-group row">
                    <label for="access_level" class="col-lg-2 col-form-label">access level</label>
                    <div class="col-lg-4">
                        <select id="access_level" name="access_level"
                                py:attrs="prop(disabled=not (is_member(Level.supervisor) or is_self(U.username)))"
                                class="form-control"
                        >
                            <option py:for="l in Level"
                                    py:content="l.name"
                                    value="${l.value}"
                                    py:attrs="prop(selected=l.value == U.access_level, disabled=l>users.current.level)"/>
                        </select>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 custom-control custom-checkbox">
                        <input type="checkbox" id="active" name="status"
                               class="custom-control-input"
                               py:attrs="prop(disabled=not is_member('supervisor'), checked=U.active)"
                        />
                        <label for="active" class="custom-control-label">active user</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="comment">Description:</label>
                    <a title="Get help for using links and formats" data-bs-toggle="tooltip" data-bs-placement="top" class="ms-1 wiki-help" href="${conf.root_url}/help/odmf-markdown">
                        <i class="fas fa-question-circle"/>
                    </a>
                    <textarea name="comment" id="comment"
                              class="form-control"
                              rows="4"
                              py:content="U.comment"
                              py:attrs="prop(disabled=not (is_member(Level.supervisor) or is_self(U.username)))"
                    />
                </div>
                <hr/>
                <div class="form-group row">
                    <label for="edit-subscribers" class="col-form-label col-sm-4">
                        Topic subscriptions
                        <a title="Get help for topics" data-bs-toggle="tooltip" data-bs-placement="top" class="ms-1 wiki-help" href="${conf.url('help', 'messenger')}">
                            <i class="fas fa-question-circle"/>
                        </a>
                    </label>

                    <div class="alert alert-warning mt-2">The messenger is a new feature - bugs are quite likely</div>
                    <select py:attrs="prop(disabled=not (can_edit))"
                            name="topics[]" id="edit-subscribers"
                            class="col-sm-8 form-control select2"
                            multiple="multiple">
                        <option py:for="topic in topics" value="${topic.id}" py:attrs="markoption(topic in U.topics)" title="${topic}">${topic}</option>
                    </select>
                </div>

                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-success"
                            py:attrs="prop(disabled=not (can_edit))"
                    >
                        <i class="fas fa-check me-2"/>save
                    </button>

                </div>
            </form>
            <div class="container mt-2 border rounded" id="user-dependencies" py:if="active_person.username" >

                <h2>Home directory</h2>
                <div py:if="has_home" py:content="markdown(f'file:users/{active_person.username}')"/>
                <div py:if="not has_home and (users.current.is_admin_of(users.get(active_person.username)) or is_self(active_person.username))">
                    <form action="home" method="POST">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-home me-2"></i>create home directory</button>
                    </form>
                </div>

                <h2 class="mt-4">Projects:</h2>
                <div class="list-group">
                    <a py:for="project, level in active_person.projects()" href="${f'{conf.root_url}/project/{project.id}'}" class="list-group-item list-group-item-action">
                        <span py:content="project.name"/>
                        <span class="badge bg-warning float-right" py:content="level.name"/>
                    </a>
                </div>

                <div id="add-member" class="card" py:if="potential_projects">
                    <h4 class="card-header"><i class="fas fa-plus me-2"/>add project... </h4>
                    <form method="post" action="addproject" class="input-group card-body">
                        <select id="add_project" class="form-control col-sm-8 " name="project">
                            <option py:for="p in potential_projects" value="${p.id}">${p}</option>
                        </select>
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="level-btn">as guest</button>
                        <ul class="dropdown-menu dropdown-menu-end p-1">
                            <li py:for="l in Level">
                                <input type="radio" name="level" value="${l.value}" id="level-${l.name}" class="form-check-input level-radio" data-label="${l.name}" />
                                <label for="level-${l.name}" class="form-check-label">${l.name}</label>
                            </li>
                        </ul>
                        <button class="btn btn-success btn-sm col-sm-1" type="submit" title="add project"><i class="fas fa-check"/></button>
                    </form>

                </div>
            </div>


        </div>


    </py:block>

</py:extends>

