<!DOCTYPE html>

<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            $(document).ready(function(){
                $("#listSearch").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#userList li").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <div class="container">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class=" fas fa-search" />
                    </span>

                </div>
                <input class="form-control" id="listSearch" type="text" placeholder="search user..."/>
            </div>
            <a class="btn btn-light w-100 mb-1"
               href="${conf.root_url}/user/new"
               py:if="is_member('supervisor')">
                    <i class="fas fa-user-plus mr-3" />
                    new user...

            </a>
            <hr/>
            <ul class="list-group" id="userList">
                <li class="list-group-item flexbox" py:for="pp in persons">
                    <a href="${conf.root_url+ '/user/' + pp.username}" py:content="pp"/>
                    <i class="fas fa-user" />
                </li>
            </ul>
        </div>
    </py:block>
    <py:block name="content">
        <div class="container">
            <div class="alert bg-danger text-white mt-3" role="alert" py:if="error">
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-exclamation-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="lead" py:content="markdown(error)"/>
                    </div>
                </div>
            </div>

            <div class="alert alert-success mt-3" role="alert" py:if="message" >
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-info-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="" py:content="markdown(message)"/>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <h1 py:content="active_person"/>
                <p py:with="U=active_person">
                    ${markdown(U.email)}
                    ${markdown(U.comment)}
                </p>

            </div>
            <form   class="card card-body"
                    action="${conf.root_url}/user/saveitem" method="post" py:with="U=active_person">
                <div class="form-group row">
                    <label for="username" class="col-lg-2 col-form-label">username</label>
                    <div class="col-lg-4">
                        <input type="text" id="username" name="username"
                               py:attrs="attrcheck('readonly', act_user!='new')"
                               class="form-control"
                               value="${U.username}"
                        />
                    </div>
                    <label for="email" class="col-lg-2 col-form-label">email</label>
                    <div class="col-lg-4">
                        <input type="text" id="email" name="email"
                               py:attrs="attrcheck('disabled', not (is_member('supervisor')  or is_self(U.username)))"
                               class="form-control"
                               value="${U.email}"
                        />
                    </div>

                </div>
                <div class="form-group row">
                    <label for="firstname" class="col-lg-2 col-form-label">firstname</label>
                    <div class="col-lg-4">
                        <input type="text" id="firstname" name="firstname"
                               py:attrs="attrcheck('disabled', not (is_member('supervisor')  or is_self(U.username)))"
                               class="form-control"
                               value="${U.firstname}"
                        />
                    </div>
                    <label for="surname" class="col-lg-2 col-form-label">surname</label>
                    <div class="col-lg-4">
                        <input type="text" id="surname" name="surname"
                               py:attrs="attrcheck('disabled', not (is_member('supervisor')  or is_self(U.username)))"
                               class="form-control"
                               value="${U.surname}"
                        />
                    </div>
                </div>
                <div class="form-group row" py:if="is_member('admin') or is_self(U.username) or act_user=='new'">
                    <label for="password" class="col-lg-2 col-form-label">password</label>
                    <div class="col-lg-4">
                        <input type="password" id="password" name="password"
                               py:attrs="attrcheck('disabled', not (is_member('supervisor')  or is_self(U.username)))"
                               class="form-control"
                               placeholder="password"
                        />
                    </div>
                    <label for="password_verify" class="col-lg-2 col-form-label">repeat</label>
                    <div class="col-lg-4">
                        <input type="password" id="password_verify" name="password_verify"
                               py:attrs="attrcheck('disabled', not (is_member('supervisor')  or is_self(U.username)))"
                               class="form-control"
                               placeholder="password"
                        />
                    </div>

                </div>
                <div class="form-group row">
                    <label for="access_level" class="col-lg-2 col-form-label">access level</label>
                    <div class="col-lg-4">
                        <select id="access_level" name="access_level"
                                py:attrs="attrcheck('disabled', not (is_member('supervisor') or is_self(U.username)))"
                                class="form-control"
                        >
                            <option py:for="value in levels(users.current.level)"
                                    py:content="value[0]"
                                    py:if="int(users.current.level)>=int(value[1])"
                                    value="${value[1]}"
                                    py:attrs="markoption(str(value[1]) == str(U.access_level))"/>
                        </select>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 custom-control custom-checkbox">
                        <input type="checkbox" id="active" name="status"
                               class="custom-control-input"
                               py:attrs="attrcheck('disabled', not is_member('supervisor'))"
                               checked="${bool2js(U.active)}"
                        />
                        <label for="active" class="custom-control-label">active user</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="comment">Description:</label>
                    <textarea name="comment"
                              class="form-control"
                              rows="4"
                              py:content="U.comment"
                              py:attrs="attrcheck('disabled', not (is_member('supervisor') or is_self(U.username)))"
                    />
                </div>

                <div class="form-group row">
                    <button type="submit" class="col-lg-2 btn btn-primary w-100"
                            py:attrs="attrcheck('disabled', not (is_member('supervisor') or is_self(U.username)))"
                    >
                        save
                    </button>

                </div>
            </form>

        </div>


    </py:block>

</py:extends>

<!--body>


			<form action="${conf.root_url}/user/saveitem" method="post">
				<h2>Edit user</h2>
				<table style="width: 100%" py:if="active_person">
					<tr py:if="is_member('admin') or is_self(active_person.username) or act_user=='new'">
						<td>Password:</td>
						<td py:if="act_user=='new'"><input type="password" name="password" /></td>
						<td py:if="act_user!='new'">
							<p><a href="${conf.root_url}+ '/user/changepassword/' + active_person.username">Change password</a></p>
						</td>
					</tr>
					<tr py:if="act_user=='new'">
						<td>Repeat password:</td>
						<td><input type="password" name="password_verify" /></td>
					</tr>
					<tr>
						<td>Car:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username)">
								<select name="car_available">
								<option py:for="i,s in enumerate('No car,Car available,Car sometimes available'.split(','))"
										py:attrs="markoption(i==active_person.car_available)"
										py:content="s"
										value="${i}" />
								</select>
							</td>
							<td py:otherwise="">
								${'No car,Car available,Car sometimes available'.split(',')[active_person.car_available]}
								<input type="hidden" name="car_available" value="${active_person.car_available}" />
							</td>
						</py:choose>

					</tr>
					<tr>
						<td>Phone:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username) or is_member('admin')">
								<input type="text" name="telephone" value="${active_person.telephone}" /></td>
							<td py:otherwise="">
								<input readonly="true" type="text" name="telephone" value="${active_person.telephone}" />
							</td>
						</py:choose>
						</tr>
					<tr>
						<td>Mobile:</td>
						<py:choose>
							<td py:when="act_user=='new' or is_self(active_person.username)">
								<input type="text" name="mobile" value="${active_person.mobile}" /></td>
							<td py:otherwise="">
								<input readonly="true" type="text" name="mobile" value="${active_person.mobile}" /></td>
						</py:choose>
					</tr>
					<tr>
						<td>Supervised by:</td>
						<py:choose>
							<td py:when="is_member('supervisor')">
								<select name="supervisor">
									<option value="NULL">No supervisor chosen</option>
									<option py:for="p in supervisors"
											py:attrs="markoption(p is active_person.supervisor)"
											py:content="p"
											value="${p.username}" />
								</select>
							</td>

							<td py:otherwise="">
								${active_person.supervisor}
								<input type="hidden" name="supervisor" value="${active_person.supervisor}"/>
							</td>
						</py:choose>

					</tr>
					<tr>
						<td>Access Level:</td>
						<td py:if="(act_user=='new' or is_member('supervisor') and not is_self(active_person.username)) and not active_person.access_level == '0'">
							<select name="access_level">
								<option py:for="value in levels(users.current.level)"
										py:content="value[0]"
										value="${value[1]}"
										py:attrs="markoption(str(value[1]) == str(active_person.access_level))"/>
							</select>
						</td>
						<td py:if="(act_user != 'new' and not is_member('supervisor') or is_self(active_person.username)) or active_person.access_level == '0'">
							${levels('all')[int(active_person.access_level)][0]}
							<input type="hidden" name="access_level" value="${active_person.access_level}"/>
						</td>
					</tr>
					<py:choose>
						<tr py:when="is_member('supervisor') and not is_self(active_person.username)">
							<td>Active<a href="${conf.root_url}/wiki/help" class="tooltip"><img src="${conf.root_url}/media/ui-icons/help.png" /><span>Caution, if it is not ticked, the user is disabled to login</span></a></td>
							<td><input style="width: 0%" name="status" type="checkbox" checked="${'on' if active_person.active else ''}"/></td>
						</tr>
						<tr py:otherwise="">
							<td><input type="hidden" name="status" value="${'on' if active_person.active else ''}"/></td>
						</tr>
					</py:choose>
					<tr>
						<td>Comments<a href="${conf.root_url}/wiki/help" class="tooltip"><img src="${conf.root_url}/media/ui-icons/help.png" /><span>Get help for using links and formats</span></a></td>
						<td py:if="is_member('supervisor')">
							<textarea name="comment" 
									  style="width: 100%;"
									  rows="10" 
									  py:content="active_person.comment"
									/>
						</td>
						<td py:if="not is_member('supervisor')">
							<textarea name="comment"
									  style="width: 100%;"
									  rows="10"
									  py:content="active_person.comment"
									readonly="true"/>
						</td>
					</tr>
				</table>
				<input py:if="is_member('supervisor') or is_self(active_person.username)" type="submit" name="save" value="Save" style="width: 7em;"/>
			</form>
		</div>
	</div>
</body>
</html-->
