<!DOCTYPE html>

<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script>
            //<![CDATA[
            function toggle(id) {
                $('#'+id).slideToggle('fast');
            }
            function reload() {
                var params = {site:$('#siteselect').val(),
                    by:$('#userselect').val()};
                window.location = odmf_ref('/picture?') + $.param(params);
            }
            function enableupload() {
                var siteid = $('#uploadsite').val();
                var user = $('#uploaduser').val();
                $('#uploadsubmit').prop('disabled',!((siteid>0) && (user)));
            }
            function popSelect() {
                $.getJSON(odmf_ref('/site/json'),[],function(data){
                    var html='<option value="">select the photo site...</option>';
                    $.each(data,function(index,item){
                        html += '<option value="'+item.id+'">' +'#' + item.id + ' ('+ item.name + ')' + '</option>';
                    });
                    $('.sites').html(html);
                    $('.sites').val('${site}');
                });
                $.getJSON(odmf_ref('/user/json'),[],function(data){
                    var html='<option value="">select the author...</option>';
                    $.each(data,function(index,item){
                        html += '<option value="'+item.username+'">' + item.label + '</option>';
                    });
                    $('.users').html(html);
                    $('#userselect').val('${by}');
                    $('#uploaduser').val('${user()}');
                });
            }
            $(function() {
                popSelect();
                enableupload();
                $('#bigimage').prop('height',512);
                $('#imagesize').change(function() {
                    $('#bigimage').prop('height',$(this).val());
                });
                $('#imagesize').val(512);
            });

            //]]>
        </script>
    </py:block>
    <py:block name="sidebar">
        <a py:if="picture"
           href="${conf.root_url}/picture"
           class="btn btn-primary flexbox h1"
        >
            <span><i class="fas fa-angle-left mr-2"/>overview</span>
            <span><i class="fas fa-eye"/></span>
        </a>
        <a href="#filter" id="filter-toggle" class="btn btn-secondary flexbox h1" data-toggle="collapse">
            <span><i class="fas fa-filter mr-2"/>Filter</span><span><i class="fas fa-plus-circle"/></span>
        </a>
        <div class="collapse card card-body" id="filter">
            <select id="siteselect" class="sites form-control" onchange="reload();"/>
            <select id="userselect" class="users col-lg form-control" onchange="reload();"/>

        </div>
        <a href="#upload" class="btn btn-secondary flexbox h1" data-toggle="collapse"
           py:if="is_member('logger')" >
            <span><i class="fas fa-file-upload mr-2"/>Upload</span>
            <span><i class="fas fa-plus-circle"/></span>
        </a>
        <div class="collapse card card-body" id="upload">
            <form method="post" enctype="multipart/form-data" action="${conf.root_url}/picture/upload"
                  py:if="is_member('logger')" id="uploadform">
                <div class="form-group">
                    <select class="sites form-control" id="uploadsite"
                            name="siteid" onchange="enableupload();" title="site" data-toggle="tooltip"/>
                    <select class="users form-control" id="uploaduser" name="user"
                            onchange="enableupload();" />

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imgfile" name="imgfile"/>
                        <label class="custom-file-label" for="imgfile">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <input id="uploadsubmit" type="submit" value="upload" disabled="disabled" class="form-control"/>
                </div>
            </form>
        </div>

    </py:block>
    <py:block name="content">
        <div class="content">
            <div class="error" py:content="error" />

            <div py:if="picture" class="container-fluid bg-dark">
                <div class="card">
                    <img src="${conf.root_url}/picture/image/${picture.id}" id="bigimage" class="card-image-top"/>
                    <div class="card-body">
                        photo:${picture.id} ${formatdatetime(picture.time)} by
                        <a href="${conf.root_url}/user/${picture.by.username}">${picture.by}</a>
                        <div>
                            Location: <a href="${conf.root_url}/site/${picture.site.id}">${picture.site}</a>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="imagesize" class="input-group-text">Picture height</label>
                            </div>
                            <select id="imagesize" class="custom-select">
                                <option value="256">256 px</option>
                                <option value="512">512 px</option>
                                <option value="768">768 px</option>
                                <option value="1024">1024 px</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div py:if="imagelist and not picture" class="container-fluid">

                <div py:for="img in imagelist" style="display:inline-grid" >
                    <div class="card mb-1 ">
                        <div class="card-image-top">
                            <a href="${conf.root_url}/picture?id=${img.id}">
                                <img src="data:${img.mime};base64,${img.thumbnail64()}"
                                     title="${img}"/>
                            </a>
                        </div>
                        <div class="card-body small m-0 p-1">
                            <div class="card-text m-0">
                                <p class="mb-0">${formatdatetime(img.time, '%Y-%m-%d')}</p>
                                <p class="mb-0">${formatdatetime(img.time, '%H:%M:%S')}</p>
                                <p class="mb-0"><a href="${conf.root_url}/user/${img.by.username}">${img.by}</a></p>
                                <p class="mb-0"><a href="${conf.root_url}/site/${img.site.id}">site #${img.site.id}</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </py:block>

</py:extends>
