<!DOCTYPE html>

<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script type="text/javascript" src="${conf.root_url}/media/lib/moment.min.js"/>
        <script type="text/javascript" src="${conf.root_url}/media/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"/>
        <script type="text/javascript" src="${conf.root_url}/media/js/plot.js"/>

        <script type="text/javascript">
       </script>
        <div class="d-none"  id="subplot-template" type="template" >
            <div class="subplot card mb-2 w-100">
                <div class="card-header">
                    <h5 class="card-title">plot §position§
                        <span class="btn-group card-text">
                            <button disabled="disabled"
                                    onclick="removesubplot(§position§)"
                                    class="btn btn-sm btn-danger py-0" data-toggle="tooltip"
                                    title="remove subplot §position§ from figure"
                            >
                                <i class="fas fa-times-circle"/>
                            </button>
                            <button onclick="changeylimit(§position§)"
                                    class="btn btn-sm btn-primary py-0" data-toggle="tooltip"
                                    title="change y axis limit"
                            >
                                <i>y</i>&#x2195;
                            </button>
                            <button data-toggle="dropdown" class="btn btn-sm btn-primary py-0 dropdown-toggle">
                                <i class="fas fa-tags" data-toggle="tooltip" title="Show logged events at a site in the graph"/> §logsite§
                            </button>
                            <!--div id="logsiteselectdiv_§position§" class="dropdown-menu" >
                                <select class="form-control dropdown-item" id="logsiteselect_§position§"
                                        py:with="sites=sp.get_sites()"
                                        onchange="changelogsite(§position§);"
                                        size="">
                                    <option value="" py:attrs="markoption(not sp.logsite in sites)">None</option>
                                    <option py:for="siteid in sorted(sites)"
                                            py:attrs="markoption(sp.logsite == siteid)"
                                            value=""></option>
                                </select>
                            </div-->
                        </span>
                    </h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="newline list-group-item">
                        <button class="btn btn-sm btn-primary btn-outline shadow py-0" data-toggle="modal" data-target="#newline-dialog"
                                data-subplot="§position§"
                        >
                            <i class="fas fa-plus-circle"/> add line...
                        </button>
                    </li>
                </ul>

            </div>

        </div>
        <div class="d-none" id="line-template" type="template">
            <li class="line list-group-item">
                <span style="color:§color§">§linestyle§§marker§</span> §l§
                <div class="btn-group" id="linetools_§sp_pos§_§index§">
                    <button onclick="removeline(§sp_pos§,§i§)" title="remove line"
                            class="btn btn-sm py-0 btn-secondary" data-toggle="tooltip">
                        <i class="fas fa-times-circle"/>
                    </button>
                    <button onclick="exportline(§sp_pos§,§i§)"
                       class="btn btn-sm py-0 btn-secondary" data-toggle="tooltip" title="export to csv file...">
                        <i class="fas fa-file-csv"/>

                    </button>
                    <button onclick="showlinedatasets(§sp_pos§,§i§)"
                            class="btn btn-sm py-0 btn-secondary" data-toggle="tooltip" title="show datasets of line">
                        <i class="fas fa-list"/>
                    </button>
                    <button onclick="editline(§sp_pos§,§i§)" title="edit line"
                            class="btn btn-sm py-0 btn-secondary" data-toggle="tooltip">
                        <i class="fas fa-edit"/>
                    </button>
                    <button onclick="copyline(§sp_pos§,§i§)" title="copy line"
                            class="btn btn-sm py-0 btn-secondary" data-toggle="tooltip">
                        <i class="fas fa-copy"/>
                    </button>

                </div>

                <ul id="datasetlist_§sp_pos§_§i§" class="datasetlist small doc"/>
            </li>

        </div>
    </py:block>0
    <py:block name="style">
        <style type="text/css">
            .firstoption {font-style: italic;color: grey;}
            li.line {
                background-color: #FFF;
            }
            .filter {
                max-width: 8em;
            }
            ul.brush {
                list-style-image: url(${conf.root_url}/media/ui-icons/shimmer/brush_16.png)
            }
            ul.box_24 {
                list-style-image: url(${conf.root_url}/media/ui-icons/plot.png)
            }
            ul.doc {
                list-style-image: url(${conf.root_url}/media/ui-icons/shimmer/document_16.png)
            }
            .nowrap {white-space: nowrap;}
            #description textarea {
                width: 100%;
                font-family: monospace;
                cursor: auto;
            }
        </style>
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid ">

            <div id="collapse-buttons" class="btn-group-vertical w-100">
                <button id="reload_plot" class="btn btn-primary">
                    <i class="fas fa-sync-alt"/>
                </button>
                <button class="btn btn-outline-primary"
                        id="toolbar-toggle" data-toggle="modal" data-target="#toolbar-dialog"
                        role="button" aria-controls="toolbar-dialog">
                    <i class="fas fa-file"/> File
                </button>
                <button class="btn btn-outline-primary"
                        id="property-toggle" data-toggle="modal" data-target="#property-dialog"
                        role="tab" aria-controls="property-dialog">
                    <i class="fas fa-cog"/> Properties
                </button>
            </div>
            <div id="content-tree" class="mt-2 w-100">


                <!--
                    Subplots
                -->

                <div id="ct-new-subplot" class="card mb-2 w-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button id="addsubplot" onclick="addsubplot()" class="btn btn-primary mr-2">
                                <i class="fas fa-plus-circle"/>
                            </button>
                            add subplot
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </py:block>
    <py:block name="content">
        <div class="container-fluid m-0 p-0">
            <div id="error-row" class="row mt-2 w-100 d-none">
                <div class="container">
                    <div id="error" class="row bg-danger text-white border rounded p-4">
                        <h1 class="display-3 col-lg-2">Error</h1>
                        <div class="lead col-lg-10" id="error" />
                    </div>

                </div>
            </div>
            <div id="json-row" class="row mt-2 w-100">
                <pre></pre>
            </div>
            <div id="plot-row" class="">
                <div id="plot" class="bg-light border">
                    PLOT
                </div>


            </div>
        </div>

    </py:block>
    <py:block name="extrahtml">
        <div id="property-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit</h5>
                    </div>
                    <div class="modal-body form-group">
                        <label for="startdatetime">start:</label>
                        <div id="startdatetime" class="input-group date">
                            <input class="props form-control" type="text" id="startdate"
                                   value=""/>
                            <span class="input-group-addon">
                                <i class="fas fa-calendar"/>
                            </span>
                        </div>
                        <label for="enddatetime">end:</label>
                        <div id="enddatetime" class="input-group">

                            <input class="props form-control" type="date" id="enddate"
                                   value=""/>
                            <input class="props timepicker form-control" id="starttime"
                                   value="00:00"/>
                        </div>
                        <label for="prop-columns">Subplot columns</label>
                        <input id ="prop-columns" class="props form-control" type="number" value="1" max="1" min="1"/>
                        <label for="plotaggregate">Aggregation:
                            <a class="btn btn-secondary"
                               href="${conf.root_url}/wiki/plot/aggregate"
                               title="What is aggregation?" data-toggle="tooltip"
                            >
                                <i class="fas fa-question"/>
                            </a>
                        </label>
                        <select id="plotaggregate" class="props form-control">
                            <option value="" py:attrs="markoption(plot.aggregate=='')">No aggregation</option>
                            <option value="30Min" py:attrs="markoption(plot.aggregate=='30Min')">Half hourly</option>
                            <option value="h" py:attrs="markoption(plot.aggregate=='h')">Hourly</option>
                            <option value="D" py:attrs="markoption(plot.aggregate=='D')">Daily</option>
                            <option value="W" py:attrs="markoption(plot.aggregate=='W')">Weekly</option>
                            <option value="M" py:attrs="markoption(plot.aggregate=='M')">Monthly</option>
                            <option value="Y" py:attrs="markoption(plot.aggregate=='Y')">Yearly</option>
                        </select>
                        <label for="prop-description">Description (markdown)</label>
                        <textarea id="prop-description" rows="" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="prop-OK" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="toolbar-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">File</h5>
                    </div>
                    <div class="modal-body">
                        <div id="file-save-plot" class="input-group ">
                            <div class="input-group-prepend">
                                <button id="savebutton" class="btn btn-secondary" type="button" data-toggle="tooltip" title="save plot">
                                    <i class="fas fa-save fa-lg"/>
                                    save
                                </button>
                            </div>
                            <input type="text" class="form-control" placeholder="plot name" />
                        </div>
                        <div id="file-load-plot" class="btn-group  mr-2">
                            <button class="btn  btn-secondary dropdown-toggle text-left"
                                    id="file-dropdown" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                            >
                                load plot files
                            </button>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="file-dropdown">
                                <div class="dropdown-item file-list d-flex" py:for="fn in plot.listdir()" data-file="">
                                    <a class="mr-auto">
                                        <i class="fas fa-folder fa-lg"/>

                                    </a>
                                    <button class="btn btn-secondary file-delete-button">
                                        <i class="fas fa-times-circle"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="export-image-tools" class="btn-group mr-2">
                            <!-- Must post plot -->
                            <a class="btn btn-outline-secondary" title="Opens the graph as a pdf file." data-toggle="tooltip"
                               href="${conf.root_url}/plot/image.pdf">
                                <i class="fas fa-file-pdf" />
                            </a>
                            <!-- Must post plot -->
                            <a class="btn btn-outline-secondary" title="Opens the graph as a png file." data-toggle="tooltip"
                               href="${conf.root_url}/plot/image.png">
                                <i class="fas fa-file-image" />
                            </a>
                        </div>
                        <div id="export-data-tools" class="input-group mr-2">
                            <div class="input-group-prepend">

                                <button py:if="is_member('editor')"
                                        class="btn btn-secondary "
                                        onclick="exportall_csv();" data-toggle="tooltip"
                                        title="Exports all datasets in this plot to a csv file.
                               The exported file has multiple columns according
                               to valuetypes, sites and levels. This feature is
                               still experimental. Transformed timeseries are not
                               part of the export."
                                >
                                    <i class="fas fa-file-csv"/>
                                </button>
                            </div>
                            <select id="tolerance_skipper" data-toggle="tooltip" class="form-control"
                                    title="Specifies a tolerance time to keep values in the same line of the csv file.
                            'no tolerance' means there is no tolerance, and the smallest difference in the timestamp
                            of two values leads to a new line."
                            >
                                <option value="0">no tolerance</option>
                                <option value="300">5Min</option>
                                <option value="600">10Min</option>
                                <option value="1800">30Min</option>
                                <option value="3600">1h</option>
                                <option value="86400">1day</option>
                            </select>
                        </div>
                        <div id="export-data-tools2" class="input-group">
                            <div class="input-group-prepend">
                                <button py:if="is_member('editor')"
                                        class="btn btn-secondary"
                                        data-toggle="tooltip"
                                        title="Exports all datasets in this plot to a csv file with regularized timesteps.
                            The exported file has multiple columns according
                            to valuetypes, sites and levels. This feature is
                            still experimental."
                                        onclick="RegTime()">
                                    <i class="fas fa-table"/>
                                </button>
                            </div>
                            <select id="reg_interpolation" data-toggle="tooltip" class="form-control"
                                    title="Time resolution of all datasets in the output csv-file.">
                                <option value="5Min">5Min</option>
                                <option value="10Min">10Min</option>
                                <option value="15Min">15Min</option>
                                <option value="30Min">30Min</option>
                                <option value="60Min">1h</option>
                                <option value="1440Min">1day</option>

                            </select>
                            <select id="Interpolation_Limit" data-toggle="tooltip" class="form-control"
                                    title="Number of possible gaps in the data which will be filled through linear interpolation.">
                                <option value="1">1Timestep</option>
                                <option value="5">5Timesteps</option>
                                <option value="10">10Timesteps</option>
                                <option value="50">50Timesteps</option>
                                <option value="100">100Timesteps</option>
                                <option value="200">200Timesteps</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>


                </div>
            </div>
        </div>

        <div id="newline-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-light">
                        <h5 class="modal-title">New line for subplot #<span id="newline-subplot">0</span></h5>
                    </div>
                    <div class="modal-body form-group">
                        <label for="nl-name">Name:</label>
                        <input type="text" id="nl-name" class="form-control"/>
                        <label for="nl-value">value:</label>
                        <select id="nl-value" class="form-control">
                            <option value="" class="firstoption">Please select...</option>
                        </select>

                        <label for="nl-site">site:</label>
                        <select id="nl-site"  class="form-control">
                            <option value="" class="firstoption">Please select...</option>
                        </select>
                        <div class="form-group">
                            <label for="nl-level">level:</label>
                            <select id="nl-level"  class="form-control">
                                <option value="" class="firstoption">Please select...</option>
                            </select>
                        </div>

                        <label for="nl-instrument">instrument:</label>
                        <select id="nl-instrument" class="form-control">
                            <option value="" class="firstoption">Please select...</option>
                        </select>

                        <label for="nl-marker">marker:</label>
                        <select id="nl-marker" class="form-control">
                            <option value="">none</option>
                            <option value="x">x</option>
                            <option value="o">o</option>
                            <option value=".">.</option>
                            <option value="|">|</option>
                            <option value="+">+</option>
                            <option value="*">*</option>
                        </select>

                        <label for="nl-linestyle">line:</label>
                        <select id="nl-linestyle" class="form-control">
                            <option value="-">-</option>
                            <option value="">none</option>
                            <option value=":">...</option>
                            <option value="--">--</option>
                            <option value="-.">-.</option>
                        </select>

                        <label for="nl-color">color:</label>
                        <select id="nl-color" class="form-control">
                            <option py:for="c in ['#000000' ,'#0000FF','#00FF00','#FF0000', '#FFFF00','#00FFFF','#FF00FF']"
                                    value="${c}" py:content="c" style="background-color: ${c}"
                                    py:attrs=""
                            />
                        </select>

                        <label for="nl-aggregation" py:if="plot.aggregate">aggregate:</label>
                        <select id="nl-aggregation" class="form-control" py:if="plot.aggregate">
                            <option value="mean">mean</option>
                            <option value="min">min</option>
                            <option value="max">max</option>
                            <option value="stdev">stdev</option>
                            <option value="sum">&Sigma;</option>
                        </select>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="nl-OK" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>

                </div>
            </div>
        </div>

    </py:block>
</py:extends>

