<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
        <script type="text/javascript" py:if="plot">
            sessionStorage.setItem('plot', JSON.stringify(${literal(as_json(plot))}, 4));
        </script>

        <script type="text/javascript" src="${conf.root_url}/media/js/plot.js"/>
        <script type="text/javascript" py:if="error">
            $(() =>{
                $('#error').html('${markdown(error)}')
                $('#error-row').removeClass('d-none')
            })
        </script>

        <div class="d-none"  id="subplot-template" type="template" >
            <div class="subplot card mb-2 w-100">
                <div class="card-header">
                    <h5 class="card-title">plot §position§
                        <span class="btn-group card-text">
                            <button data-subplot="§position§"
                                    class="sp-remove-button btn btn-sm btn-danger py-0" data-toggle="tooltip"
                                    title="remove subplot §position§ from figure"
                            >
                                <i class="fas fa-trash"/>
                            </button>
                            <button class="sp-changeylimit-button btn btn-sm btn-primary py-0" data-toggle="tooltip" data-subplot="§position§"
                                    title="change y axis limit"
                            >
                                <i>y</i>&#x2195;
                            </button>
                            <button data-toggle="dropdown" class="btn btn-sm btn-primary py-0 dropdown-toggle sp-logsite-button"
                                    data-subplot="§position§">
                                <i class="fas fa-tags" data-toggle="tooltip" title="Show logged events at a site in the graph"/> #§logsite§
                            </button>
                            <div class="dropdown-menu sp-logsite-list" data-subplot="§position§">
                            </div>
                        </span>
                    </h5>
                </div>
                <div class="card-body">

                    <ul id="line-list" class="list-group list-group-flush">
                        <li class="newline list-group-item">
                            <button class="btn btn-sm btn-primary btn-outline shadow py-0" data-toggle="modal" data-target="#newline-dialog"
                                    data-subplot="§position§" id="addline_§position§" data-replace="new">
                                <i class="fas fa-plus-circle"/> add line...
                            </button>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="d-none" id="line-template" type="template">
            <li class="line list-group-item">
                <div class="btn btn-sm btn-light border w-100 text-left d-flex"
                     data-toggle="collapse" data-target="#linetools_§sp_pos§_§i§" aria-expanded="false" aria-controls="linetools_§sp_pos§_§i§">
                    <span style="color:§color§; font-weight: bolder" >§linestyle§ §marker§</span> §linename§ <i class="fas fa-caret-down ml-auto"></i>
                </div>
                <div class="collapse" id="linetools_§sp_pos§_§i§" style="transition: 50ms;" >
                    <div class="btn-group" >
                        <button title="remove line" class="btn btn-sm py-0 btn-danger removeline"
                                data-toggle="tooltip"  data-html="true" data-lineno="§i§" data-subplot="§sp_pos§">
                            <i class="fas fa-trash"/>
                        </button>
                        <button class="btn btn-sm py-0 btn-secondary showdataset"
                                data-html="true"  title="show datasets of line" data-lineno="§i§" data-subplot="§sp_pos§">
                            <i class="fas fa-list"/>
                        </button>
                        <button title="edit line" class="btn btn-sm py-0 btn-secondary editline" data-toggle="modal" data-target="#newline-dialog"
                                data-lineno="§i§" data-subplot="§sp_pos§" data-replace="replace">
                            <i class="fas fa-edit"/>
                        </button>
                        <button title="copy line" class="btn btn-sm py-0 btn-secondary editline" data-toggle="modal" data-target="#newline-dialog" id="copyline_§position§_§i§"
                                data-lineno="§i§" data-subplot="§sp_pos§" data-replace="copy">
                            <i class="fas fa-copy"/>
                        </button>
                        <button title="move up" class="btn btn-sm py-0 btn-secondary moveline" data-lineno="§i§" data-subplot="§sp_pos§" data-move="-1" >
                            <i class="fas fa-caret-up"></i>
                        </button>
                        <button title="move down" class="btn btn-sm py-0 btn-secondary moveline" data-lineno="§i§" data-subplot="§sp_pos§" data-move="+1" >
                            <i class="fas fa-caret-down"></i>
                        </button>
                    </div>
                    <ul id="datasetlist_§sp_pos§_§i§" class="datasetlist small doc"/>
                </div>
            </li>

        </div>
    </py:block>
    <py:block name="style">
        <style type="text/css">
            .firstoption {font-style: italic;color: grey;}
            li.line {
                background-color: #FFF;
            }
            .filter {
                max-width: 8em;
            }
            .nowrap {white-space: nowrap;}
            #description textarea {
                width: 100%;
                font-family: monospace;
                cursor: auto;
            }
            .transition {
                transition: 0.5s;
            }
            .semitransparent {
                opacity: 30%;
            }
            .fig-subtitle {
                border-top: black 1px;
            }
        </style>
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid ">
           <div class="row">
                <h4 id="plot-name" class="col-auto mr-auto">name...</h4>
                <div class="col-auto">
                    <button class="btn btn-outline-primary do-reload" role="button" title="reload">
                        <i class="fas fa-sync-alt"/>
                    </button>
                </div>
                <div class="col-auto">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="autoreload_switch" py:attrs="prop(checked=autoreload)"/>
                        <label class="custom-control-label"
                               for="autoreload_switch"
                               data-toggle="tooltip"
                               title="Automatic reload of data, switches off automatically, if refresh takes longer than 1000 ms ">
                            auto reload
                        </label>
                    </div>
                    <div class="small text-secondary text-right" id="rendertime" data-toggle="tooltip" title="render time"></div>

                </div>
            </div>
            <div id="property-summary">
                properties
            </div>

            <a class="btn btn-secondary dropdown-toggle" href="#properties" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="properties">
                <i class="fas fa-cog" title="properties"/>
            </a>
            <div class="card collapse" id="properties">
                <div class="card-body form-group">
                    <div class="row mb-2">
                        <label class="col-4" for="timeselect"><i class="fas fa-clock"/> time span:</label>
                        <select class="col props form-control" id="timeselect">
                            <option value="" class="alert alert-primary">select time span</option>
                            <option value="-1">last day</option>
                            <option value="-7">last week</option>
                            <option value="-31">last month</option>
                            <option value="-365">last year</option>
                            <option value="-1826">last five years</option>
                            <option value="-100000">all values</option>
                        </select>
                    </div>
                    <div id="manualTimeControl" class="">
                        <div class="row">
                            <label class="col-4 text-right" for="startdate">start:</label>
                            <input class="col props form-control" type="date" id="startdate" name="startdate" value=""/>
                        </div>
                        <div class="row">
                            <label class="col-4 text-right" for="enddate">end:</label>
                            <input class="col props form-control" type="date" id="enddate" name="enddate" value=""/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-4" for="plotaggregate"><i class="fas fa-ruler-horizontal"/> Aggregation:</label>
                        <select id="plotaggregate" class="col props form-control">
                            <option value="">No aggregation</option>
                            <option value="30Min">Half hourly</option>
                            <option value="h">Hourly</option>
                            <option value="D">Daily</option>
                            <option value="W">Weekly</option>
                            <option value="M">Monthly</option>
                            <option value="Y">Yearly</option>
                        </select>
                    </div>

                    <div class="row mt-2">
                        <label class="col-4" for="prop-columns"><i class="fas fa-border-all"/> subplot columns</label>
                        <input id="prop-columns" class="col props form-control" type="number" value="" max="" min="1"/>
                    </div>
                    <label class="" for="prop-description">Description (markdown)</label>
                    <textarea id="prop-description" rows="" class="form-control"></textarea>
                </div>
                <div class="card-footer">
                    <button id="prop-OK" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>

            </div>

            <div id="content-tree" class="mt-2 w-100">



                <!--
                    Subplots
                -->

                <div id="ct-new-subplot" class="card mb-2 w-100">
                    <div class="card-body">
                        <div class="card-title">
                            <button id="addsubplot" class="btn btn-primary mr-2">
                                <i class="fas fa-plus-circle"/>
                            </button>
                            add subplot
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </py:block>
    <py:block name="content">
        <div class="container-fluid m-0 p-0">
            <div id="plot-row" class="">
                <div id="plot" class="bg-light border">
                    PLOT
                </div>
                <div id="plot-reload-button" class="position-absolute" style="top: 10em; left: 10em">
                    <button class="btn btn-outline-primary bg-light shadow transition do-reload">
                        <h3><i class="fas fa-sync-alt"/> reload plot</h3>
                    </button>
                </div>

            </div>
        </div>

    </py:block>
    <py:block name="extrahtml">
        <div id="property-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="property-dialog-content">
            </div>
        </div>

        <div id="file-dialog" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
            <div id="file-dialog-content" class="modal-dialog">

            </div>
        </div>
        <div id="export-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div id="export-dialog-content" class="modal-dialog">
                <form action="export" method="post" id="export-form">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-light">
                            <h5 class="modal-title"><i class="fas fa-file-export mr-2"/>Export data</h5>
                        </div>

                        <div class="modal-body">
                            <input id="export-plot" name="plot" class="d-none" />
                            <div class="form-group row">
                                <label class="col-lg-3" for="export-format">File format</label>
                                <div class="col-lg-9">
                                    <select name="fileformat" class="form-control">
                                        <option value="xlsx">Excel</option>
                                        <option value="csv">CSV (comma separated variable)</option>
                                        <option value="tsv">TSV (tab separated variable)</option>
                                        <option value="json">JSON notation</option>
                                        <option value="parquet">Apache parquet format (fast, compact)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="export-method">Time step</label>
                                <div class="col-lg-9">
                                    <select id="export-method" name="timeindex" class="form-control">
                                        <option value="union">union: Use all timesteps from all time series</option>
                                        <option value="intersection">intersection: Use only timesteps where all series have data (within tolerance)</option>
                                        <option value="regular">Use regular time steps</option>
                                    </select>
                                </div>
                            </div>
                            <h6>Time steps</h6>
                            <div class="small">Use a number of time units, eg. 5D, 1W, 3h, 3h5m4s
                                <a href="${conf.root_url}/help/export" class="wiki-help"
                                   title="Help for time intervals" data-toggle="tooltip">
                                    <i class="fas fa-question-circle" />
                                </a>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-3" for="export-grid">Regular grid</label>
                                <div class="col-lg-9">
                                    <input id="export-grid" name="grid" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="export-tolerance">Tolerance</label>
                                <div class="col-lg-9">
                                    <input id="export-tolerance" name="tolerance" class="form-control" />
                                </div>
                            </div>
                            <h6>Interpolation</h6>
                            <div class="form-group row">
                                <label class="col-lg-3" for="export-interpolation-method">Method</label>
                                <div class="col-lg-9">
                                    <select id="export-interpolation-method" name="interpolation_method" class="form-control">
                                        <option value="">no interpolation</option>
                                        <option value="nearest">nearest neighbor</option>
                                        <option value="slinear">linear</option>
                                        <option value="quadratic">quadratic</option>
                                        <option value="cubic">cubic</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="export-interpolation-limit">Limit</label>
                                <div class="col-lg-9">
                                    <input type="number" name="interpolation_limit" id="export-interpolation-limit" min="0" class="form-control" value="0"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="export-start-button" type="submit" form="export-form" value="ok" class="btn btn-primary">Export</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>

        <div id="newline-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" id="line-dialog-content">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-light">
                        <h5 class="modal-title">Subplot <span id="newline-subplot">0</span></h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="nl-name" class="col-sm-3 col-form-label">Name:</label>
                            <div class="col-sm-9">
                                <input type="text" id="nl-name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nl-value" class="col-sm-3 col-form-label">value:</label>
                            <div class="col-sm-9">
                                <select id="nl-value" class="form-control select2 dataset-select">
                                    <option value="" class="firstoption">Please select...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nl-site" class="col-sm-3 col-form-label">site:</label>
                            <div class="col-sm-9">
                                <select id="nl-site"  class="form-control select2 dataset-select">
                                    <option value="" class="firstoption">Please select...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nl-level" class="col-sm-3 col-form-label">level:</label>
                            <div class="col-sm-9">
                                <select id="nl-level"  class="form-control dataset-select">
                                    <option value="" class="firstoption">Please select...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="nl-instrument" class="col-sm-3 col-form-label">instrument:</label>
                            <div class="col-sm-9">
                                <select id="nl-instrument" class="form-control select2 dataset-select">
                                    <option value="" class="firstoption">Please select...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nl-aggregation" class="col-sm-3 col-form-label">aggregate:</label>
                            <div class="col-sm-9">
                                <select id="nl-aggregation" class="form-control">
                                    <option value="mean">mean</option>
                                    <option value="min">min</option>
                                    <option value="max">max</option>
                                    <option value="stdev">stdev</option>
                                    <option value="sum">&Sigma;</option>
                                    <option value="count">count</option>
                                </select>
                            </div>
                        </div>

                        <hr/>

                        <div class="form-group row">
                            <label for="nl-marker" class="col-sm-3 col-form-label">marker:</label>
                            <div class="col-sm-9">
                                <select id="nl-marker" class="form-control nl-style">
                                    <option value="">no marker</option>
                                    <option value="x">x</option>
                                    <option value="o">o</option>
                                    <option value=".">.</option>
                                    <option value="|">|</option>
                                    <option value="+">+</option>
                                    <option value="*">*</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="nl-linestyle" class="col-sm-3 col-form-label">line:</label>
                            <div class="col-sm-9">
                                <select id="nl-linestyle" class="form-control nl-style">
                                    <option value="-">-</option>
                                    <option value="">no line</option>
                                    <option value=":">...</option>
                                    <option value="--">--</option>
                                    <option value="-.">-.</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nl-marker" class="col-sm-3 col-form-label">line width:</label>
                            <div class="col-sm-9">
                                <input id="nl-linewidth" class="form-control nl-style" type="number" min="1" max="15" />
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="nl-color" class="col-sm-3 col-form-label">color:</label>
                            <div class="col-sm-9">
                                <input type="color" id="nl-color" class="form-control nl-style" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="nl-OK" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>

                </div>
            </div>
        </div>

        <div id="json-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-light">
                        <h5 class="modal-title">JSON-Description of plot</h5>
                    </div>
                    <div class="modal-body" id="json-row">
                        <pre></pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>

    </py:block>
</py:extends>

