<html xmlns:py="">
<!--
Template for webpage.plot.PlotPage.exportdialog()

To be included as AJAH into modal dialog in plot.html
GET /plot/exportdialog


-->
<form>
<div id="export-data-tools" class="input-group mr-2">
    <div class="input-group-prepend">

        <button py:if="is_member('editor')"
                class="btn btn-secondary "
                onclick="exportall_csv();" data-toggle="tooltip"
                title="Exports all datasets in this plot to a csv file.
       The exported file has multiple columns according
       to valuetypes, sites and levels. This feature is
       still experimental. Transformed timeseries are not
       part of the export."
        >
            <i class="fas fa-file-csv"/>
        </button>
    </div>
    <select id="tolerance_skipper" data-toggle="tooltip" class="form-control"
            title="Specifies a tolerance time to keep values in the same line of the csv file.
    'no tolerance' means there is no tolerance, and the smallest difference in the timestamp
    of two values leads to a new line."
    >
        <option value="0">no tolerance</option>
        <option value="300">5Min</option>
        <option value="600">10Min</option>
        <option value="1800">30Min</option>
        <option value="3600">1h</option>
        <option value="86400">1day</option>
    </select>
</div>
<div id="export-data-tools2" class="input-group">
    <div class="input-group-prepend">
        <button py:if="is_member('editor')"
                class="btn btn-secondary"
                data-toggle="tooltip"
                title="Exports all datasets in this plot to a csv file with regularized timesteps.
    The exported file has multiple columns according
    to valuetypes, sites and levels. This feature is
    still experimental."
                onclick="RegTime()">
            <i class="fas fa-table"/>
        </button>
    </div>
    <select id="reg_interpolation" data-toggle="tooltip" class="form-control"
            title="Time resolution of all datasets in the output csv-file.">
        <option value="5Min">5Min</option>
        <option value="10Min">10Min</option>
        <option value="15Min">15Min</option>
        <option value="30Min">30Min</option>
        <option value="60Min">1h</option>
        <option value="1440Min">1day</option>

    </select>
    <select id="Interpolation_Limit" data-toggle="tooltip" class="form-control"
            title="Number of possible gaps in the data which will be filled through linear interpolation.">
        <option value="1">1Timestep</option>
        <option value="5">5Timesteps</option>
        <option value="10">10Timesteps</option>
        <option value="50">50Timesteps</option>
        <option value="100">100Timesteps</option>
        <option value="200">200Timesteps</option>
    </select>
</div>
</form>
</html>