<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <!-- insert additional scripts -->
        <script type="text/javascript">
            $(() =>{
            });
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <!-- insert sidebar content -->
        <div class="container-fluid">
            <a class="btn btn-secondary w-100 mb-4" href="${conf.root_url}/project/">
                <i class="fas fa-list mr-2"/>
                list
            </a>
            <a class="btn btn-secondary w-100 mb-4" href="${conf.root_url}/project/new" py:if="is_member(Level.admin)">
                <i class="fas fa-plus mr-2"/>
                new project
            </a>
            <div class="nav flex-column nav-pills">
                <a py:for="proj in projects"
                   class="nav-link ${['', 'active'][bool(actproject and proj.id==actproject.id)]} ${'' if is_member(Level.logger) else 'disabled'}"
                   href="${f'{conf.root_url}/project/{proj.id}'}"
                   py:content="f'{proj.id} - {proj.name}'"
                />
            </div>

        </div>

    </py:block>
    <py:block name="content">
        <div class="container m-0 p-0">
            <py:if test="(not actproject) or Level.my(actproject.id)==Level.guest">
            <div id="list-title-area"
                 class="container bg-dark text-white w-100 border rounded flexbox shadow mb-4">
                <h2 class="display-4 mr-8">Projects</h2>
                <div class="display-4 col-sm my-auto text-right">
                    <i class="fas fa-user-friends mr-4"/>
                </div>
            </div>
            <div class="list-group" id="project-list">
                <a py:for="project in projects"
                   href="${project.id}"
                   class="list-group-item list-group-item-action ${'' if Level.my(project.id)>Level.guest else 'disabled'}">
                    <span class="h3" py:content="project.name"/>
                    <span class="col-sm-1 badge badge-info float-right" py:content="Level.my(project.id).name"/>
                </a>
            </div>
            </py:if><py:else>
            <div class="container">
                <div id="description">
                    <div class="row mt-2 w-100">
                        <div class="container">
                            <div id="title-area"
                                 class="container bg-dark text-white w-100 border rounded flexbox shadow mb-4">
                                <div>
                                    <h2 class="display-4 mr-8 d-inline-block" py:content="f'{actproject.name}'"/>
                                    <div class="d-inline-block position-absolute top-0 end-0">
                                        <span class="badge bg-info text-bg-info" py:content="Level.my(actproject.id).name" />
                                    </div>

                                </div>
                                <div class="display-4 col-sm my-auto text-right">
                                    <i class="fas fa-user-friends mr-4"/>${actproject.id}
                                </div>
                            </div>
                            <div>
                                <div class="float-right" py:if="is_member(Level.admin, actproject.id)">
                                    <a class="btn btn-secondary dropdown-toggle" href="#edit" data-toggle="collapse">
                                        <i class="fas fa-edit"/>
                                    </a>
                                </div>
                                <div>
                                    <div class="container border-bottom">
                                        <a href="${actproject.sourcelink}">
                                            <i class="fas fa-link mr-2"/>${actproject.name} homepage
                                        </a>
                                        by
                                        <span class="badge badge-primary ml-2" py:content="actproject.organization"/>

                                    </div>
                                    <div class="container" py:with="p=actproject.person_responsible" py:content="markdown('Spokes person: user:' + (p.username if p else 'N/A'))"/>
                                    <div class="container" py:content="markdown(actproject.comment)"/>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
                <div id="edit" class="container collapse border rounded px-4">
                    <form action="save"
                          method="post" py:if="is_member(Level.admin, actproject.id)"
                    >
                        <div class="form-row mt-2">
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" id="id" class="form-control" value="${actproject.id}"
                                       readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" class="form-control" value="${actproject.name}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="sourcelink">Link to project homepage</label>
                                <input type="text" id="sourcelink" name="sourcelink" class="form-control"
                                       value="${actproject.sourcelink}"/>
                            </div>
                            <div class="form-group">
                                <label for="organization">Organization</label>
                                <input type="text" id="organization" name="organization" class="form-control"
                                       value="${actproject.organization}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="responsible">Spokes person</label>
                                <select id="responsible" name="person" class="form-control">
                                    <option value="${p.username}" py:content="f'{p} ({Level(p.access_level).name})'" py:for="p in supervisors" py:attrs="markoption(p == actproject.person_responsible)"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-2">

                            <label for="comment">Description:</label>
                            <textarea id="comment" name="comment" class="form-control"
                                      rows="4"
                                      py:content="actproject.comment"/>
                        </div>
                        <button class="btn btn-success mb-2" type="submit" id="save">
                            <i class="fas fa-check mr-2"/>
                            save changes
                        </button>
                    </form>
                </div>
                <h2 class="border-bottom">Members</h2>
                <div id="members" class="container">
                    <ul>
                        <li py:for="member, level in actproject.members(with_responsible=False)" class="form-row">
                            <div class="col-sm">
                                <span class="badge rounded-pill bg-warning" py:content="Level(level).name" />
                                <span py:content="member" class="ml-2 mr-4"/>

                            </div>

                            <form class="col-sm" method="post" action="remove_member">
                                <button data-member="${member.username}"
                                        py:if="is_member(Level.admin, actproject.id)"
                                        type="submit"
                                        class="btn btn-danger btn-sm col-sm-1 project-remove-member"
                                        name="member_name" value="${member.username}"
                                        title="remove" data-toggle="tooltip"
                                >
                                    <i class="fas fa-times"/>
                                </button>

                            </form>
                        </li>
                    </ul>
                    <a href="#add-member" py:if="is_member(Level.admin, actproject.id)" class="btn-sm btn-primary dropdown-toggle" data-toggle="collapse" aria-controls="add-member" aria-role="button"><i class="fas fa-plus"/> add member...</a>
                    <div py:if="is_member(Level.admin, actproject.id)" class="collapse" id="add-member">
                        <form class="form-row border" method="post" action="add_member">
                            <input type="hidden" value="${actproject.id}" xname="project_id"/>
                            <select id="add_who" class="form-control col-sm" name="member_name">
                                <option value="${p.username}" py:for="p in persons" py:content="f'{p} ({Level(p.access_level).name})'"/>
                            </select>
                            <select id="add_level" class="form-control col-sm-3" name="access_level">
                                <option py:for="l in Level" value="${l.value}" py:content="l.name"/>
                            </select>
                            <button type="submit" id="addmember"
                                    class="btn btn-success btn-sm col-sm-1 project-add-member"><i class="fas fa-check"/></button>
                        </form>
                    </div>

                </div>
                <h2 class="border-bottom">Datasets</h2>
                <div id="datasets" class="container">
                    <ul>
                        <li py:for="ds in actproject.datasets">
                            <a href="${conf.root_url}/dataset/${ds.id}"
                               py:content="ds"/>
                        </li>
                    </ul>
                </div>

            </div>
            </py:else>
        </div>
    </py:block>
</py:extends>

