<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <!-- insert additional scripts -->
        <script type="text/javascript">
            $(() =>{
            });
        </script>
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <!-- insert sidebar content -->
        <div class="container-fluid">
            <a class="btn btn-secondary w-100 mb-4" href="${conf.root_url}/project/new" py:if="is_member('supervisor')">
                <i class="fas fa-plus mr-2"/>
                new project
            </a>
            <div class="nav flex-column nav-pills">
                <a py:for="proj in projects"
                   class="nav-link ${['', 'active'][bool(actproject and proj.id==actproject.id)]}"
                   href="${f'{conf.root_url}/project/{proj.id}'}"
                   py:content="f'{proj.id} - {proj.name}'"
                />
            </div>

        </div>

    </py:block>
    <py:block name="content">
        <div class="container m-0 p-0">
            <div id="error-row" class="row mt-2 w-100 ${'' if error else 'd-none'}">
                <div class="container">
                    <div class="row bg-danger text-white border rounded p-4">
                        <h1 class="display-3 col-lg-2">Error</h1>
                        <div class="lead col-lg-10" id="error" py:content="markdown(error)"/>
                    </div>
                </div>
            </div>
            <div id="msg-row" class="row mt-2 w-100 ${'' if msg else 'd-none'}">
                <div class="container">
                    <div class="row bg-success text-white border rounded p-4">
                        <div class="lead col-lg-10" id="msg" py:content="markdown(msg)"/>
                    </div>
                </div>
            </div>
            <div class="container" py:if="actproject">
                <div id="description" py:if="actproject">
                    <div class="row mt-2 w-100">
                        <div class="container">
                            <div id="title-area"
                                 class="container bg-dark text-white w-100 border rounded flexbox shadow mb-4">
                                <h2 class="display-4 mr-8" py:content="f'{actproject.name}'"/>
                                <div class="display-4 col-sm my-auto text-right">
                                    <i class="fas fa-user-friends mr-4"/>${actproject.id}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="container border-bottom">
                                        <a href="${actproject.sourcelink}">
                                            <i class="fas fa-link mr-2"/>${actproject.name} homepage
                                        </a>
                                        by
                                        <span class="badge badge-primary ml-2" py:content="actproject.organization"/>

                                    </div>
                                    <div class="container" py:with="p=actproject.person_responsible" py:content="markdown('Spokes person: user:' + (p.username if p else 'N/A'))"/>
                                    <div class="container" py:content="markdown(actproject.comment)"/>
                                </div>
                                <div class="col-lg-2">
                                    <a class="btn btn-secondary dropdown-toggle" href="#edit" data-toggle="collapse">
                                        edit
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
                <div id="edit" class="container collapse border rounded px-4">
                    <form action="save"
                          method="post" py:if="is_member('supervisor')"
                    >
                        <div class="form-row mt-2">
                            <div class="form-group">
                                <label for="">ID:</label>
                                <input type="text" id="id" xname="id" class="form-control" value="${actproject.id}"
                                       readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="">Name:</label>
                                <input type="text" id="name" name="name" class="form-control" value="${actproject.name}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="sourcelink">Link to project homepage</label>
                                <input type="text" id="sourcelink" name="sourcelink" class="form-control"
                                       value="${actproject.sourcelink}"/>
                            </div>
                            <div class="form-group">
                                <label for="organization">Organization</label>
                                <input type="text" id="organization" name="organization" class="form-control"
                                       value="${actproject.organization}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="responsible">Spokes person</label>
                                <select id="responsible" name="person" class="form-control">
                                    <option value="${p.username}" py:content="p" py:for="p in supervisors" py:attrs="markoption(p == actproject.person_responsible)"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-2">

                            <label for="">Description:</label>
                            <textarea id="comment" name="comment" class="form-control"
                                      rows="4"
                                      py:content="actproject.comment"/>
                        </div>
                        <button class="btn btn-success mb-2" type="submit" id="save">
                            <i class="fas fa-save mr-2"/>
                            save changes
                        </button>
                    </form>
                </div>
                <h2 class="border-bottom">Members</h2>
                <div id="members" class="container">
                    <ul>
                        <li py:for="member, level in actproject.members()" class="form-row">
                            <div class="col-sm">
                                <span py:content="member" class="ml-2"/>(<span py:content="level"/>)

                            </div>
                            <form method="post" action="remove_member">
                                <button data-member="${member.username}"
                                        py:if="is_member('admin')"
                                        type="submit"
                                        class="btn btn-danger btn-sm col-sm-1 pr-3 project-remove-member"
                                        name="member_name" value="${member.username}"
                                        title="remove" data-toggle="tooltip"
                                ><i class="fas fa-times"/></button>

                            </form>
                        </li>
                    </ul>
                    <a href="#add-member" py:if="is_member('admin')" class="btn-sm btn-primary dropdown-toggle" data-toggle="collapse" aria-controls="add-member" aria-role="button"><i class="fas fa-plus"/> add member...</a>
                    <div py:if="is_member('admin')" class="collapse" id="add-member">
                        <form class="form-row border" method="post" action="add_member">
                            <input type="hidden" value="${actproject.id}" xname="project_id"/>
                            <select id="add_who" class="form-control col-sm" name="member_name">
                                <option value="${p.username}" py:for="p in persons" py:content="p"/>
                            </select>
                            <select id="add_level" class="form-control col-sm-3" name="access_level">
                                <option value="1">Logger</option>
                                <option value="2">Editor</option>
                                <option value="3">Supervisor</option>
                                <option value="4">Admin</option>
                            </select>
                            <button type="submit" id="addmember"
                                    class="btn btn-success btn-sm col-sm-1 project-add-member"><i class="fas fa-check"/></button>
                        </form>
                    </div>

                </div>
                <h2 class="border-bottom">Datasets</h2>
                <div id="datasets" class="container">
                    <ul>
                        <li py:for="ds in actproject.datasets">
                            <a href="${conf.root_url}/dataset/${ds.id}"
                               py:content="ds"/>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </py:block>
</py:extends>

