<!DOCTYPE html>
<py:extends href="bootstrap_navigation.html" xmlns:py="">
    <py:block name="scripts">
        <script type="text/javascript">
            const site = ${literal(as_json(actualsite) or '{}')};
        </script>
        <script type="text/javascript" src="${conf.root_url}/media/js/site.js"></script>
        <script type="text/javascript" async="async" defer="defer"
                src="${conf.google_maps_api('createMap')}">
        </script>

    </py:block>
    <py:block name="style">
        <style type="text/css">
            .removed {
                color: grey;
            }
            #sites-dropdown {
                max-height: 50vh;
                overflow-y: auto;

            }

        </style>
    </py:block>
    <py:block name="sidebar">
        <div class="container-fluid">
            <h4 py:if="actualsite">
                <img src="${conf.root_url}/media/mapicons/${actualsite.icon or 'unknown.png'}"/>
                <span py:content="actualsite" />
            </h4>
            <a class="btn btn-primary" href="${conf.root_url}/map?site=${id}">show on map...</a>
            <hr/>
            <div>
                goto:
            </div>
            <div class="btn-group dropright" role="group">
                <a href="./${id - 1}" class="btn btn-secondary form-control" py:attrs="{'disabled':'disabled'} if id == 1 else {}">&lt;</a>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="sites_dropdown_button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    sites
                </button>
                <div id="sites-dropdown" class="dropdown-menu">
                    <a href="./new#edit" class="dropdown-item"><i class="fas fa-plus mr-2"/>create a new site...</a>
                    <a href="./${s.id}" py:for="s in all_sites" py:content="s" class="dropdown-item"/>
                </div>
                <a href="./${id + 1}" class="btn btn-secondary form-control">&gt;</a>
            </div>
            <hr/>
            <div class="row"  py:if="actualsite">
                <div class="col">
                    <div class="nav flex-column nav-pills" role="tablist"  aria-orientation="vertical" id="site-tab">
                        <a id="site-tab" class="nav-link active border-top" data-toggle="pill" href='#sitedescription'>site</a>
                        <a id="map-tab" class="nav-link border-top" data-toggle="pill" href='#map'>map</a>
                        <a id="edit-tab" class="nav-link border-top" data-toggle="pill" href="#edit">edit</a>
                        <a id="message-tab" class="nav-link flexbox border-top" data-toggle="pill" href="#messagelist">
                            <span>messages</span><span class="badge badge-primary badge-pill" py:content="actualsite.logs.count()"/>
                        </a>
                        <a id="pic-tab" class="nav-link flexbox border-top" data-toggle="pill" href="#pictures">
                            <span>pictures</span><span class="badge badge-primary badge-pill" py:content="actualsite.images.count()"/>
                        </a>
                        <a id="instrument-tab" class="nav-link flexbox border-top" data-toggle="pill" href="#instrumentlist">
                            <span>instruments</span><span class="badge badge-primary badge-pill" py:content="actualsite.instruments.count()"/>
                        </a>
                        <a id="dataset-tab" class="nav-link flexbox border-top" data-toggle="pill" href="#datasetlist">
                            <span>datasets</span><span class="badge badge-primary badge-pill" py:content="actualsite.datasets.count()"/>
                        </a>
                        <a id="export-tab" class="nav-link flexbox border-top" data-toggle="pill" href="#export">export</a>
                    </div>
                </div>
            </div>

        </div>
    </py:block>
    <py:block name="content">
        <div class="container-fluid">
            <div class="alert bg-danger text-white" role="alert" py:if="error">
                <div class="row">
                    <div class="col-lg-1">
                        <i class="fas fa-exclamation-circle fa-3x"/>
                    </div>
                    <div class="col-lg-11">
                        <p class="lead" py:content="markdown(error)"/>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="tab" py:if="actualsite" >
                <div class="tab-pane active" id ="sitedescription" role="tabpanel">
                    <div class="container">
                        <div id="title-area" class="container bg-dark text-white w-100 border rounded flexbox shadow mb-4" >
                            <h2 class="display-4 mr-8" >
                                <span py:content="actualsite.name" />

                            </h2>
                            <div class="display-4 col-sm my-auto text-right" >
                                <img src="${conf.root_url}/media/mapicons/${actualsite.icon or 'unknown.png'}" height="48px" />
                                #${actualsite.id}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-sm-1">
                                <a class="btn btn-outline-primary rounded-pill"
                                   href="${conf.root_url}/map?site=${actualsite.id}"
                                   title="show on map..." data-toggle="tooltip"
                                >
                                    <i class="fas fa-map"/>
                                </a>

                            </div>
                            <div class="col-sm-5 text-center">
                                <div py:content="actualsite.as_coordinatetext()"/>
                            </div>
                            <div class="col-sm-5 text-center">
                                <div py:content="'UTM(%s) x=%0.1f/y=%0.1f' % actualsite.as_UTM()"/>
                            </div>
                        </div>
                        <div class="row border rounded">
                            <div class="col" py:content="markdown(actualsite.comment)"/>
                        </div>

                    </div>


                </div>
                <div class="tab-pane" id="map" role="tabpanel">
                    <div id="map_canvas" style="width:100%;height:512px"></div>
                </div>
                <div class="tab-pane" id ="edit" role="tabpanel">
                    <div py:if="not is_member('editor')" class="jumbotron">
                        <h1>Sorry,</h1>
                        <p class="lead">
                            Editing sites is only available for users with <b>editor</b> status, you are a <b>${users.current.group}</b>.
                        </p>
                        <hr class="my-4"/>
                        <p>If you need to edit sites, please ask the site-administrators to elevate your privileges.</p>
                    </div>

                    <form py:if="is_member('editor')"
                          action="${conf.root_url}/site/saveitem" method="post"
                          class="container-fluid mt-3">
                        <div class="form-group row">
                            <label for="id" class="col-sm-4 col-form-label">ID:</label>
                            <div class="col-sm-8">
                                <input type="text" id="id" name="id" value="${actualsite.id}"
                                       readonly="readonly" class="readonly form-control"/>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lon" class="col-sm-4 col-form-label">Longitude:</label>
                            <div class="col-sm-8 input-group">
                                <input type="text" id="lon" name="lon" value="${actualsite.lon}"  class="form-control"/>
                                <div class="input-group-append"><span class="input-group-text">° N</span></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lat" class="col-sm-4 col-form-label">Latitude:</label>
                            <div class="col-sm-8 input-group">
                                <input type="text" id="lat" name="lat" value="${actualsite.lat}"  class="form-control"/>
                                <div class="input-group-append"><span class="input-group-text">° E</span></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="height" class="col-sm-4 col-form-label">Height:</label>
                            <div class="col-sm-8 input-group">
                                <input type="text" id="height" name="height" value="${actualsite.height}"  class="form-control"/>
                                <div class="input-group-append"><span class="input-group-text">m a.s.l.</span></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label">Name:</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" name="name" value="${actualsite.name}"  class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="iconfile" class="col-form-label">Icon:</label>
                                <img src="${conf.root_url}/media/mapicons/${actualsite.icon if actualsite.icon else 'unknown.png'}" id="currenticon" />
                            </div>
                            <div class="col-sm-8">
                                <div class="">
                                    <button type="button" class="icon-button btn btn-outline-primary mr-1 mb-1"
                                            data-icon="${icon}"
                                            py:for="icon in icons"
                                    >
                                        <img src="${conf.root_url}/media/mapicons/${icon}"/>
                                    </button>
                                    <input name="icon" type="hidden" id="iconfile" value="${actualsite.icon}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="comment">Comment</label>
                                <a title="Get help for using links and formats"
                                   data-toggle="tooltip" data-placement="top" class="wiki-help" href="${conf.root_url}/download/wiki/help.wiki"
                                >
                                    <i class="fas fa-question-circle"/>
                                </a>
                            </div>
                            <div class="col-sm">
                                <textarea id="comment" name="comment"
                                          class="form-control"
                                          rows="10" py:content="actualsite.comment"/>
                            </div>
                        </div>
                        <button type="submit" id="save" name="save" class="btn btn-success">save</button>
                    </form>
                </div>
                <div class="tab-pane" id="messagelist" role="tabpanel">
                    <p>
                        Please report briefly any actions you have performed on this site, or if you observed something unusual.
                    </p>
                    <ul>
                        <li py:if="is_member('logger')">
                            <a href="${conf.root_url}/log/new?siteid=${actualsite.id}" style="font-style: italic;">New message...</a>
                        </li>
                        <li py:for="log in actualsite.logs">
                            <a href="${conf.root_url}/log/${log.id}" py:content="formatdatetime(log.time)"/>
                                ${log.user}<sup>log:${log.id}</sup> ${markdown(log.message)}
                        </li>
                    </ul>

                </div>

                <div class="tab-pane" id="pictures" role="tabpanel">
                    <div py:for="img in actualsite.images" style="display: inline">
                        <a href="${conf.root_url}/picture?id=${img.id}">
                            <img src="${conf.root_url}/picture/thumbnail/${img.id}"
                                 title="${'%s: %s (%s)' % (formatdatetime(img.time),img.name, img.by)}"
                                 data-toggle="tooltip"
                            />
                        </a>
                    </div>
                </div>

                <div class="tab-pane" id="instrumentlist" role="tabpanel" >
                    <div id="installations" class="container">
                        <h1 class="mt-2 bg-dark text-white">Installations</h1>
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#add-installation" aria-expanded="false" aria-controls="add-installation">
                            add installation
                        </button>
                        <form class="container border py-4 collapse" id="add-installation" py:if="is_member('editor')">
                            <input type="hidden" value="${actualsite.id}" id="actualsite-input"/>
                            <div class="form-group row" >
                                <label class="col-lg-4" for="installationdate">Installation date</label>
                                <div class="col-lg-8 ">
                                    <input type="date" class="form-control" id="installationdate" value="${datetime.today().strftime('%Y-%m-%d')}"
                                           data-toggle="tooltip"
                                           title="When has the instrument been installed"
                                    />
                                </div>
                            </div>
                            <div class="form-group row" >
                                <div class="col-lg-4">
                                    <label for="instrumentselect">Instrument</label>
                                    <a href="${conf.root_url}/instrument/new" class="btn btn-outline-secondary btn-sm" title="create a new instrument" data-toggle="tooltip"><i class="fas fa-plus mr-2" /><i class="fas fa-thermometer-half" /></a>
                                </div>
                                <div class="col-lg-8 ">
                                    <select id="instrumentselect" class="form-control"
                                            data-toggle="tooltip"
                                    >
                                        <option value="" disabled="disabled" selected="selected" >Please select an instrument to add</option>
                                        <option py:for="inst in instruments" value="${inst.id}">${inst} (${inst.id})</option>
                                    </select>
                                </div>
                            </div>
                            <button id="add-instrument-button" class="btn btn-success">
                                ok
                            </button>
                        </form>
                        <ul class="mt-4 border">
                            <li py:for="inst in actualsite.instruments" >
                                <a  href="${conf.root_url}/instrument/${inst.instrument.id}"
                                    py:if="inst.active"
                                    py:content="f'since {formatdate(inst.installdate)}: {inst.instrument}'" />
                                <span py:if="not inst.active" class="removed"
                                      py:content="f'until {formatdate(inst.removedate)}: {inst.instrument}'" />
                                <button data-installation="${inst.id}" data-instrument="${inst.instrument.id}" data-site="${inst.site.id}"
                                        py:if="is_member('editor') and inst.active"
                                        class="btn btn-outline-danger btn-sm rounded-circle installation-remove-button"
                                        title="remove installation" data-toggle="tooltip"
                                >
                                    <i class="fas fa-times"/>
                                </button>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="tab-pane" id="datasetlist" role="tabpanel"  >
                    <ul style="list-style-type: none;">
                        <li py:if="is_member('editor')" class="plus">
                            <a href="${conf.root_url}/dataset/new?site_id=${actualsite.id}"
                               style="font-style: italic;" >
                                Add new dataset...
                            </a>
                        </li>
                        <li py:for="ds in datasets">
                            <a href="${conf.root_url}/dataset/${ds.id}?site_id=${actualsite.id}"
                               py:content="ds" />
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="export" role="tabpanel">
                    <a href="sites.csv" style="float:left;">
                        <img src="${conf.root_url}/media/ui-icons/excel-icon.gif" />
                    </a>
                    <div class="box">
                        You can <a href="${conf.root_url}/site/sites.csv">download</a> all sites as a csv-file for import to Excel <a href="${conf.root_url}/site/sites.csv">here</a>.<br/>
                        Note: This works only if you are using English language settings in Windows.
                    </div>
                </div>
            </div>
        </div>


    </py:block>

</py:extends>
