<!DOCTYPE html>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            <a href="${conf.root_url}/site/${site.id}">
                <img src="${conf.root_url}/media/mapicons/${site.icon if site.icon else 'unknown.png'}" />
                #${site.id} (${site.name})
            </a>
        </h4>
    </div>
    <div class="card-body">
        <div py:if="site.height" py:content="'%0.1f m NN' % site.height" />
        <div class="my-3">
            <a href="#site-comment" id="comment-toggle" class="btn btn-secondary flexbox"
               data-toggle="collapse">
                <span><i class="fas fa-info-circle mr-2"/>description...</span><span><i class="fas fa-plus-circle"/></span>
            </a>
        </div>
        <div id="site-comment" class="collapse" py:content="markdown(site.comment)"/>

        <div class="list-group list-group-flush">
            <a class="list-group-item" href="${conf.root_url}/site/${site.id}#datasetlist">
                <i class="fas fa-table mr-2"/>
                <span >
                    ${site.datasets.count()} datasets
                </span>
            </a>
            <a class="list-group-item" href="${conf.root_url}/site/${site.id}#instrumentlist">
                <i class="fas fa-thermometer-half mr-2"/>
                <span >
                    ${site.instruments.count()} installations
                </span>
            </a>
            <a class="list-group-item" href="${conf.root_url}/site/${site.id}#messagelist">
                <i class="fas fa-tags mr-2"/>
                <span >
                    ${site.logs.count()} log entries
                </span>
            </a>


        </div>

    </div>
    <div class="card-footer bg-dark">
        <div id="pic-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="center carousel-item ${'' if i else 'active'}" py:for="i, img in enumerate(site.images)" >
                    <a href="${conf.root_url}/picture/${img.id}">
                        <img class="rounded" src="data:${img.mime};base64,${img.thumbnail64()}" />
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#pic-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#pic-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


