<!DOCTYPE html>

<py:extends href="layout.html" xmlns:py="">
    <py:block name="scripts">
        <!-- insert additional scripts -->
    </py:block>
    <py:block name="style">
        <!-- insert additional styles -->
    </py:block>
    <py:block name="sidebar">
        <!-- insert sidebar content -->
        <div class="list-group mx-2" >
            <a class="list-group-item list-group-item-action list-group-item-primary" href="../new">
                <i class="fas fa-plus-circle mr-3" />
                new topic
            </a>
            <a py:for="topic in topics"
               class="list-group-item list-group-item-action"
               href="../${topic.id}"
            >
                <i class="fas fa-inbox mr-3"/>${topic.name}
            </a>
        </div>
        <div class="container-fluid">
        </div>
    </py:block>
    <py:block name="content">
        <div class="content w-100">
            <div class="container">
                <div id="title-area" class="container bg-dark text-white w-100 border rounded flexbox shadow mb-1">

                    <div>
                        <h2 class="display-4 mr-8 d-inline-block" >${markdown(topic.name)}</h2>

                    </div>
                    <div class="display-4 col-sm my-auto text-right">
                        <i class="fas fa-inbox mr-4"/>${topic.id}
                    </div>
                </div>
                <div py:content="markdown('by user:' + topic.owner.username)"/>
                <div py:content="markdown(topic.description)"/>


                <div class="container mt-4">
                    <a href="#edit-div" class="btn btn-secondary dropdown-toggle" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="edit-div">
                        <i class="fas fa-edit"></i> edit topic
                    </a>
                    <button class="btn btn-primary" id="btn-send" role="button" >
                        <i class="fas fa-paper-plane"/> write message</button>
                    <div class="collapse container border rounded p-4" id="edit-div">
                        <form method="post" action=".">
                            <div class="form-group row" py:if="can_edit_id">
                                <label for="edit-id" class="col-form-label col-sm-4">ID:</label>
                                <input id="edit-id" name="id" value="${topic.id}" class="form-control col-sm-8"/>
                            </div>

                            <div class="form-group row">
                                <label for="edit-name" class="col-form-label col-sm-4">Name:</label>
                                <input type="text"  id="edit-name" name="name" value="${topic.name}"
                                       class="form-control col-sm-8" py:attrs="prop(readonly=not can_edit)"/>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Owner:</div>
                                <div class="col-sm-8">${topic.owner}</div>
                            </div>
                            <label for="edit-description" class="markdown">
                                Description:
                                <a title="Get help for using links and formats" data-toggle="tooltip" data-placement="top" class="ml-1 wiki-help" href="${conf.root_url}/help/odmf-markdown">
                                    <i class="fas fa-question-circle"/>
                                </a>
                            </label>
                            <div class="form-group row">
                                <textarea  id="edit-description" name="description"
                                           class="markdown form-control"
                                           py:attrs="prop(readonly=not can_edit)" rows="5"
                                >${topic.description}</textarea>

                            </div>
                            <div class="form-group row">
                                <button  id="edit-save" name="save" value="save"
                                         py:if="can_edit"
                                         class="btn btn-secondary mr-1"
                                         type="submit"
                                         title="Saves the changes to the database"
                                         data-toggle="tooltip"
                                         py:attrs="prop(disabled=not can_edit)"
                                >
                                    <i class="fas fa-check mr-1" />
                                    save changes
                                </button>
                                <button  id="edit-saveandown" name="save" value="own"
                                         py:if="Level.my() >= Level.admin"
                                         type="submit"
                                         class="btn btn-secondary mr-1"
                                         title="Saves the changes and makes you the owner of the topic"
                                         data-toggle="tooltip"
                                         py:attrs="prop(disabled=not can_edit)"
                                >
                                    become owner
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </py:block>
</py:extends>
