<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />


	<link href='/media/fullcalendar/fullcalendar.css' rel='stylesheet' />
	<link href="/media/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Calendar</title>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>	
	<script type="text/javascript" src="/media/jquery-1.7.1.min.js"></script> 
  <script src="/media/fullcalendar/jquery/jquery-1.9.1.min.js" type="text/javascript" ></script>
  <script src="/media/fullcalendar/jquery/jquery-ui-1.10.2.custom.min.js" type="text/javascript" ></script>
  <script src='/media/fullcalendar/fullcalendar.min.js'></script>
	<script>
	
		//<![CDATA[
		function date2str(date) {
			//return date.getDay() + '.' + (date.getMonth()+1) + '.' + date.getFullYear();
			var str = date.toLocaleString() 
			return str.substr(0,str.length - 9);
		}
		function getsource(url) {
			return {
				url: '/calendar/' + url + '.json',
				type: 'POST',
				data: {responsible: 'all'},
				allDayDefault: false,

				error: function() {
					$('.error').html('Error getting data from ' + url);
				}
			} 
		}
		function createcalendar(src) {
			$('#calendar').html('');
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				theme: false,
				firstDay:1,
				aspectRatio: 2,
				editable: false,
				timeFormat: 'H(:mm)',
				eventSources: [getsource(src)],
	      // add event name to title attribute on mouseover
        eventMouseover: function(event, jsEvent, view) {
          if (view.name !== 'agendaDay') {
              $(jsEvent.target).attr('title', event.title);
          }
        },
        dayClick: function( date, allDay, jsEvent, view ) {
        	$('#calendar').fullCalendar('gotoDate',date);
        	$('#currentdate').html(date2str(date));
        },
			});
			
		}
		$(document).ready(function() {
			createcalendar('jobs');
			$('#eventsource').change(function() {
				var src=getsource($('#eventsource').val());
				$('#calendar').fullCalendar('addEventSource',src);
			});
			var date = $('#calendar').fullCalendar('getDate');
			$('#currentdate').html(date2str(date));			
		});
		//]]>
	</script>
	<style type="text/css">
		#calendar {
			width: 100%;
	    margin: 0 auto;
	    font-size: 1em;
		}
		div.fc-event-inner {
			font-size: 0.9em;
		}
		div.fc-event {
			height: 0.8em;
		}
		h2 {
			background: none;
			font-size: 2em;
			font-style:italic;
			font-weight: bold;
			border-bottom: none;
		}
	</style>	
	
</head>
<body>
	${navigation('Calendar')}
	<div class="content">
		<div class="error"></div>
		<div>
			
		</div>
		<!--
		<div>
			Calendar source:
			<input id="eventsource" size="20"/>
		</div>
		-->
		<div id="currentdate"></div>
		<div id="calendar" ></div>
	</div>
</body>
</html>
