<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <!-- Server configuration, see conf.py for HEAD_BASE -->
    <base href="${head_base}" />

	<link href="/media/iconilr.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Calibrate ${target}</title>
	<style>
		th.record { background-color: #32739D;
								color: white;
								padding-left: 0.5em; 
								padding-right: 0.5em; 
							}
		tr.record {	border-bottom: solid 1px black;}
		td.record { border: thin dotted #32739D;
								padding-left: 0.5em; 
								padding-right: 0.5em; 
								text-align: right;
							}
		td.value  { border: none;
								padding-left: 0.5em; 
								padding-right: 0.5em; 
								text-align: right;								
							}
		.method_off {
			display:none;
		}
	</style>
  <script src="/media/jquery-1.7.1.min.js" type="text/javascript" ></script>
	<script>
		//<![CDATA[
    function toggle(id) {
    	$('#' + id).slideToggle('fast');
    }
		function reload(targetid,calibrate) {
			var data={};
			data = {
				sourceid:$('#sourceid').val(),
				targetid:targetid,
				limit:$('#limit').val(),
				calibrate:calibrate
			};
			$.get('/dataset/calibration',data,function(html){
				$('#content').html(html);
			});
		}
		function changemethod() {
			$('.method_lr,.method_off').fadeToggle();
		}
		//]]>
	</script>
  <script py:if="result">
  	//<![CDATA[
  	function applycalib(withslope) {
  		var slope = withslope?${result.slope}:1.0;
  		var offset = withslope?${result.offset}:${result.meanoffset};
  		var params = {sourceid:${source.id},
  									targetid:${target.id},
  									slope:slope,offset:offset};
  		$.post('/dataset/calibration/apply/',params,function(data){
  			if (data) {
  				$('.error').html(data);
  			} else {
  				window.location='/dataset/${target.id}'
  			}
  		});
  	}
  	//]]>
  </script>
</head>
<body>
	<!--${navigation('Calibrate ' + str(target))}
	<div class="content">-->
	<div id="content">
    <div class="error" py:content="error" />
    <div>    	
    	Calibrate from:
	    	<input type="hidden" value="${target.id}" name="targetid"/>
	    	<select id="sourceid" onchange="reload(${target.id},false)">
	    		<option value="" style="font-style: italic;">&lt;Please select...&gt;</option>
	    		<option py:for="ds in sources" value="${ds.id}" 
	    						py:content="ds" 
	    						py:attrs="markoption(ds is source)"/>
	    	</select>
    </div>
    <div py:if="source">
    	Records in timeseries: ${sourcecount}<br/>
    	<div>
	    	<p>
		    	Limit time error to: <input type="text" id="limit" value="${limit}" />s    		
	    	</p>
	    	<button onclick="reload(${target.id},true)">calibrate</button>
			</div>
    </div>
    <div py:if="result">
	    <h3><a href="javascript:toggle('result')">&#x25BE; Calibration results</a></h3>
	    <table py:with="unit=target.valuetype.unit" id="result">
	    	<tr class="record">
	    		<th class="record">index</th>
	    		<th class="record">value</th>
	    		<th class="record">unit</th>
	    		<th class="record"></th>
	    		<th class="record"></th>
	    	</tr>
	    	<tr>
	    		<td title="Number of matches">n</td>
	    		<td class="value">${len(result)}</td>
	    		<td></td>
	    	</tr>
	    	<tr>
	    		<td>mean(x<sub>target</sub>)</td>
	    		<td class="value">${'%g' % result.target_mean}&plusmn;${'%0.4g' % result.target_std}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>mean(x<sub>source</sub>)</td>
	    		<td class="value">${'%g' % result.source_mean}&plusmn;${'%0.4g' % result.source_std}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td>r<sup>2</sup></td>
	    		<td class="value">${'%g' % result.r2}</td>
	    	</tr>
	    	<tr title="Root mean square error, uncalibrated">
	    		<td>RMSE</td>
	    		<td class="value">${'%g' % result.rmse}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr><td></td></tr>
	    	<tr class="record">
	    		<th class="record">
	    			Calibration method:
	    		</th>
	    		<th class="record">linear regression</th>
	    		<th class="record"></th>
	    		<th class="record">mean offset</th>
	    		<th class="record"></th>
	    	</tr>
	    	<tr class="method_lr">
	    		<td>slope</td>
	    		<td class="value"><span id="slope" py:content="'%g' % result.slope"/></td>
	    		<td></td>
	    		<td class="value"><span id="slope" py:content="'1.0'"/></td>
	    	</tr>
	    	<tr class="method_lr">
	    		<td>offset</td>
	    		<td class="value"><span id="offset" py:content="'%g' % result.offset"/></td>
	    		<td py:content="unit"/>
	    		<td class="value"><span id="meanoffset" py:content="'%g' % result.meanoffset"/></td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr class="method_lr" title="Root mean square error, calibrated">
	    		<td >RMSE<sub>calib.</sub></td>
	    		<td class="value">${'%g' % result.rmse_lr}</td>
	    		<td py:content="unit"/>
	    		<td class="value">${'%g' % result.rmse_off}</td>
	    		<td py:content="unit"/>
	    	</tr>
	    	<tr>
	    		<td></td>
	    		<td>
						<button onclick="applycalib(true)">
	    				calibrate regression
	    			</button>
	    		</td>
	    		<td></td>
	    		<td>
	    			<button onclick="applycalib(false)">
	    				calibrate offset
	    			</button>
					</td>
	    	</tr>
	    </table>
	    <h3><a href="javascript:toggle('resultlist')">&#x25BE; Matching records</a></h3>
	    <table py:with="unit=source.valuetype.unit if source else ''" class="toggle" id="resultlist">
	    	<tr class="record">
	    		<th class="record">time</th>
	    		<th class="record">source (${unit})</th>
	    		<th class="record">target (${unit})</th>
	    		<th class="record">time error (s)</th>
	    		<th class="record">error (lr)</th>
	    		<th class="record">error (off)</th>
	    		
	    	</tr>
	    	<tr py:for="r in result">
	    		<td class="record" py:content="formatdatetime(r['t'])" />
	    		<td class="record" py:content="'%g' % r['source']" />
	    		<td class="record" py:content="'%g' % r['target']" />
	    		<td class="record" py:content="'%g' % r['dt']" />
	    		<td class="record" py:content="'%g' % (r['lr']-r['source'])" />
	    		<td class="record" py:content="'%g' % (r['off']-r['source'])" />
	    	</tr>
	    </table>
	  </div>
    
 </div>
</body>
</html>